[2020-09-15 13:03] AYoungSn commented on #304
uri 등록할 때 http://localhost ~~~하셨으면 127.0.0.1로 바꿔보세요

[2020-09-16 02:02] LEE-JANGWO opened #500 "관리자분은 확인부탁합니다."
책 내용과 관련하여 여러 질문에 대한 답변이 너무 없는거 아닙니까?

[2020-09-17 02:58] kimingyo071 opened #501 "[오류] p.376"
### 어떤 오류인가요?

오류설명: nginx 403 forbidden 에러

p.374의 'starting nginx : [ok]' 메세지도 확인했구요.
p.375의 구글 및 네이버에서 8080을 제거한 주소 등록도 했습니다.
이후 8080을 제거한 주소를 브라우저에서 접속했더니 아래 사진과 같은 모습이 보였습니다.
해결방법이 있을까요

2번째 사진은 step2의 nohup 로그입니다.
nohup에서 invalid character found in method name. http method names must be tokens
라는 에러 코드가 뜹니다

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Gi

[2020-09-17 03:35] kimingyo071 commented on #501
해당 내용 무시하고 진행했더니 그냥 되네요

[2020-09-17 05:08] kimingyo071 commented on #381
ec2 재부팅 해서 step2에서 실행중인 어플 종료는 어떻게 하셨나요?

[2020-09-17 14:28] #489 closed, assigned to jojoldu

[2020-09-21 14:54] zkins commented on #484
저도 똑같은 에러가 발생합니다

Status expected:<200> but was:<401>
Expected :200
Actual   :401
<Click to see difference>

윗분은 404 not found 이지만 저는 401 Unauthorized 에러인데
테스트 시 get("/hello") 요청 보내기 전에 따로 서버 설정이 필요하지는 않나요??

[2020-09-22 14:49] tlsrid88 commented on #486
페이지 잘못 검색해서 들어왔습니다.
저도 처음 공부를 해보는거랑 맞는지는 모르겠지만 우선은 말씀드려봅니다.

위 인바운드 규칙에 많은 항목이 있는걸로 봐서는 아마도 ec2의 설정 같습니다.

그러니 rds 보안그룹이 정확한지 한 번 확인해보세요.

[2020-09-23 08:47] lgs2134 opened #502 "[오류] p.132"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:  mustache실습 도중 IndexController를 다른 directory에서 생성을 했다는것을 알고 위치를 변경하였습니다. 변경 후에 controller를 찾을수가 없다는 오류가 발생이 되는데 스프링부트 에서는 controller 매핑

[2020-09-23 12:06] haenana09 opened #503 "[오류] p.115 업데이트/수정하기 오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

### 어떤 오류인가요?

오류설명 : Posts_등록된다()와 Posts_수정된다() 테스트가 자꾸 실패하네요.. 한시간 넘게 찾아보다가 못찾겠어서 질문올립니다.

### 프로젝트 주소
* Github URL : 해결

### 오류 로그
[code]

[2020-09-24 12:31] #503 closed, assigned to jojoldu

[2020-09-24 12:31] haenana09 commented on #503
해결하였습니다. 오타가 있었네요 ;ㅎ

[2020-09-28 16:06] so-woon-1221 commented on #423
이미 해결하셨을수도있지만 이거 ec2에서 데이터베이스 접속해서 권한 바꿔주면 돼요~~

[2020-09-29 09:14] #501 closed, assigned to jojoldu

[2020-09-29 11:55] kimingyo071 commented on #498
어떻게 해결하셨나요?

[2020-09-29 18:16] kimingyo071 opened #504 "[오류] p.99 쿼리로그 insert문"
### 어떤 오류인가요?

오류설명: 99쪽 그림처럼 쿼리문이 안뜨네요
Create문은 뜨는데 insert(update,select)문이 안뜹니다

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL: https://github.com/kimingyo071/springboot-webservice

### 오류 로그
![92735122-16c69f80-f3b4-11ea-8503-36e23615a708](https://user-images.githubusercontent.com/67263684/94599376-51449d80-02cb-11eb-83be-3904cbb13a98.png)

![92735

[2020-09-29 18:17] kimingyo071 opened #505 "[오류] p.99 쿼리문 오류"
### 어떤 오류인가요?

오류설명: 99쪽 그림처럼 쿼리문이 안뜨네요
Create문은 뜨는데 insert(update,select)문이 안뜹니다

### 프로젝트 주소
* Github URL: https://github.com/kimingyo071/springboot-webservice

### 오류 로그
![92735122-16c69f80-f3b4-11ea-8503-36e23615a708](https://user-images.githubusercontent.com/67263684/94599376-51449d80-02cb-11eb-83be-3904cbb13a98.png)

![92735180-28a84280-f3b4-11ea-8fd5-b056c19d6e58](https://user-images.github

[2020-10-03 05:24] ghost commented on #249
저도 같은 오타로 며칠;; 고생 중이었는데! ㅎㅎ 게시글 올려주셔서 감사합니다!

[2020-10-05 11:39] kbk456 commented on #423
감사합니다^^

[2020-10-05 13:49] somiyv opened #506 "[오타 제보] p.142"
기존에 올라온 제보가 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 오타

* as-is (오타): 굳이 index라는 변수의 속성으로...

* to-be (교정): 굳이 main이라는 변수의 속성으로...

제가 잘못알고 있는것인지 궁금해서 여쭤봅니다..ㅠㅠ
index.js에서 선언된 변수는 var main= {} 인데, 책에서는 'i

[2020-10-12 09:17] SK9604 opened #507 "[오류] p.383 /profile로 접속하였을 때 정상적으로 작동하지 않습니다"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 앞선 실습을 모두 완료 한 후 브라우저에서 /profile로 접속하였을 때 아래와 같은 화면이 나타납니다
![image](https://user-images.githubusercontent.com/56914461/95728577-a06cd40

[2020-10-13 09:01] SK9604 commented on #379
@zhtmr 혹시 어떤 deploy.sh 에 어떤 부분을 고치셨는지 여쭤봐도 될까요?

[2020-10-13 09:46] SK9604 commented on #507
자답입니다. 하루 종일 코드 다 갈아엎고 책 처음부터 다시 진행하며 코드에 미묘하게 다른 부분도 다 수정하였습니다.
github의 repo 이름을 springboot에서 freelec-springboot2-webservice로 변경하였고  ec2에서 git clone을 다시 해준 뒤 접속하니 정상적으로 접속이 되네요..
![image](https://user-images.githubusercontent.com/56914461/95844877-69fd8a80-0d84-11eb-9e91-6320b340b7c6.png)

[2020-10-13 09:46] #507 closed, assigned to jojoldu

[2020-10-16 15:31] isidore-song commented on #485
[https://stackoverflow.com/questions/8040640/tomcat-startup-8080-address-already-in-use/8042593](https://stackoverflow.com/questions/8040640/tomcat-startup-8080-address-already-in-use/8042593)
저도 같은 오류를 겪었습니다. 제 경우에는 EC2 인스턴스를 재부팅 해서 성공했습니다.

[2020-10-17 11:03] fftl commented on #174
@G1Kwon

@PostMapping("/api/v1/posts")가 맞는 구성인데 제 소스는
@PostMapping("/api/vi/posts") 로 되어 있어서 메서드 자체를 못탔습니다..

=>이거보고 확인해보니 똑같은 실수가.. ㅎㅎㅎ 감사합니다.

[2020-10-20 11:04] rscheon20 commented on #423
죄송하지만 어떤걸 권한을 바꿔야하나요?

[2020-10-20 11:11] smkyoyo opened #508 "[오류] p.74"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

### 어떤 오류인가요?

오류설명: HelloResponseDto.java 와 관련하여 HelloResponseDtoTest.java를 실행하는 도중, 아래와 같은 오류가 발생합니다.
`private final String name;
 private final int amount;`
**_error: variable name not initialized in the default constructor private final String name;_**
@RequiredArgsConstructor가 선언된 모든 final 필드가 포함된 생성자를 생성해 준다고 되어 있는데,
default constructor에서 초기화 되지 않았다고 하는 것은,
@Requi

[2020-10-21 03:32] smkyoyo commented on #508
저자님이 남겨주신 Gradle4로 변경하는 방법을 수행하였더니 해당 이슈가 해결되었습니다.

[2020-10-21 03:35] smkyoyo commented on #508
메인화면에 저자님께서 남겨주신 대로 Gradle 4로 변경하도록 수행하였더니 이슈가 해결 되었습니다.
Gradle 5에서부터는 `@RequiredArgsConstructor` 를 선언한 서비스에서 Default 생성자를 사용하도록 변경되었기 때문이라고 하네요.
아래 블로그를 참조하였습니다.
https://kkambi.tistory.com/155

[2020-10-21 03:35] #508 closed, assigned to jojoldu

[2020-10-22 08:09] sayhara opened #509 "[오류] p.311 command not found"
안녕하세요 실습을 하던 도중 고민하다 도저히 모르겠어서 질문드립니다.

./deploy.sh를 실행하는 도중 아래와 같은 에러가 발생합니다.

![질문1](https://user-images.githubusercontent.com/51408349/96842956-b2a1fb80-1488-11eb-935f-ca2421b2fb4d.JPG)

아래는 오류가 난 부분의 deploy.sh의 코드입니다.

![질문2](https://user-images.githubusercontent.com/51408349/96843174-fd237800-1488-11eb-8413-14132cd0388b.JPG)

nohup.out 의 내용입니다.

![질문3](https://user-images.githubusercontent.co

[2020-10-22 23:12] camel-master opened #510 "[오타 제보] p.180"
### 오타

* as-is (오타): builg.gradle 설정이 끝났으면 ...

* to-be (교정): build.gradle 설정이 끝났으면 ...

[2020-10-23 04:27] sayhara commented on #509
문제 해결됬습니다!

![2](https://user-images.githubusercontent.com/51408349/96956586-7aa3c280-1533-11eb-8bc9-251ded4d2745.JPG)

위와 같이 코드를 수정 후 다시 입력하여 수정했습니다

[2020-10-24 09:17] camel-master opened #511 "p.196"
### 오타
조사를 자연스럽게 바꿔주면 뜻이 명확해질듯 합니다.

* as-is (오타): UserArgumentReslover라는

* to-be (교정): UserArgumentReslover는

### 코드를 보고 한참 생각해야 이해할 수 있었던 구문을 좀 더 쉽게 풀어봤습니다.
*as-is:
HandlerMethodArgumentResolver 는 한가지 기능을 지원합니다. 바로 조건에 맞는 경우 메소드가 있다면 HandlerMethodArgumentResolver의 구현체가 지정한 값으로 해당 메소드의 파라미터로 넘길 수 있습니다.

*to-be:
HandlerMethodArgumentResolver를 구현한 구현체가 있고 이 구현체의 supportParameter() 메소드 에서 정의한 것과 동일

[2020-10-26 03:12] hanhyur commented on #506
해당 코드 마지막에 index.init()이라고 되어있는데 index부분과 var main에서 main부분이 같은 이름(var index면 index.init(), var main이면 main.init())이면 동작합니다.

[2020-10-27 07:56] rhkdtjd95 opened #512 "[오류] p.192 Google 로그인 문제"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:p 192 구글 로그인 할려고 실행을 하는데 오류가 뜹니다.
![캡처](https://user-images.githubusercontent.com/49965917/97272301-0a6ba880-1875-11eb-8907-63119b96f949

[2020-10-27 09:07] jammama commented on #470
똑같은 상황이었어서(h2에서 세션테이블도 잘 나타남)
build.gradle에서
compile('org.springframework.session:spring-session-jdbc')를 주석처리하고 reload,
그리고 다시 주석 풀고 reload 했더니 거짓말처럼 나타나더군요
오히려 이후 gradle reload하고도 나타나지 않는 현상을 재현하지 못했습니다ㅎ..

[2020-10-27 11:50] swwony08 opened #513 "[오류] p.192 GooleLogin후 userName 오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:  **구글 로그인 후 Logged in as :  ' 이름 ' 이 나오지 않고 계속 User로 노출 됩니다.
하지만 h2-console 에는 이름이 제대로 저장 되어있습니다.**

![image](https://user-images.githu

[2020-10-27 13:46] #513 closed, assigned to jojoldu

[2020-10-28 04:03] filiushominis opened #514 "[오류] p.74 컴파일 오류가 발생합니다."
오류설명:
롬복 설정의 오류가 문제 인지 @RequiredArgsConstructor로 지정한 생성자 호출 부분에서 컴파일 오류가 발생합니다.

/Users/fourthvalue/Desktop/freelec-springboot2-webservice/src/test/java/com/jojoldu/book/springboot/web/dto/HelloResponseDtoTest.java:14: error: constructor HelloResponseDto in class HelloResponseDto cannot be applied to given types;
        HelloResponseDto dto = new HelloResponseDto(name, amount);

[2020-10-28 04:30] filiushominis commented on #514
자문자답 입니다.

어느 단계에선가 초기 값이 설정 되지 않았다는 메세지가 떠서 다음과 같이 했었는데,
    private final String name=null;
    private final int amount=0;

원상복구 하고 나서 실행되니 잘 됩니다.

[2020-10-28 04:30] #514 closed, assigned to jojoldu

[2020-10-28 07:46] parksil0 commented on #245
혹시나 해서 제가 해결한 방법을 공유합니다!
src/main/resources/application.properties 의 내용 중,

`spring.profiles.include=oauth`
에서

`spring.profiles.include=real-oauth`
로 수정한 후 푸쉬 후 해결되었습니다.

[2020-10-28 21:27] yooooonk opened #515 "[오류] p.191"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:

### 프로젝트 주소

* Github URL: https://github.com/yooooonk/springboot-aws

### 오류 로그

![image](https://user-images.githubusercontent.com/6

[2020-10-30 13:25] Tocktock commented on #54
저도 3판에 같은 오류가 계속 떠서 코드가 잘못됬나 뭐가 잘못됬나 싶어서 이것저것 찾아보다가 테스트 로그를 봤는데 DB에 테이블 생성이 안되고 있더라구요.. 그 전에 PostsRepostory 테스트 때는 오류 없이 무사 통과하다가 PostsRepostory 테스트도 안되길래 SQL 문제인가 싶어서 application.properties 에서
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL5InnoDBDialect
이 문구를 삭제하니까 모든 테스트가 통과 하더라구요.

찾아보니 springboot 버전에서 저 문구가 depreciate 된 거 같더라구요. 그냥 지우고 진행해도 괜찮을까요?

[2020-11-03 01:55] ghost opened #516 "[오류] p.65"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

확인
distributionUrl=https\://services.gradle.org/distributions/gradle-4.10.2-bin.zip
        springBootVersion = '2.1.7.RELEASE'

일단 실행이 안되는건 알겠는데 뭐가 문제인지 대부

[2020-11-03 09:21] ghost opened #517 "[오류] p.260, 261"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: AWS에서 hostname을 변경해야하는데 여기서 어떻게 해야하는지를 모르겠습니다. hostname을 적고 어떤 행동을 해도 저기서 넘어가질 않네요.

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주

[2020-11-03 16:47] joohongkim1 opened #518 "[오류] p.220, p.221"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: helloControllerTest의 hello가 리턴된다에서 200이 아니라 404 가 들어옵니다.

### 프로젝트 주소

* Github URL:
https://github.com/joohongkim1/springboot-webservi

[2020-11-04 10:43] joohongkim1 opened #519 "[오류] p.235"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: AWS 리눅스 AMI 1 이 서비스 종료된 것 같은데 그냥 2로 진행해도 되는 건가요?

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Git

[2020-11-06 11:35] smkyoyo opened #520 "p144 게시글 등록 버튼 동작 안함"
### 어떤 오류인가요?

오류설명: "글이 등록되었습니다" 라는 Alert이 노출되지 않고 DB에도 데이터가 저장되지 않음.

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL: https://github.com/smkyoyo/MyFirstSpringProejct.git

### 오류 로그
별다른 오류는 없지만 등록 버튼이 동작하지 않음
![image](https://user-images.githubusercontent.com/20315222/98361838-9b116800-206f-11eb-82f7-4a352a523a80.png)

[2020-11-06 16:30] bossm0n5t3r commented on #487
https://stackoverflow.com/questions/30522939/aws-rds-parameter-group-not-changing-mysql-encoding

`SHOW VARIABLES like 'c%';`

`SHOW GLOBAL VARIABLES like 'c%';`

global 로 찾아보면 잘 적용되어있으나, 그냥 variables 로 보면 안되더라구요... 물론 global 로 설정되어있더라도 뒤에 진행이 안되어서

global variables를 variables로 적용하는 방법을 찾아보려합니다...

재부팅은 한번했는데 적용이 안된걸로 보이네요

[2020-11-07 12:39] swwony08 commented on #496
저는 /home/ec2-user/app/application-oauth.properties \ 부분을 바로 윗 줄 뒤에 붙여서 하니까 작동했습니다

[2020-11-08 11:04] #517 closed, assigned to jojoldu

[2020-11-10 08:17] trueye opened #521 "[오류] p.65 톰캣 관련"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: Application.java 메인 실행 시 톰캣 무한 로딩이 발생합니다. 8080을 사용중인 pid를 제거해봤지만 효과가 없습니다.(taskkill) 어떤 방법이 있을까요?

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주

[2020-11-13 14:39] Thomas-Lim opened #522 "[해결] p. 211 ~ 212 Gradle 전체 테스트 실행불가"
해결완료.

기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: Gradle로 실행하는 전체테스트 부분이 전혀 실행이 안됩니다. Gradle 버전을 바꿔봐도 안되고, 도대체 뭐가 문제인지 모르겠네요. 저와 비슷한 사례가 있는 분 있나요?

### 프로젝트 주소

Github에 오류가 난 프로젝

[2020-11-14 04:26] team-softgrid opened #523 "[오타 제보] p.152 > post.id 아니고 posts.id 입니다. 이하 필드 모두 동일 오타(냉무)"
기존에 올라온 제보가 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 오타

* as-is (오타):

* to-be (교정):

[2020-11-14 12:33] #522 closed, assigned to jojoldu

[2020-11-17 14:24] YooInKeun commented on #387
안녕하세요 : ) 우연히 보게되서 글 남깁니다
"스프링부트 시작 웹 서비스" 라는 문자열이 index.mustache에 존재하지 않는 거 같아요
제 생각에는 오타일 가능성이 높을 거 같습니다

[2020-11-18 02:34] kimhyun5u commented on #449
저도 동일한 오류가 발생하네요 ㅠㅠ

[2020-11-18 14:57] hungryo-dev opened #524 "[오타 제보] 아래 p.152 문의 관련하여 재수정이 필요하지 않을까요.."
이전글에서
[오타 제보] p.152 > post.id 아니고 posts.id 입니다. 이하 필드 모두 동일 오타(냉무)
이렇게 나와있는데
post.id가 맞는거 같은데요.

업데이트 화면에서 단건에 대한 dto를 post로 넘기는데 화면단에서 post.id로 받는게 맞지 않나요...
@GetMapping("/posts/update/{id}")
    public String postsUpdate(@PathVariable Long id, Model model) {
        PostsResponseDto dto = postsService.findById(id);
        model.addAttribute("post", dto);

        return "posts-update";
    }

4

[2020-11-18 15:00] hungryo-dev commented on #524
아 저 5쇄반영 라벨이 자동으로 붙는구나...

[2020-11-20 12:09] HoseonYim commented on #2
오 저도 비슷한 문제가 있었는데 다운그레이드 하니까 해결이 잘됬습니다!
게다가 gradle에서 버전 내리는 걸 어떻게 하는지 고민 하고 있었는데 이것을 통해 그것도 알게 되네요!

[2020-11-23 07:32] eparksv opened #525 "[오류] p.260 hostname 변경"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:
혹시 같은 부분에서 막힌 분 계실까 해서 이슈 올립니다.
2020년 11월 23일 기준 Amazon Linux AMI로는 인스턴스 생성이 불가능하고 Amazon Linux2로만 가능합니다.
amazon linux2에서는 호스트명 변경 방법이

[2020-11-24 01:13] myBabyGrand commented on #520
저도 동일한 증상을 겪었는데요.
chrome의 개발자도구로 확인해보니 "**uncaught syntaxerror unexpected token <**"에러가 발생하더군요

IndexController의 GetMapping 애노테이션을 아래와 같이 바꾸시면 됩니다

[code]

저도 스프링MVC에 대한 깊은 이해가 부족해서 자세한 설명은 못드리겠습니다

[2020-11-25 07:55] jammama opened #526 "[오류] p.323 travis-ci.org에서 com으로 옮겨주세요."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:
travis-ci.org 2020년에 문 닫습니다.
https://mailchi.mp/3d439eeb1098/travis-ciorg-is-moving-to-travis-cicom?e=%5BUNIQID%5D
2018년에 결정난 사항이라, 5쇄가

[2020-11-27 06:15] Juyeon-Lee commented on #82
저도 같은 오류가 나서 여기 보고 도움 받았습니다!
**저는 properties 사이에 콤마 다음 공백을 넣었더니 오류가 나더라고요.**
저처럼 오류 나는 사람들을 위해서 한마디 남깁니다ㅎㅎ

[2020-11-27 08:22] ms-seo95 commented on #33
hibernate.dialect=org.hibernate.dialect.MySQL5Dialect 와 같이 하시면 됩니다.

[2020-11-27 13:57] Juyeon-Lee commented on #474
@Yubron 소름돋네요... 저는 이 이유는 아니겠지 하면서 다른거 막 삽질하면서 반나절을 보내다가
다시 이 글로 돌아와서 설마,,, 하면서 확인해보니까 저도 그래서 안되고 있었습니다!!!ㅜㅜ 감사해요!

[2020-11-27 14:07] Yubron commented on #474
@Juyeon-Lee
해결되었다니 다행이네요 ! 저 사실 깃허브에 댓글 달린게 처음이라 후다닥 뛰어왔습니다 ㅋㅋㅋㅋㅋ
앞으로 더 많은 자답을 남겨야겠어요 ! 남은 부분도 문제 없이 완결내시길 기원합니다 !

[2020-11-28 00:29] haebin-lee opened #527 "[오류] p.329 AWS Key 발급 후 github에 올려도 되나요?"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL:

### 오류 로그

코드 배포를 위해서 IAM>사용자 에서 AWS 액세

[2020-11-29 07:18] BaeksuPang opened #528 "[오류] p.64 테스트코드"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:
Status expected:<200> but was:<401>
Expected :200
Actual   :401
<Click to see difference>

자격증명관련 오류가 발생합니다.
localhost:8080/hello 에 들어가

[2020-11-29 09:56] #528 closed, assigned to jojoldu

[2020-12-03 14:49] smkyoyo commented on #520
아 답변 감사드립니다만, 저와 동일한 이슈가 아니신듯 하네요. 저는 본래 코드에 님이 쓰신대로 되어 있었습니다. ^^;

[2020-12-04 09:05] whdals7337 commented on #527
혹시 travis.yml에 액세스 키와 비밀키를 적어두신거 아닌가요?
책에서는 travis에서 액세스키와 비밀키를 travis setting 에서 등록하고
travis.yml에는 등록된 변수값인 $AWS_ACCESS_KEY, $AWS_SECRET_KEY을 적어서 사용하게 되어 있습니다.
제 책 기준 p/333에 travis 키 등록이라고 있는데 확인해 보시면 좋을거 같습니다.

1. travis페이지 변수 셋팅
![image](https://user-images.githubusercontent.com/55545105/101144263-6509d880-365b-11eb-9363-5088200c462f.png)

2. travis.yml에서 변수 사용
![image](https://user-images.gith

[2020-12-04 09:05] whdals7337 commented on #527
![image](https://user-images.githubusercontent.com/55545105/101144215-51f70880-365b-11eb-9001-c5077fc4b440.png)

[2020-12-04 11:34] chikeem90 commented on #462
@LEE-JANGWO
https://bhsbhs235.github.io/jenkins/2019/12/29/jenkinserror.html
저는 이렇게 처리하니까 되네요
아직 해결 안되셨으면 한번 이렇게 해보세요

[2020-12-04 13:28] haebin-lee commented on #527
아아아ㅏㅏ.. 저는 저기 변수를 쓰지 않고 그대로 AWS_ACCESS_KEY랑 AWS_SECRET_KEY를 입력해서 문제가 되었던 것 같습니다.
바로 맵핑하지 않고 변수 사용해서 해볼게요~! 도움주셔서 감사합니다

[2020-12-04 13:28] #527 closed, assigned to jojoldu

[2020-12-07 12:16] fe5882 opened #529 "[오류] p.318 네이버 로그인"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 구글로그인은 잘되는데 네이버 로그인만 하면 로그인도 안되고 url뒤에 /login이라고 적히믄서 이상한 페이지가 뜨네요

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해

[2020-12-09 13:24] mathncode opened #530 "[오류] p.311 deploy.sh, curl localhost:8080 에러"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: (제가 스크린샷 첨부 빠진게 있어  수정해서 올렸습니다.)
deploy.sh 오류메시지가 나옵니다. 'nohup.out' 파일을 보면  어플실행  실패뜨고  톰캣  종료됩니다 . 그런데 스크롤 내리면 톰캣, jvm running은 되네요?
c

[2020-12-10 08:37] Belnut commented on #470
저도 동일한 문제가 있었는데 @hwk0911 님이 올려주신 방법으로 해결했습니다.
감사합니다.

[2020-12-11 03:19] mathncode commented on #530
p305 시큐리티  설정부터 다시 기존 코드 지우고, 꼼꼼하게 코딩하니 어찌어찌 해결됐습니다.

[2020-12-11 03:20] #530 closed, assigned to jojoldu

[2020-12-13 12:30] midi79 commented on #67
Spring Boot 2.4.0 쓰는데 위에 방식 다 안되네요.
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL57Dialect
spring.jpa.properties.hibernate.dialect.storage_engine=innodb
spring.datasource.hikari.jdbc-url=jdbc:h2:mem://localhost/~/testdb;MODE=MYSQL
이걸로 했는데도 안되네요 ㅠㅠ

application.yml로 변경해서 해도 안되네요. 실습 진행이 안되니깐 답답하네요.
spring:
    jpa:
        show_sql: true
        properties:
            hiberna

[2020-12-13 12:52] bossm0n5t3r commented on #67
@midi79 application.yaml 에서 제 것과 똑같이 해도 안되는 건가요? 써주신 application.yaml에서는 `MySQL5InnoDBDialect`로 되어 있는데, `MySQL57Dialect` 이면 어떨지 생각이 들어서요 👀

[2020-12-13 12:54] midi79 commented on #67
위에 문제가 아니였구요, Post 인데 예제가 Put으로 되어 있어서 발생한 에러였네요.....에휴...ㅠㅠㅠ
https://taeil00.tistory.com/936

[2020-12-13 15:06] dnjsdyd345 opened #531 "[오류] p.99 사진처럼 뜨지않아요..!"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: https://github.com/jojoldu/freelec-springboot2-webservice/issues/446#issue-655368578 와 같은 오류가 나옵니다.

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올

[2020-12-15 07:33] mathncode opened #532 "[오타 제보] p.359"
기존에 올라온 제보가 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 오타

* as-is (오타): CURRENT_PID=$(pgrep -fl freelec-springboot2-webservice | ...)

* to-be (교정): CURRENT_PID=$(pgrep -fl $PROJECT_NAME | ...)

deploy.sh 에

[2020-12-16 13:53] jojoldu opened #533 "(2020.12.16) 실습코드 최신 코드로 변경하기"
안녕하세요.
사내의 큰 프로젝트가 이제야 마무리되어서 밀린 이슈들을 보게 되었습니다.

현재 "스프링 부트와 AWS로 혼자 구현하는 웹 서비스" 는 2019년 11월말에 나온 책인데요.
당시에 사용된 버전은

* Spring Boot 2.1.x
* Gradle4
* IntelliJ Idea 2019.x

였습니다.
그러다보니 2020년이 들어서 Spring Boot 2.2, 2.3, 2.4로 계속해서 업데이트 되고, Gradle5가 기본버전이되고 (현재는 또 6가 기본이되었네요), IntelliJ가 2020.3까지 나온 시점이 되니 실습하실때 설정에 계속해서 문제가 발생한다고 생각합니다.

이슈를 하나씩 처리하는것도 필요하지만,
이슈 하나를 처리하는데 보통 짧게는 30분, 많게는 1~2시간씩 소요되기도 합니

[2020-12-17 07:22] mings0115 opened #534 "[오류] p.300~306"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:
nohup.out 에러 사진  첨부하겠습니다 ...
어제부터 혼자서 오류 해결해 보려고 구글 검색하면서 해봤는데 답이 안 나와서 도움 요청드립니다 ㅠㅠ

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github

[2020-12-17 09:01] namilkimfree opened #535 "[오류] p.117 H2-Console 접속하고 Connect 시에 Forbin 403 발생합니다."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:  http://localhost:8080/h2-console 접속 후
Connect 시에
Whitelabel Error Page
This application has no explicit mapping for /error, so you are

[2020-12-17 12:08] #531 closed, assigned to jojoldu

[2020-12-17 12:09] dnjsdyd345 commented on #531
껏다 켜니까 뜨네요.. 뭔지모르겠지만 해결되었습니다.

[2020-12-17 12:10] jojoldu commented on #535
@namilkimfree 님 안녕하세요.
117페이지이면 403 (권한없음) 이슈가 날 수 있는 코드 까지 작업이 안되어있을텐데요.
build.gradle 에 보시면 Spring Security 관련된 라이브러리들을 다 제거해주시면 될거 같습니다 :)

아래 3개를 다 빼주시면 됩니다.
[code]

[2020-12-17 12:10] dnjsdyd345 opened #536 "[오류] p.115"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 해당 사진처럼 메소드를 못찾는경우가 계속 발생되는데 어떤문제일까요..ㅠ

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL:

[2020-12-17 12:13] jojoldu commented on #534
@mings0115 님 안녕하세요!
지금 기존에 실습하신 디렉토리가 pull 받고나서 수동으로 변경하신게 있어보이는데요.

![image](https://user-images.githubusercontent.com/7760496/102486517-7f58a300-40ac-11eb-9dd8-c43c6befee56.png)

위 에러 메세지는 git 에서 코드를 내려받는 (pull) 과정에서 **커밋되지 않은 파일이 현재 디렉토리에 존재** 하기 때문에 발생합니다.

1) 현재 pull 받는 디렉토리의 변경내역을 모두 reset 하시거나
2) 디렉토리를 삭제하고 다시 배포과정을 실습해보시길 추천드립니다.

[2020-12-17 12:14] jojoldu commented on #536
@dnjsdyd345 프로젝트 코드를 보여주셔야 정확히 알 수 있을것 같고요 ㅠ
그림만 봐서는 Dto에 보시면 @Builder 가 선언된 생성자 인자중에 title이 없는것으로 보입니다 :)

![image](https://user-images.githubusercontent.com/7760496/102486755-db232c00-40ac-11eb-9c98-14bba3a0d007.png)

[2020-12-17 12:18] jojoldu commented on #523
@bigpi-factory 님 안녕하세요 :)
해당 내용은 오타가 아니며 post.id가 맞습니다 :)

[2020-12-17 12:18] #523 closed, assigned to jojoldu

[2020-12-17 12:19] jojoldu commented on #524
@hungry87 님 확인 감사합니다 :) 말씀하신대로 posts.id가 아니라 post가 맞습니다 :)
라벨의 경우 반영 예정으로 변경하여서 오해가 없도록 하겠습니다 ^^;

[2020-12-17 12:19] #524 closed, assigned to jojoldu

[2020-12-17 12:22] jojoldu commented on #526
@jammama 님 제보 감사합니다 :)
말씀하신대로 travis.com 혹은 [GithubAction](https://wbluke.tistory.com/39) 으로 이관하시길 추천드립니다.
이 글은 이슈 공지로 올려놓겠습니다.

[2020-12-17 12:23] jojoldu commented on #525
@epark-grace 님 팁 감사합니다!
이글은 이슈 상단에 공지로 올려놓겠습니다 :)

[2020-12-17 12:25] jojoldu commented on #521
@trueye 님 안녕하세요
톰캣 무한로딩이라는게 어떤걸 의미하시는걸가요?
스프링부트에서 사용중인 내장톰캣은 Application이 실행되면 별도의 종료 명령어를 주지 않는 이상은 계속해서 실행상태이긴해서요.

[2020-12-18 09:52] mings0115 commented on #534
![1](https://user-images.githubusercontent.com/75785599/102599144-690c1f00-4160-11eb-8187-d326b64c4c9c.png)

감사합니다 !!!
디렉토리 reset하고 다시 배포해보니 에러 부분이 사라졌습니다 !

다른 부분에서 하나 더 에러가 생겼는데 vim nohup.out 하고 난 뒤 책에 나와있는 정상 실행 결과 코드까지 나왔는데요
맨 밑에 부분 Unable to access jarfile 라고 뜨는데 코드 진행하는데 문제가 생길까요 ?
311 페이지 curl localhost:8080 html 코드가 정상적으로 뜨는 거 까지는 확인했습니다

![2](https://user-images.githubusercontent.com/7578

[2020-12-18 16:19] mings0115 opened #537 "[오류] p.316 구글 401 승인거부"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:

ec2 도메인주소:8080 으로 접속 후 구글 , 네이버 로그인 하면 구글 401오류 권한 승인거부가 뜹니다 ㅠㅠㅠ
처음부터 책 보면서 코드 하나하나 확인해 봤는데 아무리 찾아봐도 답이 안나오네요 ㅠ
코드 어느 부분을 체크하면 될까요?? ㅠ

[2020-12-20 05:23] vitamaxDH opened #538 "[오타 제보] p.300"
기존에 올라온 제보가 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 오타

* as-is (오타):
* CURRENT_PID=${pgrep -f ${PROJECT_NAME}.*.jar)

* to-be (교정):
* CURRENT_PID=$(pgrep -f ${PROJECT_NAME}.*.jar)

pgrep 앞에 소괄호가 아닌 중괄호인

[2020-12-20 14:29] lqwe3164 opened #539 "[오류] p.211 ~ p.213 gradle 전체 테스트 오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

ㅇ 환경
 -  gradle 6.6.1
 -  intellij
 -

ㅇ 오류설명:
안녕하세요 이동욱님! 실습 과정 중 오류가 발생하여 글을 쓰게 되었습니다.
다른 단위 테스트는 잘 진행되지만 gradle > verification > test 전체테스트 시 오류가 발생합니다.
gradle을 4.10.2 버전으로 바꿔서 진행해봐도 동일한 오류가 뜨고 setting > build tools > gradle 에서 Run tests using을 gradle과 intellij IDEA로 바꾸어도 동일한 오류가 나타나게 됩니다. 도움 주시면 감사하겠습니다!

오류 코드 :
Testing started at 오후 10:42 ...

FAILURE: Build faile

[2020-12-20 15:31] moonyeol opened #540 "[오타 제보] p.105"
기존에 올라온 제보가 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 오타

* as-is (오타): src/main/java/com/jojoldu/book/springboot/service/PostsService

* to-be (교정): src/main/java/com/jojoldu/book/springboot/service/posts/

[2020-12-21 02:41] rimeorange opened #541 "[오류] p.195 ~ p.200 어노테이션 적용 오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 어노테이션 적용을 하고 localhost:8080/ 으로 접속시 404 page가 뜹니다.

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* G

[2020-12-21 07:22] mings0115 commented on #537
구글 클라이언드 ID 다시 발급 받고 putty에서 처음부터 다시 설정을 했는데도 안됩니다 ㅠㅠ 인텔리제이에서 실행한 서버에서는 정상적으로 구글 로그인이 되고 ec2 서버에서만 권한 승인거부가 뜹니다 ... putty 에서 설정문제인거 같은데  디렉토리 삭제하고 처음부터 작성해도 결과는 같습니다 ㅠ

[2020-12-21 19:08] syleemk commented on #275
저도 똑같은 오류네요
미쳐버리겟음

[2020-12-21 19:17] syleemk commented on #275
오오오오오ㅗ오 생성시에만 저게 보이는군요 ㅜㅜㅜ
수정에서 삽질하다가 해결했네요
감사합니다 ㅜㅜ

[2020-12-22 07:46] Livenow14 commented on #275
확인했습니다. 감사합니다.

[2020-12-22 07:46] #275 closed

[2020-12-22 08:01] seoporter commented on #2
저도 같은 문제 였는데 다운그레이드 하니 잘 해결되었습니다. 감사합니다 !

[2020-12-22 16:17] jjkil12 commented on #529
저도 같은 문제 발생했는데 USER 테이블 생성 후 해결했습니다.

[2020-12-23 18:28] PaengE commented on #528
저 또한 동일 현상이 나타납니다 ㅠㅠ

[2020-12-24 02:08] Kwon770 commented on #270
제 경우에는 똑같은 오류였는데, @slowCoyle 님의 답변이 정확하네요. index.js의 캐시로 인해 업데이트가 안되었나보네요.

[2020-12-24 16:39] JuHyun419 commented on #528
@PaengE
해결하셨나요?
https://github.com/jojoldu/freelec-springboot2-webservice/issues/227
못하셨으면 위 사이트 참고해보세요~

추가적으로 ...
 + 해당 IDE에서 외부 라이브러리(External Libraries) 에서 혹시 security 부분 추가된게 있으면 주석처리 해주셔야해요.
저는 security랑 oauth2 부분 주석처리하구, gradle 빌드한 후 테스트코드 실행하니 통과했습니당.

[2020-12-25 08:07] PaengE commented on #528
@JuHyun419  저자님 블로그에 글올려 해결했습니다 ! 감사합니다

[2020-12-25 13:30] nullsector12 commented on #479
이미 오래 지난 이슈라 혹시 해결하셨는지 모르겠는데 저도 똑같은 오류가 있어서
(process 'command 'c:/program files/java/jdk1.8.0_261/bin/java.exe'' finished with non-zero exit value 1)
이 방법으로 해결했었습니다.

File -> Settings -> Build, Execution, Depliyment -> Build Tools -> Gradle ->
맨 아래 Gradle JVM을 JDK 설치한 곳으로 다시 설정 후 확인 ->
이걸로 안된다면 Build and run using과 Run tests using을 Gradle에서 IntelliJ IDEA로 변경 후 다시 확인

[2020-12-26 06:27] nullsector12 opened #542 "[오류] p.191 구글 로그인 연동 oauth client 찾을 수 없는 문제"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: p.176~p.191 까지 구글 로그인 연동 구현 중에 oauth client를 찾을 수 없다고 하는 에러가 뜨는 문제입니다.

#253 여기 비슷한 문제를 겪은 분의 이슈 글에 나온 해결 방법을 시도해보았으나
똑같은 문제가 계속 발생하고 있

[2020-12-26 06:34] #542 closed, assigned to jojoldu

[2020-12-26 08:21] rimeorange commented on #541
오타가 있엇네요.. ㅠㅠ 정상적으로 되었습니다. ㅎㅎ;;

[2020-12-26 08:21] #541 closed, assigned to jojoldu

[2020-12-26 12:42] CHS96 commented on #2
혹시 다운그레이드를 진행하였는데도 해결안되시는분 계신가요.
다운그레이드를 진행하였는데도 다음과 같은 오류가 발생합니다.
C:\Users\Administrator\IdeaProjects\Test1\src\main\java\com\hanseul\book\springboot\web\dto\HelloResponseDto.java:10:26
java: variable name not initialized in the default constructor

[2020-12-27 12:16] yunj290 commented on #386
저도 같은 오류였는데 저는 config.auth 패키지 루트를 잘못 설정해서 그랬어요.

[2020-12-29 12:57] namioto opened #543 "[오타 제보] p.42 그림 각주 오타"
### 오타

* as-is (오타): 그림 1-30 git ignore 확인

* to-be (교정): 그림 1-30 커밋 내용 확인

그림 1-29와 설명이 동일합니다.
그림의 내용을 보아 git ignore 확인이 아닌 커밋 내용을 확인한다고 적는게 더 올바른 것 같습니다.

[2020-12-29 13:01] sang-w0o commented on #533
고생하셨습니다.
우아콘 영상 정말 잘 봤습니다!!

[2020-12-31 02:58] CHOILOCAL opened #544 "[오류] p.194 구글 로그인 오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 구글 로그인 API 오류

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL: https://github.com/CHOILOC

[2021-01-03 01:09] idealization opened #545 "[오류] p.140~p.157 등록 버튼을 눌러도 아무 변화가 없어요(됐는데 갑자기 안 됨)"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: p.151 글 조회 화면까지 정상적으로 작동되는 상황에서 글 수정 코드를 작성하다가 한 파일의 경로가 잘못되었다는 것을 알게 되어 이를 변경했습니다. 변경 후
Caused by: org.springframework.context.annotat

[2021-01-03 11:51] sbdyzjdla commented on #174
@PostMapping("/api/v1/posts")가 맞는 구성인데 제 소스는
@PostMapping("/api/vi/posts") 로 되어 있어서 메서드 자체를 못탔습니다..

저도 ㅋㅋㅋㅋ
어처구니 없는 실수를 했네요 감사합니다~

[2021-01-04 07:14] ykob501 opened #546 "[오타 제보] p.67"
기존에 올라온 제보가 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 오타

* as-is (오타): build.grade에 등록하였으니, Refresh로 ...

* to-be (교정): build.gradle에 등록하였으니, Refresh로 ...

실습하는데 지장없지만 오타 발견해서 제보합니다...

[2021-01-04 16:03] hjeomdev commented on #2
다운그레이드 했는데도
variable name not initialized in the default constructor
오류가 떠서 build.gradle에
annotationProcessor("org.projectlombok:lombok")
추가했더니 됐습니다.
감사합니다.

[2021-01-05 03:06] #390 closed

[2021-01-05 06:13] theVelopr commented on #2
역시 Error를 통해 배울점이 많았습니다. '난 높은 버전을 쓰는데 이게 왜 문제가 되는거지?'
라고 단순하게 접근을 했었는데 버전을 wrapping해야하는 이유라던지 그리고 어떻게 wrapping을 하는지등
정말 유익한 Error였습니다. 👍

[2021-01-05 13:29] kceun commented on #2
저도 같은 문제였으나 다운그레이드를 통해 해결하였습니다. 감사합니다 !

[2021-01-05 15:36] YoungKyonYou commented on #174
와
@PostMapping("/api/v1/posts")
@PostMapping("/api/vi/posts")
이게 진짜 미쳤네 ㅡㅡ 저도 이거 찾느라 한참 고생했네요

[2021-01-07 06:30] CTBroze commented on #545
index.js에 문제가 있는것같습니다.  save와 update사이 ,이 없으며 update부분에 객체내부에 ;가 있어 제대로 동작하지 않는것 같습니다. 이부분 수정해보시면 해결되실것 같습니다
![123](https://user-images.githubusercontent.com/25783322/103859326-38832980-50fd-11eb-8aae-75854908936a.png)

[2021-01-07 15:31] idealization commented on #545
메일 정말 감사드립니다.
어느 부분이 틀렸는지 몰라 프로젝트도 새로 만들어 봐도 계속 안 돼서 정말 좌절하고 있었어요.😭
지금 정상적으로 실행되는 것 확인하였습니다!!!😆😆
다시 열심히 공부하겠습니다. 감사합니다 ㅎㅎ

2021년 1월 7일 (목) 오후 3:30, Minseok Kim <notifications@github.com>님이 작성:

[2021-01-08 15:33] hyuuny opened #547 "[오류] p.99 application.properties 파일 없음"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: p.98페이지까지 완료하고, application.properties파일이 없습니다.. 어떻게 해야 할까요?

![image](https://user-images.githubusercontent.com/69466533/104033567-0c5

[2021-01-09 04:39] craftowen commented on #174
ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ
사람이 다 비슷하네요..
오타 힌트 감사합네다..

[2021-01-09 09:50] hyuuny commented on #305
덕분에 해결했습니다 ㅠㅠ

[2021-01-09 09:53] #547 closed, assigned to jojoldu

[2021-01-09 14:19] theVelopr commented on #2
@jojoldu Chapter 4에서 Mustache를 이용한 실습을 하던중 HolloControllerTest부분에 illegalargumentexception이 뜨면서 더 이상 진행이 안되길래 BaseTimeEntity와 관련 테스트들을 주석처리하니 다시 테스트가 통과되는 현상이 있습니다.
gradle은 4.10.2 버전으로 wrapping 했으며 Junit4를 사용하고 있습니다.

[2021-01-10 10:39] jeongeunnn-e opened #548 "[오류] p.291 ec2에서 rds 접속하기"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

sudo

### 어떤 오류인가요?

오류설명:

putty에서 6장에서 만들어둔 session을 open하고 들어가서 mysql -u ~ -p -h ~~ 라고 치면 enter password : 가 나오지만 아무것도 쳐지지가 않고 한참 후에 연결할 수 없다고 합니다.

어디서

[2021-01-10 13:38] #548 closed, assigned to jojoldu

[2021-01-10 15:41] SangHui48 opened #549 "[오류] p.192 구글로그인시 사용자 이름 오류"
### 어떤 오류인가요?

오류설명: 구글 로그인을 하게되면 로그인한 사용자의 이름이 아닌, 제 로컬 컴퓨터 로그인 이름이 뜹니다. 어떻게 해결해야하나요??

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL: https://github.com/SangHui48/Board/tree/master/src/main/resources

### 오류 로그

어떤 오류인지 캡쳐해주세요.

오류 로그는 딱히 없고
![1](https://user-images.githubusercontent.com/70365377/104127470-95a10880-53a5-11eb-9574-06821a0426a1.PNG)

[2021-01-11 13:42] bbahngju opened #550 "[오타 제보] p.113"
### 오타
전자책에서 오타(대소문자)를 발견했습니다.

* as-is (오타): PostsService 실습 코드 부분에서 public Long update

* to-be (교정): public long update

[2021-01-11 14:45] #550 closed, assigned to jojoldu

[2021-01-12 00:32] zhtmr commented on #398
@jojoldu 안녕하세요 선생님. 1쇄때 잘 봤습니다. 최신판으로 다시 보고싶은데.. 지금 혹시 최신판(5쇄?)이 서점에 판매중인가요?

[2021-01-12 08:26] ykob501 commented on #545
저도 같은 현상인데 어디가 틀렸었나요?

[2021-01-12 16:01] duhanmo999 opened #551 "[오류] p.340 travis build error"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: .travis.yml 파일에 befor_deploy, deploy 작성 후 커밋 푸쉬했는데 travis에서 빌드 에러가 납니다 (befor_deploy, deploy 추가 이전에는 정상 작동 됨)
travis 에서 에러 메세지 확인 결과
ER

[2021-01-13 02:09] duhanmo999 commented on #551
코드에는 문제 없었습니다!
다음 날 다시 travis 에서 rebuild 해보니 성공했습니다 ^^

[2021-01-13 11:11] hyuuny opened #552 "[오류] p.311"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:

안녕하세요!

311페이지 까지 잘 따라해보았는데.. 에러가 나서 진행이 안되네요.. 인터넷도 검색해봤으나.. 한계입니다.

### -  ./deploy.sh 실행시 오류
![image](https://user-images.githubuse

[2021-01-13 13:01] devsungmin commented on #2
같은 문제로 해결방법 찾다가 역시 책은 처음부터 보면서 책 저자분과 같은 환경에서 진행 해야 하고 환경 세팅의 중요성을 한번 더  깨닫고 갑니다 ㅠㅠ

[2021-01-13 13:06] JeonHyungJin opened #553 "[오류] p.180 Spring security Import 문제"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 책 내용따라서 Spring Security 설정 중 Security부분 관련 Import 문에서 cannot resolve symbol 'Security'오류가 발생합니다.
Build.gradle은 제대로 작성 한 것 같은데 뭐가 문제인지 모

[2021-01-13 13:11] jhya401 commented on #519
답변이 없네요 2로 진행하셨나요??

[2021-01-13 15:36] dudgh9661 commented on #539
혹시 해결하셨나요? 같은 문제로 막혀서요 ㅠ

[2021-01-13 16:08] dudgh9661 opened #554 "[오류] p.211 통합테스트 오류 꼭 답변 부탁드립니다.."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 통합테스트가 진행되지 않습니다. 같은 질문을 달아주신 분들 2분이 계신데 답변을 안해주셔서 다시 질문드립니다. 모든 테스트 케이스 소스코드를 github에 있는 그대로 복사 붙여넣기 했습니다. 단위테스트는 통과하나 gradle 탭에서 test

[2021-01-13 16:09] dudgh9661 commented on #554
해당 프로젝트 폴더에서,
gradle -v를 치면 Gradle 6.0.1이 나오고,
./gradlew -v를 치면, Gradle 4.10.2가 나옵니다.
혹시 두 버전이 다른것이 문제가 될 수 있을까요?

[2021-01-14 01:58] dudgh9661 commented on #554
FAILURE: Build failed with an exception.
* What went wrong:
Execution failed for task ':test'.

* Try:
Run with --info or --debug option to get more log output. Run with --scan to get full insights.
* Exception is:
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':test'.
	at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.executeActions(ExecuteActionsTaskE

[2021-01-14 03:38] dudgh9661 commented on #554
test {
    useJUnitPlatform()
}

junit4를 쓰면, build.gradle에 해당 설정값은 없어야되네요.
저자께서, 책에는 해당 코드를 적어놓으셨는데 깃에서 수정하셨네요.. 책에 오타가 너무 많습니다.

[2021-01-14 03:38] #554 closed, assigned to jojoldu

[2021-01-14 05:32] heejicat opened #555 "[오류] p.383 /profile 리다이렉트"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:  퍼블릭 도메인에 /profile로 접속하면 /login화면으로 넘어갑니다

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL

[2021-01-14 16:11] hungry87 commented on #425
감사합니다.

[2021-01-14 17:36] #555 closed, assigned to jojoldu

[2021-01-15 00:33] JOUNHO opened #556 "[오류] p.304 travis 실습중 문제입니다."
### 어떤 오류인가요?

오류설명:  책 내용에 따라 travis.org에서 책 페이지(337P)까지는 정상적으로 진행을 하였습니다. 그런데 337~338P에서의( before_deploy코드와 deploy코드)를 추가하고 깃허브에 푸쉬를 해도 traivs에서는 아무런일도 일어나지 않습니다. travis를 아무리 재시작해도 되지 않고 다시( before_deploy코드와 deploy코드)를 제거를 하고 푸쉬를 하면 그제서야 travis에서 build가 진행됩니다..
travis.com에서 진행도 해봤는데 trvis.com에서는 해당 repository(spring_boot)만 intergration이 안되네요 뭐가 문제인지 모르겠습니다.

### 프로젝트 주소

* Github URL: https://gi

[2021-01-15 12:53] benjykim commented on #423
@rscheon20
혹시 해결하셨는지 모르겠지만 일단 글 남깁니다.

* ec2 접속 -> DB 접속 -> use freelec_springboot2_webservice; ('freelec_springboot2_webservice' == 데이터베이스 이름)
* select * from user;  // 유저 있는지 확인
* update user set role = 'USER';  // 기존 유저들의 권한을 'GUEST' -> 'USER' 로 수정

이렇게 진행해서 저는 해결했습니다.^^

[2021-01-15 15:00] kiboook opened #557 "[오류] p.223 기존 테스트에 시큐리티를 적용한 이후 Could not open JPA EntityManager for transaction; nested exception is java.lang.IllegalStateException: EntityManagerFactory is closed 발생"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 기존 테스트에 시큐리티를 적용한 이후 테스트 8개는 모두 통과하지만 이후에 Could not open JPA EntityManager for transaction; nested exception is java.lang.IllegalStateE

[2021-01-15 18:17] theVelopr opened #558 "[오류] p.156 에서 수정 버튼 클릭시 Error 500"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:

글 등록까지는 다 됐는데 수정을 누르니 500번이 뜨면서 FileNotFoundException이 떴습니다.
내용을 읽어보니 클래스 경로상에 파일이 존재하지 않는다고 나왔고
지난번에 다른 부분에 오류가 나서 잘 찾아봤더니 제가 경로지정을 잘

[2021-01-16 14:09] dudgh9661 commented on #224
8.5절부터 차근차근 다시 실습하던 도중 이상한 점을 발견하였습니다. 8.5절에서 ./deploy.sh 를 진행하고 aws를 접속하면 이전 버전의 .jar가 실행되는 것 같습니다. 아직 원인은 파악하지 못하였습니다.

해당 문제는 어떻게 해결하셨나요?

[2021-01-17 04:20] dongjangoon opened #559 "[오류] p.297 ./gradlew test 명령어 오류"
오류설명: 로컬에서는 테스트가 모두 통과를 하는데, 서버에서는 다 실패합니다 ㅠㅠ
이미 제보됐던 오류 중 #146 번 오류가 저랑 같아서 참고했는데 저는 그 경우는 아닌 거 같아서 질문 올려봅니다

* Github URL: https://github.com/numnum97/spring-webservice

### 오류 로그

서버에서 테스트 실패 로그입니다.
[code]

[2021-01-17 13:04] #558 closed, assigned to jojoldu

[2021-01-17 13:05] theVelopr commented on #558
post-updates.mustache의 header 부분에 오타가 있었네요 . :)
해결되었습니다

[2021-01-17 14:09] ByungjooYang commented on #552
우선 deploy.sh에 CURRENT_PID=$(pgrep -f ${PROJECT_NAME}.*.jar) 이거 입니다. pgrep 앞에 중괄호가 붙어있네요.
그리고 위에 캡쳐 보니까 ./gradlew test 하면 에러 났을거 같은데 안나셨었나요?

[2021-01-17 15:05] #559 closed, assigned to jojoldu

[2021-01-17 15:06] dongjangoon commented on #559
아마 ec2나 rds설정에 문제가 있었던 거 같습니다! 보안 그룹으로 짐작이 되는데 ec2부터 다시 만들어보니 되네요

[2021-01-18 05:48] Hae-Riri commented on #537
혹시 해결 되셨나요?

[2021-01-18 06:46] Hae-Riri commented on #549
해결하셨나요?

[2021-01-18 07:36] hyuuny commented on #552
감사합니당!!

[2021-01-18 07:51] ByungjooYang commented on #552
해결되셨나요?

[2021-01-18 08:06] hyuuny commented on #552
이번엔 다른문제가 생겨서요 ㅋㅋㅋ 쉽지 않네요

[2021-01-18 08:20] ByungjooYang commented on #552
ㅋㅋㅋ 올려주세요.

저도 이 문제로 며칠 씨름하다 방금 다 해결했습니다

[2021-01-18 08:35] hyuuny commented on #552
![image](https://user-images.githubusercontent.com/69466533/104890790-65fc8c80-59b3-11eb-8d05-0a38630deb10.png)

309~310 페이지 입니다 ㅠㅠ

[2021-01-18 08:37] ByungjooYang commented on #552
nohup.out 보면 실행은 잘 되나요?

[2021-01-18 12:30] madirony opened #560 "[오류] p.191 Google Login 테스트에서 cannot find symbol method 오류 관련"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: CRUD 게시판 기능 다 만들어보고 테스트까지 잘되었는데 구글 로그인을 만들고 나서부터 테스트 페이지가 안되고 있습니다. 정확히는 191쪽 이전까지 코드를 작성하고 Google Login 테스트를 하려고 했는데 자꾸 메소드를 찾을 수 없다는

[2021-01-18 15:26] ByungjooYang commented on #549
음 제 생각인데 username 이란 변수?를 스프링 부트에서 기본적으로 사용하고 있어서 그런가 싶습니다. 저 같은 경우는

model.addAttribute("user", user.getName()); 이렇게 username이 아니라 user로하고 index.mustache에 {{user}} 로 바꾸니 잘 나왔습니다..

근데 현재 ec2 환경에서 접속하니 {{user}}가 ec2-user 라고 나오네요... username, user 말고 다른 이름으로 바꿔 하시는걸 추천드립니다.

[2021-01-18 18:08] hungryo-dev opened #561 "[오류] p.364 수정한 내용이 반영 안되는 경우..?"
마지막 단계에서...  수정한 내용들 배포는 정상적으로 확인되는데 웹에서 띄우면 변경한 내용이 나오지 않네요... 어디를 봐야되는지요? 로그에 에러도 없어요..

![K-047](https://user-images.githubusercontent.com/65026345/104950046-53aa3f00-5a03-11eb-9582-4cef56060734.jpg)
![K-048](https://user-images.githubusercontent.com/65026345/104950049-54db6c00-5a03-11eb-86a3-96ad3022b63b.jpg)
![K-049](https://user-images.githubusercontent.com/65026345/104950053-59a02000-5a03-1

[2021-01-19 08:40] nova1113 opened #562 "[오류] p.305~306 jar파일에 엑세스가 불가능하다는데 도와주세요"
### 어떤 오류인가요?

오류설명: EC2에 application-oauth.properties 파일 추가 후 deploy.sh를 실행 시키고 나서 nohup.out을 확인 해 보면
 Error: Unable to access jarfile  /home/ec2-user/app/step1/AWS_test-1.0-SNAPSHOT.jar
이라는 에러가 나오는 데 해결방법을 모르겠습니다.
nohup.out을 지웠다가 다시 deploy를 실행시켰더니 윗부분이 안보이긴 하는데 error부분만 계속 갱신이 되고 있습니다.
### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL: https://github.co

[2021-01-19 11:01] mings0115 commented on #537
아니요 ㅠㅠ 같은 문제이신가여?

[2021-01-19 12:03] benjykim commented on #398
@zhtmr
지금은 4쇄가 판매중인 것으로 알고 있습니다. ^^

[2021-01-19 15:21] Hae-Riri commented on #429
혹시 해결되셨나요?

[2021-01-20 02:49] Hae-Riri commented on #319
혹시 해결하셨나요?

[2021-01-20 08:01] Aulelius commented on #319
결국 해결못해서 프로젝트를 새로 만들어서 다시 했습니다.

[2021-01-20 09:54] mingdyuo opened #563 "[오류] p.307-308 RDS 테이블 생성 쿼리 실행 오류"
### 어떤 오류인가요?

오류설명: IntelliJ의 db navigator console에서 쿼리를 실행시킬 때 오류가 발생합니다.

### 프로젝트 주소

* Github URL: https://github.com/mingdyuo/springboot2-webservice-project

### 오류 로그

JPA가 사용할 테이블 생성 쿼리와, schema-mysql.sql 의 테이블 생성 쿼리를 실행해보았는데, 두 쿼리 모두 실행 시에 실행시 에러 로그가 뜹니다

#### 실행한 쿼리

1. JPA가 사용할 테이블 생성 쿼리

![image](https://user-images.githubusercontent.com/41130448/105157223-1acbb080-5b50-11eb-9eef-f6bdc

[2021-01-20 10:07] mingdyuo commented on #562
`./gradlew test`로 jar file이 생성된 상태인가요??
저는 깃 클론 다시 받았을 때 위 명령어로 jar 안만들고 실행하면 저렇게 뜨더라구요

[2021-01-21 14:16] Joyykim commented on #525
2021년 1월 21일 기준: EC2 AMI를 선택할 때 **빠른시작**이 아닌 **AWS Marketplace**에서 검색하면 <strong>Amazon Linux AMI (HVM / 64-bit)</strong>가 나오는데 이게 책에 나온 버전인가요?

<br>

![AmazonLinuxAMI](https://raw.githubusercontent.com/Joyykim/web-service-boot/master/img/Amazon%20Linux%20AMI.png)

[2021-01-21 15:14] oliviarla commented on #539
저도 같은 부분에서 막혔었는데, 프로젝트 파일쪽 test 폴더에서 우클릭해서 Run 'All tests'하니까 책에 나온대로 실행되긴 하네요..!

[2021-01-21 15:38] mingdyuo commented on #563
자답입니다.
콘솔에 먼저 어떤 스키마에서 사용할지 실행한 후 테이블을 생성해야 하는데, 이 과정을 생략해서 일어난 오류같습니다.

![image](https://user-images.githubusercontent.com/41130448/105373478-11bf0a00-5c4a-11eb-8e1d-e22bd4ad1218.png)
위의 쿼리를 먼저 실행시킨 후 테이블을 생성하면 잘 수행됩니다.

[2021-01-21 15:38] #563 closed, assigned to jojoldu

[2021-01-21 16:55] mingdyuo opened #564 "[오류] p.313 구글 로그인 콘솔에서 EC2 도메인 등록 오류"
### 어떤 오류인가요?

오류설명: 구글에 EC2 주소를 등록하려고 하는데, 다음과 같은 오류가 뜹니다.

제 계정이 대학생 무료 크레딧 계정이라 강제로 서버가 버지니아 북부 지역으로 설정되어 있어 변경시킬 수 없는데, 이와 관계가 있을까요?

참고로 해당 도메인 주소:8080으로 접속하면 서버에 올려놓은 사이트에 잘 접근됩니다.

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL: https://github.com/mingdyuo/springboot2-webservice-project

### 오류 로그

![image](https://user-images.githubusercontent.

[2021-01-22 04:17] #560 closed, assigned to jojoldu

[2021-01-22 09:15] mingdyuo commented on #564
이것저것 찾아보고 있는 중인데, 도메인 형식 내에 지역이 있는 form을 요구하는게 아닐까 싶습니다
교재의 도메인을 보면
`ec2서버명.지역.compute.amazonaws.com`와 같이 되어 있는데, 제 도메인은 `ec2서버명.compute-1.amazonaws.com`으로 되어 있습니다.
제 도메인에서 서버명과 compute-1 사이에 지역명(혹은 아무거나) 넣으면 valid한 도메인으로 인식을 하는 걸로 봐서 도메인 형식문제인 것 같은데, 임의로 지역명을 넣어도 aws에서 제공한 맞는 DNS가 아니라 그런지 서버에 접속이 안되네요

[2021-01-22 09:42] 9b2n opened #565 "[오류] p.303~304 vim nohup.out 정상실행"
오류설명: P.303에서는 ClientRegistrationRepository를 찾을 수 없다는 에러가 발생하고 애플리케이션 실행에 실패한다고 나와있는데.. 저는 오류가 안 뜨고 정상 실행이 되네요 ,, 왜 이런지 알 수 있을까요?
아래에 캡쳐 사진에 확인되는 오류는 단지 gradle을 version up하라는 오류고 애플리케이션은 정상실행 된겁니다

### 프로젝트 주소
* Github URL: https://github.com/9b2n/springboot-webservice

### 오류 로그

<img width="486" alt="303~304" src="https://user-images.githubusercontent.com/58130501/105473880-f8b56800-5ce0-11eb-99

[2021-01-22 11:14] kceun commented on #400
해결하셨나요? 저도 동일한 증상이네요 ㅠ

[2021-01-22 17:04] moonyeol commented on #431
해결하셨나요??

[2021-01-24 02:23] #556 closed, assigned to jojoldu

[2021-01-24 15:13] ghost opened #566 "[오류] p.310 curl localhost:8080하면 Internal server Error 발생"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 어떻게 다 따라해서 nohup.out 보면 잘 배포된 거 같습니다. 그 뒤 curl localhost:8080 하면 Internal Server Error 에러가 뜸니다. (아래 사진 참고 바람)

![스크린샷 2021-01-25 오전 12

[2021-01-24 19:19] ChangSubKwak commented on #533
고생하셨습니다.
감사합니다.

[2021-01-25 02:10] yeon-06 commented on #553
build.gradle 수정한 뒤에 gradle project update 해주셨나요!?

[2021-01-25 06:55] nova1113 commented on #562
@mingdyuo

./gradlew test를 실행하면 build Success라고 메시지는 뜨는데 위에 버전 문제인지 Warning이 뜹니다.

[ec2-user@seok-springboot-webservice AWS_test]$ ./gradlew test
Starting a Gradle Daemon (subsequent builds will be faster)

Deprecated Gradle features were used in this build, making it incompatible with Gradle 5.0.
Use '--warning-mode all' to show the individual deprecation warnings.
See https://docs.gradle.org/4.1

[2021-01-25 09:53] #552 closed, assigned to jojoldu

[2021-01-25 12:07] kiboook commented on #557
https://jojoldu.tistory.com/539

조졸두님 글을 따라서 버전 업을 하니 해결 되었습니다.

[2021-01-25 15:25] JPWon-1 commented on #373
안녕하세요..혹시 358 페이지에 scripts디렉토리는 어떻게 들어갈까요...? app이랑 같은 폴더인가요 아니면 app/scripts 인가요?

[2021-01-25 15:25] JPWon-1 commented on #532
안녕하세요..혹시 358 페이지에 scripts디렉토리는 어떻게 들어갈까요...? app이랑 같은 폴더인가요 아니면 app/scripts 인가요?

[2021-01-25 16:02] jidongjun commented on #505
혹시 왜 쿼리가 안 나오셨는지 알 수 있을까요?

[2021-01-26 16:14] JPWon-1 commented on #561
혹시 해결하셨나요??

[2021-01-26 16:17] JPWon-1 commented on #495
어떻게 해결하셨는지 알 수 있나요?

[2021-01-27 06:47] Lion-KSJ commented on #291
문제 해결하셨겠지만 같은 문제로 들어오신거면 api 콜할때 라우터 부분을 잘보세요.

'/api/v1/posts' 이지만 'api/v1/posts' 했을 경우에 해당 질문자분이 마주쳤던 문제랑 같은 에러코드를 볼꺼에요.

[2021-01-27 14:24] jnsndev opened #567 "[오류] p.144 - 게시글 등록이 안 됩니다."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:
index.js 파일이 안 불러와지고 콘솔에 syntax error가 뜹니다. (index.js 파일을 제외하면 syntax error 안 뜸)
**http://localhost:8888/js/app/index.js** 로 들어가면 화면에 '

[2021-01-27 14:58] #567 closed, assigned to jojoldu

[2021-01-27 15:02] jnsndev commented on #567
![해결](https://user-images.githubusercontent.com/68745073/106009326-8c30d380-60fb-11eb-8e3f-b331bf47afe7.png)

참고: https://github.com/jojoldu/freelec-springboot2-webservice/issues/243#issuecomment-590037912

HelloController 메소드에 주소가 매핑되어있지않아 발생한 문제였습니다.

[2021-01-28 11:55] HyeonWuJeon commented on #526
감사합니다... 빌드가 계속안되서 기다리고있었는데 !!

[2021-01-29 04:10] hungryo-dev commented on #561
아니요... 그냥 스킵하고 다음단계로 넘어갔어요.ㅠ

[2021-01-29 17:09] ahyz0569 opened #570 "[오류] p.72 오류"
### 어떤 오류인가요?

오류설명:
이슈 #2 를 확인하여 gradle 버전도 4.10.2로 다운그레이드 하였고, gradle-wrapper.properties에 distributionUrl도 4.10.2 버전으로 바뀐것을 확인하였는데 왜 안되는 걸까요..?
위의 이슈 내용을 읽어보면서 ``annotationProcessor("org.projectlombok:lombok")`` 코드도 추가해보았습니다...
프로그램 재부팅, 시스템 재부팅을 해도 ``@RequiredArgsConstructor`` 어노테이션을 제대로 인식하지 못하는 듯 합니다ㅠ ㅠ
Dto에 선언한 변수 두 줄 모두 빨간 줄이 뜨고, Test에서 Getter 메소드도 동작하지 않는 듯 보입니다.
물론 롬복 플러그인과 Settings에서 Ann

[2021-01-30 13:28] SieunKiim commented on #549
오..! 저도 로컬 컴퓨터 이름이 나오는 같은 문제였는데 감사합니다! 저는 변수명을 googleName으로 해봤습니다..!

[2021-01-31 22:22] bossm0n5t3r commented on #195
저같은 경우에는 build.gradle.kts 안의 설정을 여러번 바꾸면서 설정했습니다. 물론 스왑 공간도 설정하면서 진행했어요.

[2021-02-01 03:13] ghost commented on #566
오류 해결했습니다. real-db를 local에서도 다 가지고 있어야 하네요 ㅎㅎ 저는 정보공개를 하면 안되기 때문에 서버에서만 관리하는걸로 착각하고 app 디렉토리에서만 관리했는데 로컬에도 추가하니 잘 작동합니다.!!

[2021-02-01 12:57] jinshik1212 opened #571 "[오류] p.109"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?
![image](https://user-images.githubusercontent.com/77129832/106460924-89f2b000-6440-11eb-9c5b-65f3af6f7aad.png)

오류설명:

### 프로젝트 주소

Github에 오

[2021-02-01 13:03] Hae-Riri commented on #464
저도 비슷한 문제입니다. 혹시 해결하셨나요?

[2021-02-01 15:20] bossm0n5t3r commented on #201
[code]

저도 비슷한 문제를 겪고 있다가 같은 해결 방법으로 해결했습니다.
저같은 경우에는 수정사항이 배포 자동화를 통해서 **제대로 업데이트 되지 않는** 문제였고
페이지는 **수정사항이 반영 안 된 이전 페이지를 정상적으로 노출**되고 있었습니다.
ec2에 들어가서 nohup.out 파일을 찍어보니, **8080 포트를 이미 사용 중이라는 에러**를 내면서 서버 실행이 정상적으로 되지 않아
기존 실행되는 걸 못 죽인다는 판단하에, 위에 제시해준 것처럼 동일하게 수정해서 반영하니 정상적으로 실행되었네요...
혹시 다른분에게 참고가 되지 않을까 싶어 관련된 터미널 내역과 함께 커맨트 남겨봅니다.

책 뒷 장을 넘기니 로그 찍는 부분도 나오네요...

[code]
수정사항을 반영하니 정상적으로 죽이는 부

[2021-02-01 15:22] jeongeunnn-e commented on #564
혹시 해결하셨나요??

[2021-02-01 19:27] 9b2n opened #572 "[오류] p.367"
### 어떤 오류인가요?

오류설명: 실제 배포 과정 체험에서 EC2 인스턴스 주소:8080으로 접속을 했는데 연결이 안된다고 떠서 deploy.sh를 실행시켜봤더니 git pull에 오류가 계속 생겨서 해당 주소로 접속이 안됩니다. Travius-CI에서 확인해 본 결과 배포 자동화는 문제없이 잘 넘어갑니다. 사진첨부해드립니다. 구글로 검색해서 git pull 명령어 전에 여러 명령어를 첨부해보고 했지만 고쳐지지 않았습니다.

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL: https://github.com/9b2n/springboot-webservice

### 오류 로그

어떤 오류인

[2021-02-01 20:26] #572 closed, assigned to jojoldu

[2021-02-01 20:27] #565 closed, assigned to jojoldu

[2021-02-01 23:53] mingdyuo commented on #564
@ljeadec31
아뇨 제 생각엔 구글이 인식하는 도메인 form 문제가 맞는 것 같아서 새로운 한국 무료 계정을 파거나 다른 도메인 서버를 파서 라우팅 해야 할 것 같습니다

[2021-02-02 00:53] Hae-Riri commented on #219
저 혹시 어디가 잘못되셨던건지 알 수 있을까요?

[2021-02-02 01:48] Hae-Riri opened #573 "[오류] p.305-306 ClientRegistrationRepository that could not be found 에러 원인"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

기존에 비슷하게 올라온 질문은 있는데 모두 답변이 없습니다.

### 어떤 오류인가요?

오류설명: vim으로 application-oauth.properties를 작성한 후 deploy.sh를 수정하고, deploy.sh를 실행한 뒤 nohup.out을 보면 에러가 발생해 있습

[2021-02-02 08:25] #570 closed, assigned to jojoldu

[2021-02-02 14:49] 9b2n opened #574 "[오류] p.378 nginx페이지에서 오류가 납니다. 도메인 페이지로 넘어가지 않습니다."
### 어떤 오류인가요?

오류설명: Nginx 페이지 오류가 뜹니다.  찾아보니 502 error 메시지인데, 해결방법을 도저히 못 찾겠습니다. 저는 EC2 Linux2 AMI를 사용중입니다. 페이지 오류 사진과 nginx.conf 설정 사진과 nginx error log 사진 첨부했습니다.

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL: https://github.com/9b2n/springboot-webservice.git

### 오류 로그

어떤 오류인지 캡쳐해주세요.
1. 먼저 도메인 페이지 오류입니다. 보시면 에러 메시지가 50x 메시지입니다.
<img width="1187"

[2021-02-02 14:52] #574 closed, assigned to jojoldu

[2021-02-02 14:55] 9b2n opened #575 "[오류] p.378 Nginx페이지 오류, 도메인 페이지로 넘어가지 않습니다.(해결)"
### 어떤 오류인가요?

## 오류설명: Nginx 페이지 오류가 뜹니다. 찾아보니 502 error 메시지인데, 해결방법을 도저히 못 찾겠습니다. 저는 EC2 Linux2 AMI를 사용중입니다. 페이지 오류 사진과 nginx.conf 설정 사진과 nginx error log 사진 첨부했습니다.

### 프로젝트 주소
# Github에 오류가 난 프로젝트를 올려주세요.
## Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!

* Github URL:  https://github.com/9b2n/springboot-webservice.git

### 오류 로그

어떤 오류인지 캡쳐해주세요.
1. 먼저 도메인 페이지 오류입니다. 보시면 에러 메시지가 50x 메시지입니다.
<img width="11

[2021-02-03 09:57] hmg612 commented on #464
아뇨...저자님이 답이 없으셔서 해결못하고 중단했습니다...ㅠ

[2021-02-03 10:02] 9b2n commented on #575
해결한 것인지 잘 모르겠으나 원인을 찾았습니다. step1에서 deploy.sh를 실행시켜야 히네요.. 아직 서버에 대한 개념이 많이 부족한 것 같아요.. ㅠㅠ
제가 생각하기엔 step2 디렉토리에서 git push를하면 자동으로 s3로 jar파일을 넘겨주고, codedeploy에 배포 요청을 해서 받는 과정이 있는데 step1디렉토리의 deploy.sh를 실행시켜야한다는 건 위의 과정이랑 상관이 없는 건가요? 알려주시면 감사하겠습니다.

[2021-02-03 12:05] #575 closed, assigned to jojoldu

[2021-02-04 06:09] ahyz0569 commented on #571
``PostsSaveRequestDto`` 에 ``@Getter``, ``@NoArgsConstructor`` 애노테이션이 빠진거 같은데, 추가해보고 다시 실행해보세요!

[2021-02-04 11:09] Moongomi commented on #573
-Dspring.conofig.~~에 오타있어요!!
conofig-> config 입니다

[2021-02-05 08:25] dlwlgh9412 opened #576 "[질문] API구현 부분 반환 값 질문입니다."
api구현 부분쪽에서 PostMapping이나 PutMapping 등에서 메서드 반환 값이 Long형으로 되어있는데 이 반환 값은 어디로 가고 어떻게 쓰이는지가 궁금합니다.

[2021-02-06 10:59] ZZAMBAs opened #577 "[오류] p.62 helloController 테스트 코드"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: NoClassDefFoundError 와 ClassNotFoundError로 진행할 수가 없습니다. 확인 부탁드려도 될까요? 코드는 똑같이 작성하였습니다. 깃허브에 올렸습니다. 아니면 혹시 정오표 있으면 해당 링크 알 수 있나요?

### 프

[2021-02-06 11:36] ZZAMBAs commented on #577
해결했으며 혹시라도 저와 같은 오류로 진행을 못하시는 분들을 위해, 나중에 다시 볼 수도 있는 저를 위해 해결방안을 씁니다. 인텔리제이 설정에서 Build, Execution, Deployment 에서
1. Annotation Processors 의 Enable annotation processing을 체크
2. Build Tools -> Gradle 에서 Build and run using과 Run test using 을 모두 Intellij IDEA 로 바꿈.

을 해주면 해결 됩니다.

[2021-02-06 14:30] ghost opened #578 "[오류] p.63 404 확인 부탁드리겠습니다."
오류설명:
오타 빨간줄도 없고 임포트도 책에 나온 것과 똑같이 했는데 실행이 안됩니다..

* Github URL: https://github.com/Tutorial999

### 오류 로그

23:23:52.463 [Test worker] DEBUG org.springframework.test.context.junit4.SpringJUnit4ClassRunner - SpringJUnit4ClassRunner constructor called with [class com.jojoldu.book.springboot.HelloControllerTest]
23:23:52.471 [Test worker] DEBUG org.springframework.test.context.BootstrapUtils - Instan

[2021-02-08 14:24] #577 closed, assigned to jojoldu

[2021-02-08 14:29] ZZAMBAs opened #579 "[오류] p.105 PostsApiController 의 save 빨간줄"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: return PostsService.save(requestDto); 에서 save 에 빨간줄이 가 있으며 non-static method save(com.jojoIdu.book.springboot.web.dto.PostsSaveRequestD

[2021-02-08 17:04] Limky opened #580 "[오류] 76p. 404 에러 확인 요청드립니다."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: TEST 수행시 404 에러 발생
                소스파일 경로도 확인해보았지만, 특이사항이 없습니다..
               며칠전에는 잘 되었는데요... 갑자기 안되고 있어서 확인 부탁드립니다..
.

[2021-02-09 04:06] nmin11 opened #581 "[오류] p.63"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 빌드 그레이들 쪽 문제인 것 같습니다. 63페이지의 테스트 실행을 해봤지만 에러가 발생했고 제 딴으로 이것저것 방법들을 찾아가며 시도해봤지만 도저히 풀리지 않습니다...

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.

[2021-02-09 04:47] nmin11 commented on #581
아 깃허브에 올려주신 '최신 코드로 변경하기'를 뒤늦게 확인했습니다.
다시 열심히 진도 나가보겠습니다!

[2021-02-09 04:47] #581 closed, assigned to jojoldu

[2021-02-09 08:03] ahyz0569 commented on #579
18번째 줄 ``PostsService.save(requestDto);`` 에 PostsService를 postsService로 고쳐보세요(맨 앞 P를 소문자로)

[2021-02-09 11:43] ZZAMBAs commented on #579
감사합니다. 좀 부끄럽네여... 오타였다니

[2021-02-09 11:43] #579 closed, assigned to jojoldu

[2021-02-09 15:32] Limky commented on #580
해결하였습니다. 제가 gradle에 향후 나오는 내용을 전부 추가해서 꼬인 것 같습니다.
진도수준에 맞춰 정리하니 정상이네요.

[2021-02-10 08:15] SieunKiim opened #582 "[오류] p.306 외부 security 파일 등록하기"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 보안 파일을 등록했는데도 clientRegistrationRepository를 찾을 수 없다는 에러가 여전히 발생합니다.

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변

[2021-02-10 10:19] PudgeKim opened #583 "[gradle설정 오류] p.34"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:
오류1) gradle버젼이 5이상시에 깃헙을 보면 gradlew wrapper --gradle-version 4.10.2 명령어를 실행해서 바꾸라고 나와있는데
저 같은 경우 저 명령어를 치면 zsh: command not found: grad

[2021-02-11 17:00] Bue-von-hon commented on #464
에러 메세지 그대로 jar 파일이 없어서 발생한 오류입니다.
gradle test를 진행 안하셨지요?
만약 test 없이 하고싶으시면 그냥 build를 해주시면 됩니다.
./gradlew build
이런식으로 빌드를 진행하면 jar파일이 튀어나오고 이걸 java -jar 파일이름.jar 이렇게 실행시켜주면 문제없이 진행 할 수 있습니다!🙂

[2021-02-12 09:35] ZZAMBAs opened #584 "[오류] p.147 ~ p.150 쿼리문 이후 오류 발생"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 위 페이지 내 모든 코드를 적은 뒤 실행하니 오류가 납니다. 또 쿼리문 @Query("SELECT p FROM Posts ORDER BY p.id DESC") 내 p에 빨간 줄이 그어져 있고 Can't resolve symbol 'p' 로 뜨

[2021-02-12 18:46] ahyz0569 commented on #584
Posts 뒤에 p 붙여주셔야 해요 ``SELECT p FROM Posts p ORDER BY p.id DESC`` 이런식으로요.
JPA 쿼리 작성 문법이라 JPA를 따로 공부해보시면 도움 되실 거에요.

[2021-02-12 19:44] jhChang1216 opened #585 "[오류] p.63 HelloControllerTest 오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: HelloControllerTest 테스트 코드 실행시 Test 실패 메세지 출력됨.

책에서 하라는대로 버전 설정이랑 코드 똑같이 쳤는데도 안되네요 ㅠㅠㅠ 명확하게 어떤 에러인지 안나오고

테스트 실패라고만 나오니까 뭐기 문제인지 모르겠어요

[2021-02-13 04:32] jiseongsong commented on #520
안녕하세요, 같은 오류가 발생하고 있는데 이슈 해결이 되었나요?

[2021-02-13 07:38] ZZAMBAs commented on #584
감사합니다. 많이 공부해보겠습니다. 답변 고맙습니다.

[2021-02-13 07:38] #584 closed, assigned to jojoldu

[2021-02-13 09:14] kiosk123 commented on #174
@PutMapping으로 컨트롤러에서 설정되어 있는데 post메소드로 클라이언트에서 보내려니 에러발생하네요
테스트 코드에서 postForEntity 메소드 대신에 다음과 같이 수정해서 주시면 잘 동작합니다.
[code]

[2021-02-13 16:28] #459 closed

[2021-02-13 16:38] ahyz0569 opened #586 "[오류] p.358 deploy.sh 프로세스 ID 조회"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤  @오류인가요?

오류설명:
p.358 ~359 deploy.sh 내 프로세스 아이디(``CURRENT_PID``)를 조회할 때 ``grep jar``로 검색하면 PID가 조회되지 않는 오류가 발생합니다.

![image-20210212000523656](https:

[2021-02-14 12:25] ZZAMBAs opened #587 "[오류] p.161 삭제 기능"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 삭제 버튼을 누르면 아래와 같은 오류가 뜹니다.. 이유를 모르겠습니다. 오타 확인 하려 해도 문제가 없어보여서 이렇게 질문을 드립니다.

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지

[2021-02-14 12:35] dev-dyllis commented on #561
이거 배포 후 로그를 보셔야 해결할 수 있어요. 단순히 CI/CD 과정만 완료 됐다고 실행 제대로 되는게 아니에요
로그보면 스크립트가 잘못되었거나 프로퍼티 설정이 잘못 되었을 수 있습니다

[2021-02-15 01:52] alstjq5292 opened #588 "[오류] p.134"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 계속 잘되다가 갑자기 되지 않네요..

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL:

### 오류 로그

10:50:3

[2021-02-15 07:56] yeon-06 commented on #464
jar파일이 존재하는데 복사는 안된다면 어떻게 된걸까요? 오타는 없습니다ㅜㅜ

[2021-02-15 07:59] yeon-06 commented on #464
덕분에 문제점이 뭔지 발견해서 해결했습니다 ㅎㅎ
jar파일은 있는데 복사가 안돼서 뭔가 했는데 변수명에 오타가 있었네요 ㅠㅠ
감사합니다~!

[2021-02-16 05:05] yeon-06 opened #589 "[오류] p.316 EC2 배포 후 로그인 연동 500번 에러"
### 어떤 오류인가요?
오류설명: EC2에 배포한 프로젝트에서 구글 및 네이버 로그인이 불가능합니다ㅠㅠ

ec2도메인:8080 <- 접속 가능
ec2도메인:8080/로그인 <- **500 error**

로컬:8080 <- 접속 가능
로컬:8080/로그인 <- 접속 가능

### 프로젝트 주소
* Github URL:  https://github.com/yeon-06/springboot-aws

### 오류 로그
nohup.out
2021-02-16 14:00:23.776 ERROR 5742 --- [nio-8080-exec-1] o.a.c.c.C.[.[.[/].[dispatcherServlet]    : Servlet.service() for servlet [dispatcherServlet] in con

[2021-02-17 02:24] Hae-Riri commented on #525
저도 그렇네요 좋은 정보 공유해주셔서 넘 감사합니다~

[2021-02-17 07:52] MinKeumKim commented on #561
travis에서 보여주는 로그 말고 제대로 된 로그를 어디에서 볼 수 있을까요??

[2021-02-17 09:10] inuit57 commented on #585
동일한 오류를 겪었고 삽질을 좀 하다 해결했습니다.
3가지 확인 부탁드릴게요

1) Gradle 버전 확인
- https://github.com/jojoldu/freelec-springboot2-webservice
- 링크 참조하셔서 4.XX가 아닌 경우에는 gradlew wrapper --gradle-version 4.10.2 명령어로 변경해주세요

2)폴더 경로 확인
- https://parkcheolu.tistory.com/125
- HelloController.class가 있는 경로와 일치하게끔 폴더 구성을 맞춰주셔야 합니다.
(예 /src/main/java/com/jojoldu/book/springboot/web/HelloController ,
      /src/test/java/com/**joj

[2021-02-18 15:15] PaengE opened #590 "[오류] p.310 deploy.sh"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 308 페이지까지는 오류없이 실습이 정상작동됐습니다.

// intellj의 application-real.properties 내용은 다음과 같습니다.
`spring.profiles.include=oauth,real-db`
`spring.jp

[2021-02-19 04:08] zzanggoon8 opened #591 "[오류] p.74"
HelloResponseDto 예제를 하고 있는데
HelloResponseDtoTest 예제를 진행했는데 오류가 나네요.

<img width="1414" alt="스크린샷 2021-02-19 오후 1 02 27" src="https://user-images.githubusercontent.com/76673100/108456406-989bec80-72b3-11eb-924c-6cda5e1b3bc6.png">
<img width="712" alt="스크린샷 2021-02-19 오후 1 03 36" src="https://user-images.githubusercontent.com/76673100/108456412-9c2f7380-72b3-11eb-9879-0a39876d8e8c.pn

[2021-02-19 09:25] zzanggoon8 commented on #2
HelloResponseDto와 HelloResponseDtoTest를 하고 있는데 오류가 나네요.

<img width="1414" alt="스크린샷 2021-02-19 오후 1 02 27" src="https://user-images.githubusercontent.com/76673100/108484928-b8e1a080-72df-11eb-971b-9bc18a5f0d21.png">
<img width="712" alt="스크린샷 2021-02-19 오후 1 03 36" src="https://user-images.githubusercontent.com/76673100/108484939-bc752780-72df-11eb-9315-a5f4e9a2a061.png">
<img wid

[2021-02-19 14:31] ybell1028 commented on #245
저도 https://travis-ci.org/에선 통과하는데 https://travis-ci.com/에서 질문 같은 오류가 계속 뜨네요...

[2021-02-20 07:27] ZZAMBAs commented on #587
몇몇 코드를 복사해 넣다보니 단계를 건너 뛰었던 것 같습니다. 본문을 따라가다보니 해결되었습니다.

[2021-02-20 07:27] #587 closed, assigned to jojoldu

[2021-02-20 08:43] ZZAMBAs opened #592 "[오류] p.297 EC2 테스트 실패"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 인텔리제이에서 모든 테스트를 통과하는데 EC2에서 통과를 하지 못하네요. 이유를 알 수 있을까요?

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

[2021-02-22 02:36] tmdghks384 opened #593 "[오류] p.99 테스트 unable to enhance gradle daemon classloader with idea_rt.jar"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:
unable to enhance gradle daemon classloader with idea_rt.jar
테스트를 진행하면 오류는 아니고 뭔가 빌디가 안되는거같습니다 ㅠ

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세

[2021-02-22 02:48] tmdghks384 commented on #522
이오류 어떻게 해결하셨는지 알수있을까요

[2021-02-23 13:45] PaengE commented on #590
application-real-db.properties의 sqp 오타는 sql로 고쳤습니다만 그래도 안되네요..

[2021-02-23 14:53] PaengE commented on #590
성불했습니다...
ec2에 있는 application-real-db.properties의 설정경로가 바뀌는데 저자님 블로그에있는
ex) spring.datasource.url -> spring.datasource.hikari.jdbc-url 여기서 jdbc를 빼먹었네요. 며칠동안 진도도 못나가서 탈모올뻔했어요

[2021-02-24 08:51] #590 closed, assigned to jojoldu

[2021-02-24 10:20] KimSungKwon opened #594 "[오류] p.311 nohup.out 내용"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: nohup.out 의 내용이 책과 다릅니다..

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL: https://github

[2021-02-25 09:26] klloo opened #595 "[오류]"

[2021-02-26 18:02] woo00oo commented on #594
저도 이 에러 때문에 다음 진행이 안되고 있네요

[2021-02-27 05:03] woo00oo commented on #582
혹시 해결하셨나요?

[2021-02-27 06:25] SieunKiim commented on #582
저랑 같은 문제를 띄고 계신지는 모르겠지만 저는 nohup에 대한 지식이 부족했었어요!!
 사진이 내용처럼 매번 빌드 할 때 마다 nohup 파일을 지우고 하시는걸 추천드려요.

네이버 메일앱에서 보냈습니다.
-----Original Message-----
보낸사람: "woo00oo"<notifications@github.com>
받는사람: "jojoldu/freelec-springboot2-webservice"<freelec-springboot2-webservice@noreply.github.com>
참조: "sieun960513"<sieun960513@naver.com>, "Manual"<manual@noreply.github.com>
날짜: 2021. 2. 27 오후 2:03:40
제목: Re: [jo

[2021-02-27 06:45] woo00oo commented on #582
글쓴이 분과 똑같이 외부 시큐리티 파일을 등록해줘도 사진처럼 오류가 뜨고 있거든요 ㅠㅠ nohup파일을 지워도 실행해도 똑같이 오류가 뜨네요 ..

[2021-02-27 07:47] SieunKiim commented on #582
저 오류의 의미가 해당되는 jar파일이 없거나 제대로 가져오지 못하는 경우에 발생하는거같더라구요
저도 하면서 느끼게 된 것을 초보지만 조심스럽게 말씀드려보자면
일단 오타가 가장 주된 요인이라 생각되고 오타도 없다면 deploy에 있는 커맨드들을 한줄씩 직접 쳐보면서 의도대로 수행되는지, 빌드 후에 jar 파일이 생성되고 원하는 위치에 복사되는지(cp) 를 한번 확인해보세요!! 저는 이렇게 하니까 감이 조금 잡히더라구요..

네이버 메일앱에서 보냈습니다.
-----Original Message-----
보낸사람: "woo00oo"<notifications@github.com>
받는사람: "jojoldu/freelec-springboot2-webservice"<freelec-springboot2-webservi

[2021-02-27 08:08] woo00oo commented on #582
네 알겠습니다 답변 감사해요 ^^

[2021-02-27 12:07] HWANGJEONGHYEON1 opened #596 "[오류] p.357 배포오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요? 배포가 잘 안됩니다.
먼저 travis 로그입니다.
Worker information
0.14s0.00s0.01s0.00s0.00s
system_info
Build system information
0.00s0.01s0.31s0.00s0.00s0.00s0

[2021-02-28 07:25] #582 closed, assigned to jojoldu

[2021-03-01 12:59] BrandPark commented on #407
저도 이거랑 같은 오류가 발생하는데... 혹시 이거 해결하셨나요??

[2021-03-02 06:13] earth-space commented on #67
덕분에 해결하고 갑니다 감사합니다

[2021-03-02 09:16] mingdyuo commented on #564
@ljeadec31
따로 도메인 파서 (freenom 이용했습니다) Route53에서 라우트 호스팅 걸고 시도하니까 되네요
도메인 form 파싱 문제가 맞나 봅니다.

[2021-03-02 10:19] dnjsdyd345 opened #597 "[오류] p.72 롬복테스트 수행중 그레이들 버전 오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:  롬복 테스트 진행중 오류가 나서 찾아보니 6.7버전이라 4.10.2 버전으로 다운그레이드를 하기 위해 터미널에서 gradlew wrapper --gradle-version 4.10.2 를 수행하였으나 zsh: command not found

[2021-03-03 00:36] archymi commented on #597
./gradlew wrapper --gradle-version 4.10.2
해보세요

[2021-03-03 06:33] planetdoy commented on #271
@MinhoLee93 오! 감사합니다.!

[2021-03-03 09:35] Im-Gyo opened #598 "[오류] p.95 테스트코드 오류(mariadb사용)"
### 어떤 오류인가요?

오류설명: 안녕하세요. 이 책을 보고 h2DB가 아닌 mariadb로 다른 프로젝트를 생성해 똑같은 코드를 실행해 본 결과
테스트 에러가 계속 나서 도움을 받고자 작성합니다.
https://okky.kr/article/879896
캡쳐자료 등은 이 곳 커뮤니티에 올려두었습니다..
꼭 해결하고 싶습니다 부탁드립니다.

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL: https://github.com/Im-Gyo/Designer

### 오류 로그

어떤 오류인지 캡쳐해주세요.

https://okky.kr/article/879896

[2021-03-03 13:05] dnjsdyd345 commented on #597
안되네요ㅜㅜ

[2021-03-03 13:05] dnjsdyd345 commented on #597
혹시 맥북m1이라서  그런걸까요

[2021-03-03 15:07] jidongjun commented on #571
test passed는 했는데 insert 쿼리가 안 나오는것은 어떻게 해결해야하나요

[2021-03-03 16:06] dnjsdyd345 commented on #597
env: sh: No such file or directory
라고 뜨네요!

[2021-03-03 16:23] dnjsdyd345 commented on #597
아 해결하였습니다 . 터미널에 export PATH 로 경로를 잡아주니 정상실행되네요

[2021-03-04 03:24] iksflow commented on #487
저도 같은상황 겪고있습니다.
AWS Linux2 로 진행중이라 기능이나 인터페이스에서 안맞는부분이 좀 있다보니 힘드네요 ..ㅎㅎ
파라미터그룹 재설정하고 RDS를 재부팅해도 같은 현상이 지속되네요.

[2021-03-04 11:56] bossm0n5t3r commented on #487
저같은 경우에는 워크벤치에서 직접 수정해서 결국 프로젝트 마무리 지었습니다.

[2021-03-04 14:46] jidongjun opened #599 "[오류] p.110 PostsApiControllerTest를 실행하면 테스트는 통과하는데 쿼리결과가 출력이 안됩니다"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?
코드를 실행하면 테스트는 통과했다고 나오는데 JPA 쿼리가 console 창에 출력이 안됩니다.

오류설명:
PostsApiControllerTest를 실행하면 테스트는 통과했지만 그에 관련 JPA 쿼리는 아무것도 출력되지 않습니다.

### 프로젝트 주

[2021-03-07 15:01] sangwookShin opened #600 "[오류] p.297 ./gradlew test 오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:  gradle 버젼 4.10.2 / 스프링부트 버젼 2.1.9 쓰고 있는데 인텔리제이에서는 빌드랑 실행 문제없이 되는데 putty에서 ./gradlew test 실행하니 빌드 오류가 납니다.

### 프로젝트 주소

Github에 오류가 난

[2021-03-08 01:24] sangwookShin commented on #600
왜 그런지는 모르겠지만 디렉토리 파일을 다시만들고, 다시 클론해서 실행했더니 정상작동됩니다. 항상 감사합니다.

[2021-03-08 01:24] #600 closed, assigned to jojoldu

[2021-03-08 11:19] seyoung755 opened #601 "[질문] CRUD 기능의 return 값이 id인 이유 ?"
안녕하세요. 저자님.
책을 구매해서 실습해보던 중 궁금한점이 있어서 질문남깁니다.

postsService나 API에서 return 값으로 Long id를 반환하게 되어있는데 이는 특별한 목적이 있는건가요?

초보자라 궁금합니다 ㅠㅠ

[2021-03-08 14:58] jidongjun commented on #233
이거 해답이 나왔나요...ㅠㅠㅠ

[2021-03-08 16:32] jidongjun commented on #599
어떻게해야하나요...

[2021-03-09 09:34] gouz7514 commented on #585
@inuit57 님이 올려주신 해결책에서 저는 2번으로 해결했습니다.
패키지 경로 문제였어요. 감사합니다!

[2021-03-09 14:40] #599 closed, assigned to jojoldu

[2021-03-10 00:12] jidongjun commented on #446
저도 똑같은 현상이 일어나는데 어떻게 해결하셨나요

[2021-03-10 15:22] dev4choonii commented on #585
@inuit57 1번과 3번으로 해결되었습니다. 감사합니다 :)

[2021-03-11 06:44] rainrino commented on #487
저도 AWS Linux2로 진행 중인데 위의 링크 따라서 해본 것들과 인터넷으로 찾은 방법들 모두 시도해봤지만 변경이 되지 않습니다ㅠ

[2021-03-11 11:52] ZhenxiKim commented on #578
혹시 해결하셨나요? 저도 똑같은 결과로 확인해 보니 HelloController에서  아래 코드가 누락되어있었습니다!😅
`@GetMapping("/hello")
    public String hello() {
        return "hello";
    }`

[2021-03-12 12:01] Hoegaarden-Son commented on #528
build.gradle 에서  두 개  주석 처리 하니까 됐어요...........................
이것 때문에 시간낭비를 ㅠㅠㅠ
1개만 해도 실행안됨

//    compile('org.springframework.boot:spring-boot-starter-oauth2-client')
//    testCompile("org.springframework.security:spring-security-test")

[2021-03-16 04:26] yeon-06 opened #602 "[오류] p.364 빌드배포 성공했는데 변경 내역 미반영"
### 어떤 오류인가요?

오류설명:
빌드 및 배포 잘 됐는데 **index 페이지에 ver 2 글자 넣은게 반영이 되지 않음**
build.gradle 파일에 version 1.0.1 추가한건 jar 파일명 springboot_aws-1.0.1-SNAPSHOT.jar으로 바뀐거 통해서 확인했습니다.
유사한 오류 뜬 분은 계시던데 댓글에 달린 방법으로 해결 안되어서 올립니다

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL: https://github.com/yeon-06/springboot-aws

### 오류 로그

nohup.out 파일에서 포트 충돌이 일어나길래 수동으로 kill 해준

[2021-03-18 08:43] gouz7514 commented on #554
@dudgh9661 와 이거 해결하려고 온갖 데 다 뒤지면서 스트레스 엄청 받았는데 덕분에 해결했습니다!

[2021-03-19 01:22] yeon-06 commented on #602
*** 03/19 추가 deploy.sh 일부 명령어를 바꾸니 기존 애플리케이션의 PID를 찾아 kill 시키는 것에는 성공했습니다.
이제 nohup.out이랑 codedeployment 로그 모두 정상적으로 작동합니다만 아직 페이지  반영은 안되네요ㅠㅠ

[2021-03-19 01:47] yeon-06 commented on #602
*** 03/19 추가
해결했는데 정말 어이가 없네요....
수정한 index파일이 src가 아니라 bin에 속해있었습니다.
대체 git에 bin 폴더가 왜 push 되어있는건지....ㅠㅠㅠ
정말 기초적이고 어처구니 없는 실수지만.. 저같은 분이 또 계실까봐 글 그냥 남겨두겠습니다ㅠㅠ

[2021-03-19 06:56] #602 closed, assigned to jojoldu

[2021-03-22 06:16] bell-ho commented on #349
lombok 사용시 SessionUser 클래스에
@NoArgsConstructor 추가하니까 되네요

[2021-03-23 08:39] dnjsdyd345 commented on #350
이문제 해결 어떻게 해결하셨는지요??

[2021-03-23 09:29] dnjsdyd345 opened #603 "[오류] p.219 spring security import 문제"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:

![image](https://user-images.githubusercontent.com/48784869/112124407-a53e9800-8c05-11eb-9365-4f57940b2f70.png)

변경된 코드가많아서 그냥 복사했는데 i

[2021-03-23 09:30] dnjsdyd345 commented on #603
gradle 추가 후 리로드 및 업데이트 전부 하였습니다.

[2021-03-24 09:42] dnjsdyd345 commented on #603
자동완성으로인해 이상하게 적용된것같은데.. 해결하였습니다.!

[2021-03-24 10:25] dnjsdyd345 opened #604 "[오류] p.235 ec2 Amazon linux 생성관련"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: ec2 AMI1이 종료되고 2만 있는데 2로 진행해도 괜찮을까요?

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL:

##

[2021-03-24 11:25] #604 closed, assigned to jojoldu

[2021-03-24 11:27] dnjsdyd345 opened #605 "[오류] p.247 pem key 복사 문제입니다."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:
![image](https://user-images.githubusercontent.com/48784869/112303003-20c04800-8cdf-11eb-9f79-a51ed7854478.png)

mac m1 을 사용중이고 처음 사용해봐

[2021-03-24 16:06] MJ-0701 opened #606 "[오류] p.117"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

### 어떤 오류인가요?

오류설명: h2 jdbc url 연결이 안됩니다 ㅠ

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL: git@github.com:jack2718-dr/springboot-webservice.git

### 오류 로그

어떤 오류인지 캡쳐해주세요.
![오류제보](https://user-images.githubusercontent.com/62600560/112343203-3dbc4180-8d06-11eb-92ae-ebcbddec76f4.png)

[2021-03-24 16:21] MJ-0701 commented on #606
해결했습니다. 프로퍼티에 spring.datasource.url=jdbc:h2:mem:testdb 추가를 안해줬네요..

[2021-03-25 06:47] olanche commented on #287
@mewoojal 초면에 실례합니다 저는 microsoft edge브라우저에서는 삭제버튼을 눌러도 아무 반응이 없고 chrome에서만 작동하네요

[2021-03-25 15:17] freedrawing commented on #533
잘 보겠습니다. 감사합니다

[2021-03-26 07:38] bell-ho commented on #451
오류설명:
application.properties 파일에서 spring.profiles.include=oauth 세팅 되어 있는데, ProfileControllerTest->profile은_인증없이_호출된다() 에서는 "default" 값으로 체크해서 일단 테스트에서 오류가 납니다.

----->
test 디렉토리에 있는 application.properties파일 spring.profiles.include 부분을 지워보세요

[2021-03-27 12:56] kth4249 commented on #435
EMAIL을 가져오지 못한다고 하는 것 보니, 첫 로그인 시 필수 권한 체크 중 이메일을 체크하지 않고 동의하신 것 같습니다. 저도 이름을 체크하지 않았더니 NULL not allowed for column "NAME" 이렇게 오류가 나서
naver로그인 -> 내정보 -> 보안설정 -> 네이버와 연결된 서비스 관리에서 정보 제공 철회 이 후 다시 시도하였더니
정상적으로 동작 되는 것을 확인했습니다.

[2021-03-30 01:39] MJ-0701 opened #607 "[오류] p.219페이지 테이블생성이 안됩니다."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

### 어떤 오류인가요?

오류설명:
프로젝트 테스트 실행중에 테이블생성이 안되는것 같아요. 실제프로젝트 빌드시 h2콘솔에 정상빌드 되는데 테스트는 통과를 못하네요.

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL:
* git@github.com:jack2718-dr/springboot-webservice.git

### 오류 로그

어떤 오류인지 캡쳐해주세요.
![image](https://user-images.githubusercontent.com/62600560/112920450-f38ef200-9143-11eb-824f-f286182

[2021-03-30 01:41] MJ-0701 commented on #607
![image](https://user-images.githubusercontent.com/62600560/112920666-60a28780-9144-11eb-9564-c706ce4ce088.png)
책에서 통과돼야 하는 메서드들은 다 테이블 생성이 안돼서 통과가 안되고있습니다.

[2021-03-30 02:53] MJ-0701 commented on #607
대소문자 문제인가 싶어서 DATABASE_TO_UPPER=false 해주고 콘솔상에 posts로 정상적으로 생성 됏는데도 posts테이블이 없다고 나오네요 h2연결문제인가 싶어서 프로젝트 실행후 테스트를 해봐도 똑같슽니다 ㅠ 스택오버플로우에서 DB_CLOSE_DELAY=-1; 해보라고해서 저것도 추가해봣는데 해결이 안되네요. 혹시 junit 문제인가요? 현재 사용하는 버전은 junit5 이긴 합니다.

[2021-03-30 03:33] MJ-0701 commented on #607
마리아 디비로 변경하고 하니까 되네요 H2 문제인것 같습니다.. 저는 마리아로 진행하겠습니다.

[2021-03-30 08:59] DevOps-chdkim opened #608 "[오류] p.116 H2 DB 연결 불가(not found)"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?
Application.main() 실행 후 아래 메세지 출력(정상적으로 된 것으로 보입니다.)

오후 5:49:50: Executing task 'Application.main()'...

  .   ____          _            __

[2021-03-31 02:43] Tutorial999 commented on #346
저도 똑같은 오류로 골치 아팠는데 덕분에 고쳤습니다. 감사합니다.

[2021-03-31 08:52] huchuchu commented on #487
저도 AWS Linux2로 진행중인데 파라미터 그룹 반영이 안된건 RDS 재부팅으로 해결하고 alter 쿼리 오류나는건 책에서 처럼 줄 나눠서 치지않고 한줄로 치니까 해결됐습니다~!

[2021-03-31 20:57] jack2718-dr commented on #518
해결하셨나요? 저도 컨트롤러에 제대로 매핑을 해놨는데도 404가 뜨네요 ...

[2021-03-31 21:25] MJ-0701 commented on #518
혹시 해결하셨나요? 저도 같은오류인데 컨트롤로에 맵핑도 제대로 다 돼있고 @RestController 라 뷰파일이없어서 그런것 같지는 않은데 ㅠ 왜 때문인지를 모르니 답답하네요...

[2021-03-31 21:31] MJ-0701 commented on #608
프로퍼티에 spring.datasource.url=jdbc:h2:mem:testdb 하셨나요?

[2021-04-01 01:45] MJ-0701 opened #609 "[오류] p.297"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 297페이지 putty 테스트중 오류가 났습니다. 해당페이지 이슈가 있길래 참고해봤더니 저랑은 다른 오류더군요... 테스트 패키지 resources 에 properties 파일은 추가 했습니다.

### 프로젝트 주소

Github에 오류가

[2021-04-01 02:09] MJ-0701 commented on #607
동욱님 티스토리 보고 해결했습니다 :0

[2021-04-01 02:19] MJ-0701 commented on #609
티스토리보고 프로퍼티변경하고 기존에 테스트코드 오타난것도 수정하니 잘 됩니다...

[2021-04-01 06:59] DevOps-chdkim commented on #608
감사합니다.

[2021-04-02 05:31] irisrucia97 opened #610 "[오류] p.210 네이버 로그인 오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 네이버 로그인을 누르면 로그인이 안되고 localhost:8080/login으로 넘어갑니다.
값은 잘 넘어오는거같은데 어디서 오류가 나는지 잘 모르겠습니다ㅠㅠ

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Git

[2021-04-02 05:59] Cronian opened #611 "[오류] p.395 / travis 에서 before_deploy 중 cp build/libs/*.jar before-delpoy/ 문단 실행시 오류발생"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:
travis 에서 before_deploy 중 cp build/libs/*.jar before-delpoy/   문단 실행시 오류발생
cp: cannot stat 'build/libs/*.jar': No such file or director

[2021-04-03 11:46] isun-dev commented on #2
다운그레이드하고도 동일한 현상이 나타나서 확인해보니, IntelliJ IDEA 2020.3에서는 롬복 문제로, Preferences | Build, Execution, Deployment | Compiler | Build process VM options field에  -Djps.track.ap.dependencies=false 를 추가해야 정상작동이 된다고 하여, 추가 후 테스트 정상적으로 됐습니다!

[2021-04-04 14:12] costdown opened #612 "[오류] p.100 hibernate MySQL5InnoDBDialect 문구 추가 시 에러 발생합니다,,"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: application.properties에서 spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL5InnoDBDialect 문구 추가 시에 에러가 발생하고,, 해당 문구를 제

[2021-04-05 14:04] Cronian commented on #612
저도 비슷한 오류가 있었어서 검색을 통해 해결했습니다.
그레들 버전 이슈였던걸로 기억합니다.
그레들 버전을 책과 동일하게 맞춰주지 않았다면 application.properties 를 이렇게 써보시는걸 추천합니다.
아래 내용중 jdbc-url은 본인 h2DB 경로를 확인해서 붙여넣으시면 됩니다.

spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL57Dialect
spring.jpa.properties.hibernate.dialect.storage_engine=innodb
spring.datasource.hikari.jdbc-url=jdbc:h2:mem://localhost/~/testdb;MO

[2021-04-06 03:38] CHOILOCAL commented on #422
저도 같은 에러인데 해결하셨나요 ???

[2021-04-06 09:42] 1eedaegon commented on #591
저도 Lombok plugin설치해도 안되더라구요
dependencies{} 안에 annotationProcessor('org.projectlombok:lombok') 추가해줬더니 됬네요
밑에 것도 고려해보세요
testCompile('org.projectlombok:lombok')
testAnnotationProcessor('org.projectlombok:lombok')

[2021-04-06 11:10] ghost opened #613 "[오류] p.150"
오류설명:
글 등록은 되는데(DB도 확인 하였습니다.)
조회 목록이 생성되지 않습니다.

* Github URL: https://github.com/Tutorial999/freelec-springboot2-webservice

### 오류 로그

어떤 오류인지 캡쳐해주세요.

[2021-04-07 13:03] MJ-0701 opened #614 "[오류] p.303"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:jar 303페이지 실습build중 jar파일을 찾지 못합니다.

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.

* Github URL: https://github.com/jack2718-dr/springboot-we

[2021-04-07 13:30] MJ-0701 commented on #614
해결했습니다. grep *.jar  -> 띄어쓰기를 해야됏네요.

[2021-04-07 13:32] jack2718-dr commented on #565
저도 정상실행이 되네요...

[2021-04-08 16:02] MJ-0701 commented on #594
nohup java -jar \
        -Dspring.config.location=classpath:/application.properties,/home/ec2-user/app/application-oauth.properties,/home/ec2-user/app/application-real-db.properties \
        -Dspring.profiles.active=real \
        $REPOSITORY/$JAR_NAME 2>&1 &
제 쉘스크립트인데 보시면  -Dspring.profiles.active=real \ 이부분이 빠져있는것 같은데 해결하셨나요?

[2021-04-08 16:12] MJ-0701 opened #615 "[오류] p.311"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 스프링부트 2.4 이상버전부터 발생하는 오류같습니다.

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL:

### 오류 로그

[2021-04-09 00:12] jack2718-dr commented on #474
저도 같은문제인데 태그이름을 애플리케이션 이름으로 하는거 아닌가요? 저는 제대로 돼있는것 같은데 잘 모르겟네요 ㅠ

[2021-04-09 04:17] MJ-0701 commented on #555
같은오류인데 혹시 해결하셨나요?

[2021-04-09 04:45] MJ-0701 opened #616 "[오류] p.383"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 383페이지 컨트롤러 테스트중 302오류 발생.
감을 못잡겠네요 ㅠ

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL: ht

[2021-04-09 08:49] jaeyeonme opened #617 "[오류] p.105 PostsApiController.java 에서 save 에서 에러가 발생합니다."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL:  https://github.com/JaeYeon33/spring-boo

[2021-04-09 14:44] Cronian commented on #611
자문자답 합니다.
실제로 travis 실행시 jar 파일이 생성되지 않았던것을 travis raw log를 통해 확인하였고,
해당 폴더 ( build/libs ) 로 cd 후 ls 명령어를 통해 조회해보니
파일명이 정상적으로 나오지 않는것을 확인했습니다.
이는 build.gradle의 버전명에 날자시간 넣어주는 코드
version '1.0.1-SNAPSHOT-'+newDate().format("yyyyMMddHHmmss")
에서 오타가 발생해서 정상적으로 파일이름이 생성되지 않아 파일은 생성되었으나 뒤에 .jar가 붙지않는 문제로 인해 발생했습니다.

[2021-04-09 14:44] #611 closed, assigned to jojoldu

[2021-04-09 15:00] MJ-0701 commented on #616
자체 해결했습니다. SecurityConfig 클래스에 "/profile" 로 작성해야되는걸 "profile" 로 해놨어서 해당경로로 못들어가고 index 경로로 들어가서 발생하는 문제였습니다.

[2021-04-09 17:55] HyewonJu opened #618 "[오류] p.110"
### 어떤 오류인가요?

오류설명: PostsApiControllerTest 실행 오류

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL: https://github.com/HyewonJu/firstSpring

### 오류 로그
Failed to load ApplicationContext
java.lang.IllegalStateException: Failed to load ApplicationContext

Caused by: org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with

[2021-04-10 10:20] 1eedaegon commented on #287
@mewoojal
delete: function(){
-> 'use strict'
}
저도 같은 문제 겪다가 강제모드 추가해서 해결했습니다.

delete api 테스트코드로 돌려보니 자바스크립트 부분인 것을 발견하고
다시 제이쿼리에서 헤매다가 console.log찍어보는 코드 추가했더니 동작하더라구요.

스코프 문제인 것 같아서 'use strict' 추가했습니다.
사파리, 크롬에서 강제 새로고침 했더니 모두 잘 됐습니다. 후후...

[2021-04-10 11:52] copper-tech commented on #2
74 Page
= HelloResponseDto.java 에서 아래 에러가 발생했습니다.
error: variable name not initialized in the default constructor
    private final String name;
                         ^
error: variable amount not initialized in the default constructor
    private final int amount;
                      ^

위에 @yazbyz 님이 알려주신 방법으로 해결했습니다.

build.gradle

dependencies {
    compile('org.springframework.boot:spring-

[2021-04-10 14:36] #618 closed, assigned to jojoldu

[2021-04-10 14:38] HyewonJu commented on #618
자체 해결했습니다 :)

[2021-04-11 09:32] mangdo commented on #452
이거 지금 저도 그런데 혹시 어떻게 해결하셨나요?ㅜㅜ
+) 해결했습니다!
혹시 같은 오류 있으신 분들 SecurityConfig.java 파일 확인해주세요!

[2021-04-12 00:42] mangdo opened #619 "[오류] p.222"
### 어떤 오류인가요?
오류설명: 전체테스트로 진행시 오류가 납니다

### 프로젝트 주소
* Github URL:  https://github.com/mangdo/SpringBootBoard

### 오류 로그

어떤 오류인지 캡쳐해주세요.
![image](https://user-images.githubusercontent.com/70243735/114326984-2b4d5f00-9b72-11eb-841f-b67d1f6ebf50.png)

그림 5-38에서는 테스트가 총 8개다라고 나오고
그림 5-40에서는 테스트가 총 12개라고 나오더라구요

제가 222쪽까지 모두 따라했을시에
총 테스트 12개중에서
직접 짠 테스트 8개에서는 모두 통과하지만
initalizationError 오류가 3개가 나고있습니다

[2021-04-12 02:39] mangdo commented on #616
안녕하세요! 정말 실례될수있지만,
혹시 아마존 리죽스 1 AMI를 사용하고 계신가요 2를 사용하고 계신가요?

[2021-04-12 02:53] mangdo opened #620 "[오타 제보] 아마존 리눅스 버전1 지원 종료"
아마존 리눅스 버전1의 지원이 종료되었다고 합니다.
https://aws.amazon.com/ko/amazon-linux-ami/
https://aws.amazon.com/ko/blogs/korea/update-on-amazon-linux-ami-end-of-life/

### 오타

* as-is (오타): 235p "amazon Linux AMI 선택 "

* to-be (교정):

amazon Linux AMI 2밖에 없습니다

[2021-04-12 15:43] tkdguq9369 opened #621 "[오류] p.63 테스트코드"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 현재 63페이지의 테스트코드 작성부분입니다.
초록색 화살표를 눌러 실행하면 java.lang.NoClassDefFoundError: org/apache/tools/ant/util/ReaderInputStream 오류가 계속 나옵니다.
grad

[2021-04-13 03:37] suin0730 commented on #585
저는 build.gradle에 초기 설정으로 있길래 놔뒀던 junit 5.7.0 때문에 "TestEngine with ID 'junit-jupiter' failed to discover tests" 에러 떴었습니다! 혹시 같은 문제 겪으시는 분은 compile과 testcompile 종속성에 junit이 포함되어 있으니 원래 있던 부분 없애셔도 될 것 같습니다.
![image](https://user-images.githubusercontent.com/43488326/114493167-ff56da00-9c54-11eb-980c-5acf55910445.png)

[2021-04-13 06:13] #613 closed, assigned to jojoldu

[2021-04-13 06:22] ghost opened #622 "[오류] p.150 조회목록 생성이 안됩니다...제발 도움 좀 부탁드립니다."
h2로 조회했을때 게시글 등록은 분명히 됐는데

index 메인
posts/save 게시글 등록

메인 > 게시글 등록 > h2 데이터 확인 까지 모두 됐는데
등록이 완료됐다는 메시지 뒤 index에서 조회 목록 생성이 안됩니다....

며칠째 헤매고 있는데 오류 메시지가 뜨는 것도 아니고 어디가 누락이 됐는지
도저히 찾을 수가 없어 다시 질문글 올립니다....

제 깃허브 주소 입니다.
https://github.com/Tutorial999/freelec-springboot2-webservice

머스테치파트 책에 나와있는 내용을 전부 지웠다 다시 쳐보기도 하고 했는데 답이 안나옵니다...

팁이나 도움 좀 부탁드리겠습니다 ... 답변 간절히 기다립니다.

[2021-04-13 13:38] norang4114 opened #623 "[오류] p.62 도와주세요. 테스트코드 perform에서부터 진행이 안돼요."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:
동일한 경로에 HelloControllerTest.java를 만들고, 코드를 작성했는데,
 mvc.perform(get(... 에서부터 'Cannot resolve method 'get' in 'HelloControllerTest' 이런 오류

[2021-04-13 14:21] Haseonglee opened #624 "[오류] p.110"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 110p의 PostApiControllerTest.java 에서 Posts_등록된다()를 test하면 에러가 뜨는데
다른 글들과 검색을 참고하니 권한 문제인것 같은데 구글링해서 해결하려 해도 도무지 어떻게 해야할지 모르겠습니다 ..

###

[2021-04-13 14:26] norang4114 commented on #623
책을 다시 보니 import 중에 빼 먹은 부분이 있어서 수정하였더니 잘 됩니다.ㅎㅎㅎ

[2021-04-13 14:26] #623 closed, assigned to jojoldu

[2021-04-13 15:21] ghost opened #625 "[오류] p.118 '/api/v1/posts/1' 호출 시, title, content, author 값이 null로 나옵니다."
### 어떤 오류인가요?

오류설명:
- '/api/v1/posts/1' 호출하여 등록한 값을 확인하니 null로 떨어집니다. 어떤것이 문제인지 모르겠어서 도움을 부탁드립니다.
<img width="417" alt="스크린샷 2021-04-14 오전 12 18 06" src="https://user-images.githubusercontent.com/82167691/114577478-fd256780-9cb6-11eb-9e0c-53b59e965c50.png">

- h2-console에서 select 하였을때는 정상적인 값이 호출됩니다.
<img width="527" alt="스크린샷 2021-04-14 오전 12 17 39" src="https://user-images.git

[2021-04-14 04:01] sangwookShin opened #626 "[오류] p.311"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: curl localhost:8080 실행시 status:500 에러가 납니다. 오타도 없는거 같고 예상되는건 EC2에서 RC2 테이블 잘못한거 같습니다.

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github

[2021-04-14 11:53] #621 closed, assigned to jojoldu

[2021-04-14 11:53] tkdguq9369 commented on #621
m

[2021-04-15 08:00] gouz7514 commented on #561
이 에러 혹시 해결책이 있을까요? 저도 배포 및 Travis에서도 아무 문제가 없는데 변경 내역이 반영이 안 되네요..

[2021-04-15 16:55] #617 closed, assigned to jojoldu

[2021-04-15 16:59] jaeyeonme opened #627 "[오류] p.115 Posts_수정된다() 에서 테스트 수행시 오류가 발생합니다."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:

Invalid mime type "{"title":"title2","content":"content2"}": does not contain '/'
org.springframework.http.InvalidMediaTypeException:

[2021-04-16 04:48] suin0730 commented on #174
저는 @PostMapping("/api/v1/ports")으로 오타냈네요.... 다들 주의하세요!

[2021-04-17 11:09] ghost commented on #625
코드를 다시보니, PostsResponseDto에서 entity.getTitle()을 안했네요 ㅎㅎ 자체 해결해서 닫겠습니다!!

[2021-04-17 11:09] #625 closed, assigned to jojoldu

[2021-04-17 11:24] ByeongjaeBae opened #628 "[오류] p.151 스프링부트 껐다키면 db가 초기화됩니다"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 스프링부트 껐다키면 db가 초기화됩니다. 게시글 목록을 확인해야하는데 스프링 서버를 껐다가 키면 아예 db가 초기화되버려서 처음부터 해야합니다..

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를

[2021-04-17 12:02] #628 closed, assigned to jojoldu

[2021-04-17 17:05] hanhyur commented on #422
해결하지 못해서 아예 처음부터 다시 하니까 에러 없이 진행할 수 있었습니다 YqY...

[2021-04-18 05:40] mangdo commented on #620
amazon Linux 2로 진행하였는데 배포까지 크게 다른 내용없이 진행하였습니다.
amazon Linux 1에는 자바7이 설치되어있는데 amazon Linux 2에는 자바가 아예 설치되어있지 않다는 점 정도 차이가 있었습니다

[2021-04-18 05:40] #620 closed, assigned to jojoldu

[2021-04-18 05:41] #619 closed, assigned to jojoldu

[2021-04-18 13:00] ChaHyunHo opened #629 "[오류] p.297"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: ec2에서 배포중에 ./gradlew test 에서  아래 이미지처럼 에러가 납니다. 그래서 인텔리제이에서 터미널로 테스트해보면 두번째 이미지처럼 에러가 납니다. 버전 정보 바꿔가며 계속 테스트해보고 있는데 몇시간째 삽질하고 있어서 질문드립니

[2021-04-19 14:47] ChaHyunHo commented on #629
자문 자답입니다. 일단 인텔리제이에서 ./gradlew test 후  롬복 관련 에러가 났던것은 자바 버전 문제로 생각됩니다. 제가 인텔리제이 터미널 환경에서 제 맥북 전용 zsh 환경(1.8로맞춤)이 아닌 기본터미널환경 bash로 돌렸고 하필 그 자바 버전이 16이라 버전에러가 난것으로 판단됩니다.
 ec2 배포 환경에서는 테스트 에러는 단순 코드 에러로 판단하고 있습니다.
책만보고 바로 프로젝트 배포하지말고 인텔리제이 터미널환경에서 먼저 테스트 해보고 배포하는게 좋지 않을까 ..... 라는 느낌적인 느낌이 ㅎㅎ

[2021-04-20 13:49] #629 closed, assigned to jojoldu

[2021-04-21 06:28] 1eedaegon opened #630 "[공유] p.356-357 S3 성공 후에도 Codedeploy로 배포가 안되는 문제"
복잡한 삽질경험을 공유합니다.

**상황**
- Travis 빌드 시에 모든 과정이 성공 후 Done.
- CodeDeploy agent is running으로 에이전트는 정상
- S3에서 zip파일이 발견되나 EC2나 Codedeploy는 무응답 상태

**원인**
1. Codedeploy가 간혹 EC2 인식을 하지 않음.
2. Travis CI가 브랜치를 읽지않음

**해결방법**
1. Codedeploy application 삭제 후 다시생성
2. 브랜치 옵션 추가
[code]

** 참고파일 **
`/var/log/aws/codedeploy-agent/codedeploy-agent.log`

** 실패 시 **
<img width="1092" alt="Screen Shot 2021-04-21 at 3

[2021-04-22 07:51] 1eedaegon opened #631 "[공유] p.383 / 접속 시 HTTP status 500 및 /profile 접속 시 OAuth인증페이지 뜨는 문제"
오늘도 복잡한 삽질경험을 공유합니다. =]

### 상황
Travis 성공 후 Codedeploy까지 배포 성공했으나

1. 실제 EC2 접속 시 Http status 500이 뜨는 상황
2. /profile 접속 시 Oauth2 인증페이지 반환

### 원인
deploy.sh에서 현재 실행 중인 Spring boot 프로세스 아이디를 가져오지 못해 같은 웹서버 중복 실행

### 해결방법
[code]

### 참고파일
/home/ec2-user/app/step2/nohub.out

### 실패 시
<img width="965" alt="Screen Shot 2021-04-22 at 4 30 29 PM" src="https://user-images.githubusercontent.com/37583495/11

[2021-04-23 02:30] yoonsanghyuk commented on #520
지나가다 답변드립니다.
말씀하신 에러는 js를 불러오지 못하여 발생한 에러로 보입니다.

책 본문 143페이지에 노티되어 있듯이
Host뒤에 오는 경로("/")가 호스트서버인 tomcat context와 연결되어, 소스상 src/main/resources/static 경로로 치환된다고 보시면 됩니다.

@GetMapping 과 @GetMapping("/")은 다르게 동작합니다.
얼핏 테스트해보면 접속시 index페이지가 노출되긴 하여 오동작인지 모르고 지나칠수 있는데
path값을 명시하지 않은 경우 any request가 전부 연결됩니다.
그래서 index페이지가 뜬거고, 그걸보고 잘 연결됬다고 착각하시게 된것으로 보입니다.
글로 적으니 잘 이해가 안되셨을수 있는데 아래 내용을 참고하시면 바로 이해되실겁니다

[2021-04-23 14:39] suin0730 commented on #513
안녕하세요. 저도 같은 문제가 발생했는데 어떻게 해결하셨는지 알려주실 수 있을까요..?

[2021-04-25 04:30] LEEJIYUL commented on #67
@bossm0n5t3r
솔루션 감사합니다!

[2021-04-27 06:33] hmyanghm commented on #537
안녕하세요.
해당 에러 부분 혹시 해결 되셨나요?

[2021-04-29 11:34] leaf-hyeon commented on #239
와 감사합니다 덕분에 해결했습니다

[2021-04-29 12:37] courage331 opened #632 "[오류] 395p 10.4 진행중에 발생한 오류입니다."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: nginx로 무중단 배포를 위해 scripts를 추가하고 나서 부터 계속 아래의 오류가  발생했습니다.

 Build config validation
deploy: deprecated key skip_cleanup (not supported

[2021-04-30 14:26] Bue-von-hon opened #633 "[오류] p.311 스프링부트와 rds 연동관련 여러 문제 해결 방법"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:
1. null point를 받는다
2. db에 데이터가 없다고 나온다

1번의 경우 어노테이션 부분에서 미스가 났을 확률이 높습니다.
2번의 경우 mysql에 테이블을 생성 안하셨거나, 테이블에 데이터를 안넣은 경우가 많습니다.
특히 db에

[2021-05-03 11:15] leaf-hyeon commented on #474
@Yubron 좀더 정확히 설명해 주실수 있나요? ㅠㅠ

[2021-05-03 15:14] youngjinmo commented on #624
권한문제라면 MockMvc을 통해서 해결할 수 있을것 같습니다.
216 페이지부터 참고하시면 도움될 것 같습니다.

[2021-05-04 00:48] Yubron commented on #474
@kssrcn
시간이 꽤 지나서 정확히 기억나진 않는데요, EC2 > 인스턴스 들어가시면 하단에
세부정보, 보안, 네트워킹, ... , 태그 라고 있거든요
여기 태그에 Key : Value 값에 오타가 있었거나 , Value 값이 프로젝트 명인데 올바른 프로젝트 명으로 기입이 되어있는지
한번 확인해보세요 !

[2021-05-05 13:35] sbdyzjdla commented on #67
스프링부트 버전이 2.1.9까지만 이었군요
2.4.1 버전 사용중인데
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL57Dialect
spring.jpa.properties.hibernate.dialect.storage_engine=innodb
spring.datasource.hikari.jdbc-url=jdbc:h2:mem://localhost/~/testdb;MODE=MYSQL

이 설정을 적용하니 정상실행 됩니다.
감사합니다!

[2021-05-06 05:30] #630 closed, assigned to jojoldu

[2021-05-06 07:10] jeyongKim opened #634 "[오류] p.186"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

### 어떤 오류인가요?
OAuthAttributes 클래스 toEntity()메서드 안에 46라인에 .role(Role.GUEST)에 빨간 밑줄이 그어져서 확인해보니

'role(com.jojoldu.book.springboot.domain.posts.domain.user.Role)' in 'com.jojoldu.book.springboot.domain.user.User.UserBuilder' cannot be applied to '(com.jojoldu.book.springboot.domain.user.Role)' :46

이러 에러메시작 하단에 보이는데요.
혹시 어떤 원인인줄 알 수 있을까요?

[2021-05-06 07:22] #634 closed, assigned to jojoldu

[2021-05-07 16:42] namu1714 commented on #526
travis.org에서 request자체가 안떠서 두시간 헤맸네요 감사합니다,,,,,

[2021-05-09 21:36] Qyuee commented on #508
https://jojoldu.tistory.com/539
위 링크에 나와있는 build.gradle의 lombok으로 설정하시면 gradle 5.X 이상에서도 정상동작 가능합니다.
(테스트에 사용한 버전은 gradle 6.7.1)

[2021-05-10 09:45] #601 closed, assigned to nobody

[2021-05-11 01:00] dev-HardenLee opened #635 "[질문] Spring Oauth2 client에 관한 질문입니다!"
오류는 아니고.. 질문할 곳이 없어서 여기에 적어봅니다..!

현재는 구글, 네이버 등 소셜로그인으로 로그인을 처리하였는데

SecurityConfig class에서 기존의 form로그인 (security가 지원해주는 로그인 화면이 아닌 사용자가 만든 로그인화면)
을 이용해서 기존 forn로그인과 소셜로그인 둘 다 가능하도록 할 수 있는 설정법이 궁금합니다!

추가로 만약 SecurityConfig class에서 설정을 마쳤다면 따로 인터페이스를 구현한 Service를 만들어야 하는지 궁금합니다!

[2021-05-11 15:50] coffeemiller commented on #591
오늘 인터넷으로 책을 구입해서 헤매고 있는 1인입니다.
환경설정부터가 버전이 달라서 눈이 빠질것 같아 집어 던질까를 고민고민...;;
그래도 하나씩 배운다는 느낌으로 해결해나가고 있습니다.

최신판 IntelliJ는 Lombok을 포함하고 있어서 플러그인 설치가 필요없더군요. 책에서 요구한대로 했지만, 단 한번도 빌드가 되지 않아 구글링으로 해결했습니다.

저와 같이 고민하시는 분들이 있을까하여 공유합니다.

--------------------------------------------------------------------------
1. Lombok 적용 전부터... TEST 부분은 전혀 되지 않습니다.
2. Lombok부분을 다루는 [HelloResponseDtoTest.java]부분에서 다음과

[2021-05-12 03:30] KangChanSong opened #636 "[오류] p.200 SessionUser 널포인터익셉션"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:  구글 로그인 구현 이후 어노테이션과 HandlerMethodArgumentResolver 를 이용해
  코드를 개선한 후 애플리케이션을 재시작해서 / 에 접근하니 NullPointerExeption이 떳습니다.
SessionUser를 초기화

[2021-05-12 06:04] jeyongKim opened #637 "[오류] p.290, p.291 하루 지나니 CREATE TABLE 생성이 안됨."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

### 어떤 오류인가요?
어제 P290에 CREATE TABLE 까지 생성과 INSERT 까지 마무리하고
오늘 다시 인텔리제이에서 실행하니 select @@time_zone, now(); 쿼리 까지는 정상적으로 출력이 되거든요.
그런데 CREATE TABLE을 실행하려고 하면 아래와 같은 에러가 나는데요.
Error executing SQL statement. Access denied for user 'econoc'@'%' to database 'mysql'

291페이지에도
어제 puuyfh mysql 설치 후 계정접속하려고 하니 아래와 같은 에러가 나는데요.

Enter password:
ERROR 2003 (HY000): Can't connect to

[2021-05-12 06:08] bontana033 opened #638 "[오류 & 질문] p.288 인텔리제이 database navigator를 사용했을 때 rds 파라미터가 잘 적용되지 않는 이슈가 있습니다."
### 어떤 오류인가요?

### 오류설명
rds의 인스턴스를 생성하고 파라미터 그룹을 지정했을 때, 실제 db에 접속해서 확인해보면 파라미터가 적용되지 않는 이슈가 있었습니다. 처음에는 인스턴스와 파라미터 그룹을 수번 다시 생성, 재부팅하며 반복했었고 파라미터는 여전히 적용되지 않았습니다.
혹시나 싶어 다른 db 접속 플러그인(mysql workbench)을 사용했었는데, 원하는 대로 다 적용이 되어 있어 잠정적으로 인텔리제이의 db navigator가 제대로 작동하지 않는다는 결론을 내렸습니다.

(사용 버전 : m1 big sur / 인텔리제이 ultimate 20.03 / mariadb 10.2.21 / 사용한 플러그인 : intellij database navigator, mysql workbenc

[2021-05-12 07:51] #637 closed, assigned to jojoldu

[2021-05-12 10:18] #631 closed, assigned to jojoldu

[2021-05-13 06:48] Park-Joyeong opened #639 "[오타 제보] resources/templates/posts-update.mustache"
안녕하십니까..
이번은 제 인생 첫 이슈 등록이에요..
굉장히 영광스럽습니다..

### 오타
교재 오타는 아니고 깃허브 파일 오타인거 같아요.
resources/templates/posts-update.mustache

* as-is (오타): 9번 라인
*     label for="title">글 번호</label

* to-be (교정):
*     label for="id">글 번호</label

감사합니다..

[2021-05-14 06:54] KangChanSong commented on #525
감사합니다.

[2021-05-15 05:15] jongseok3910 opened #641 "[오류] p.118 Api 확인 오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:localhost:8080/api/v1/posts/1 입력시 화이트라벨 에러가 뜹니다

Whitelabel Error Page
This application has no explicit mapping for /error, so you are s

[2021-05-15 11:25] #636 closed, assigned to jojoldu

[2021-05-15 11:25] KangChanSong commented on #636
다시 프로젝트 새로 만들어보면서 해결했습니다. 아마 어딘가에 오타가 있었던 것 같습니다

[2021-05-16 15:22] RNCST opened #642 "[오류] p.63"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

### 어떤 오류인가요?

오류설명:
안녕하세요 책을 구매해서 실습중에 있는데, p63에 테스트 메소드 파트에서 오류가 떠서 진행이 되지 않습니다.
27행과 28행에 있는   .andExpect(status().isOk())과  .andExpect(content().string(hello)); 를 빼고 실행하면 실행이 되는데
일단 이유를 알아야 할 것 같아 질문을 남깁니다.

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL:
* https://github.com/RNCST/springboot-webservice/blob/main/src/tes

[2021-05-16 15:31] #642 closed, assigned to jojoldu

[2021-05-16 15:41] RNCST commented on #642
자체적으로 해결하였습니다.

[2021-05-17 05:31] KangChanSong opened #643 "[오류] p.300 빌드하고 /libs 폴더와 .jars 파일들이 생성되지 않습니다."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:  putty에서 테스트까지 정상적으로 수행했는데
deploy.sh 를 실행하면 /build/libs 디렉토리를 찾을 수 없다고 합니다.
직접 해당 디렉토리에 가봤더니 libs디렉토리가 없습니다.
어떤게 문제인가요?

### 프로젝트 주소

h

[2021-05-17 05:32] KangChanSong commented on #643
./gradlew build로 해결했습니다. 자꾸 이슈 올렷다가 혼자 해결해서 죄송합니다

[2021-05-17 05:32] #643 closed, assigned to jojoldu

[2021-05-18 16:05] coffeemiller opened #644 "[오류] p.156_No key, method or field with name 'post.id'"
### 어떤 오류인가요?

오류설명: 156페이지까지 "게시글 수정/삭제 화면"에서, 글을 작성한 후, 수정하기 위한 작업(posts-update.mustache) 페이지에서 "{{post.id}}"를 읽을 수 없음.

### 오류 로그
![image](https://user-images.githubusercontent.com/43500068/118685280-ef2aaf80-b83d-11eb-81d1-45f0c2f84349.png)

id 부분에 [unread]가 됨.
글 등록시 id값은 불러올 수 있으나, 수정부분에서 이런 현상으로 페이지 접근이 불가.

![image](https://user-images.githubusercontent.com/43500068/118685543-28631f80-b83e-

[2021-05-18 16:47] #644 closed, assigned to jojoldu

[2021-05-18 16:53] coffeemiller commented on #644
해결했습니다.;;;
로그 하나씩 찍어서 막히는 부분에서 오타발견.....
수정했던 부분이 다시 원복되어 오류가 나왔네요. ㅡ,.ㅡ;

신기한것은.... post.id뿐만 아니라 전부 다 unread되어야 할듯 한데 id만 되니 이상하긴 하네요.

[2021-05-20 16:27] jeonka1001 commented on #610
헐 이거 저도 ㅠㅠ

[2021-05-21 03:43] KangChanSong opened #645 "[오류] p.357 배포중 오류 no implicit conversion of String into Integer"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: Travis-CI ,S3, CodeDeploy 연동이 끝난 후
최종적으로 배포를 시도했지만
 no implicit conversion of String into Integer 라는 오류가 계속 뜹니다.
문자열을 정수로 변환할 수 없다는 뜻인데

[2021-05-21 09:06] jeonka1001 opened #646 "[오류] p.204 - 210 네이버 아이디로 로그인"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?
네이버 아이디로 로그인 실습 중 발생한 오류입니다.

오류설명:
구글 이메일 후 세선 데이터베이스 저장 까지 완료. 그 후 네이버 아이디로 로그인 시 아래 사진과 같은 오류 발생합니다 ㅠㅠ

- 같은 현상
[[오류] p.210 네이버 로그인 오류 #610

[2021-05-21 11:49] KangChanSong commented on #641
url로 요청 시도하신거면 get 방식인데 PostsApiController에 @GetMapping이 없어서 뜬 에러인것 같아요

[2021-05-21 11:53] KangChanSong commented on #646
attributes.get("response") 에서 response라는 요소를 못찾는 것 같아 보여요
다른 코드들에 문제없으면
application-oauth.properties 파일에 user_name_attribute=response 설정 돼있는지 한번 확인해보세요

[2021-05-21 12:43] jeonka1001 commented on #646
답변 감사합니다!
말씀해주신 spring.security.oauth2.client.provider.naver.user_name_attribute=response 에는 문제가 없어보입니다 ㅠ
다른 코드 혹시 어느부분 확인하면 좋을지 조언 해주실 수 있으신가요 ?

[2021-05-21 14:49] jongseok3910 opened #647 "[오류] p.311"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: deploy.sh 파일을 실행했을떄 아래 그림과 같은 오류가 뜨는데, 8080포트를 죽이거나(netstat -ano사용) 해봐도 해결이 안됩니다. 너무 답답하네요 ㅠ
![오류]

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려

[2021-05-21 16:12] jongseok3910 opened #648 "[오류] p.311"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:실행하다보니 ec2 깃에 문제가 있어서 (머지) 이것저것 만지다 보니 아래와 같은 상황이 되었습니다.ㅠㅠ
클론된 깃을 싹다 지우고 다시 클론해와서 하고 싶은데 어떻게 해야 하나요? ㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠ

[2021-05-22 08:41] KangChanSong commented on #646
저도 아직 공부하는 중이라...
response가 없다니 그 문제만 해결하면 될 것 같은데 확실히 어디서부터 문제가 생겼는지는 모르겟네요ㅠㅠ

[2021-05-22 08:41] KangChanSong commented on #646
저도 아직 공부하는 중이라...
response가 없다니 그 문제만 해결하면 될 것 같은데 확실히 어디서부터 문제가 생겼는지는 모르겟네요ㅠㅠ

[2021-05-22 08:44] KangChanSong commented on #647
저도 같은 에러가 떴었는데
프로젝트 톰캣 포트를 8090으로 바꾸고
다시 푸시해서 배포하니 됐어요
보안 그룹도 8090으로 바꿨어요

[2021-05-22 08:46] KangChanSong commented on #648
같은 에러는 아니지만 저도 깃허브 이것저것 만지다가 문제가 생겼었는데 깃허브 리포지토리 지우고 다시 전부 푸시해서 해결햇엇어요
같은 에러가 아니라서 이 방법으로 해결될지는 모르겟네요..

[2021-05-22 09:14] jeonka1001 commented on #646
오타발견했어요!!!! 대박 application-oauth.properties 에서 user-info-uri 값에 오타가 있었습니다. ㅜㅜ 조언 감사합니다

[2021-05-22 09:14] #646 closed, assigned to jojoldu

[2021-05-22 09:25] jeonka1001 commented on #610
저 해결했는데 혹시 irisrucia97 님 프로젝트 내부 들어가서 보니까 of 함수에서 naver 판별하는 부분에 ofNaver 호출 시 첫 번째 전달인자가 다른것을 발견했습니다! 첫 번째 인자를 registrationId 이게 아닌 "id" 로 해서 실행해봐주실 수 있나요 ?

[2021-05-22 12:06] jongseok3910 commented on #647
통캣 포트는 어떻게 바꾸나요?

[2021-05-22 12:09] KangChanSong commented on #647
change tomcat port in intellij 이런식으로 구글링해보시면 찾으실 수 잇을거에요

[2021-05-22 12:35] jongseok3910 commented on #647
[1]+  Stopped                 vim nohup.out
[ec2-user@webserver step1]$ ./deploy.sh

remote: Enumerating objects: 59, done.
remote: Counting objects: 100% (59/59), done.
remote: Compressing objects: 100% (8/8), done.
remote: Total 32 (delta 21), reused 32 (delta 21), pack-reused 0
Unpacking objects: 100% (32/32), done.
From https://github.com/jongseok3910/newproject-springboot-webservice
   9a9303

[2021-05-22 23:48] KangChanSong commented on #647
같은문제 잇엇는데 저는 마스터 브랜치까지 비웠다가 전체 파일 커밋해서 해결햇어요

[2021-05-23 02:29] gimdongwon commented on #211
없네요! ㅎㅎ

[2021-05-23 06:21] euijeonghwang opened #649 "[오류] p.133"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: mustache 플러그인 설치하고, build.,gradle에 추가했는데 테스트 결과 수행시 404 에러가 뜹니다. 에러가 자꾸 나서 그대로 복붙했는데도 테스트 통과를 못하네요

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려

[2021-05-23 08:08] #649 closed, assigned to jojoldu

[2021-05-24 09:05] bitna-dev opened #650 "[오류] p.62,76 AssertionError"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: java.lang.AssertionError: Status expected:<200> but was:<404>
.andExpect만 쓰면 위와 같이 에러가 뜨네요 ㅠㅠ 저길 주석처리하고 test처리하면 잘 됩니다.. 구글링을 해봤는데도 못찾겠

[2021-05-25 02:17] yunjinhyeong opened #651 "[질문] 꼭 Long을 리턴받아야 되는 이유가 있나요? Void로 고치면 에러가 떠요"
save시 굳이 Long을 써서 return 값을 받은 이유가 있나요? 안받고싶어 Void로 고쳐 실행하면 에러가 뜹니다 꼭 long을 받겠끔 설정해놨던데 service controller 둘다 void로 고쳐도 에러가 뜹니다 왜 꼭 long을 리턴받아야되나요?

오류에대한 글을 적어야되는데 너무너무 이해안되서 답답한 마음에 글올립니다 아시는분 답글좀 달아주세요 감사합니다.

어떤 오류인지 캡쳐해주세요.
![image](https://user-images.githubusercontent.com/67212570/119429869-b2cde680-bd4a-11eb-8d53-4d232613d28c.png)
![image](https://user-images.githubusercontent.com/67212570/

[2021-05-25 06:57] Park-Joyeong commented on #651
postsRepository는
postsRepository->JpaRepository->PagingAndSortingRepository->CrudRepository 의 상속 관계를 가지고 있습니다.
postsRepository에서 사용하는 save메소드는 CrudRepository 인터페이스에 있는 메소드인데
CrudRepository 인터페이스를 보시면
S save(S entity);
라고 되어있습니다.
달리 말하자면 save 메소드의 리턴타입은 Posts를 돌려주게끔
이미 상속받은 인터페이스에서 구현되어있기에

우리가 리포지토리의 save메소드를 사용하면 Posts객체가 넘어옵니다..

질문해주신 서비스클래스에서 왜 Long을 리턴하게 해주었냐에 대한 답변은
현재 소스는 리포지토리 save메소드에서 리턴

[2021-05-25 07:17] Park-Joyeong commented on #650
혹시
HelloController에

@GetMapping("/hello/dto")
    public HelloResponseDto helloDto(@RequestParam("name") String name,
                                     @RequestParam("amount") int amount) {
        return new HelloResponseDto(name, amount);
    }
가 구현되어있는지 궁금해요..!
(님의 깃허브 리포지토리에 소스가 없어서 확인할수가 없네요..)

[2021-05-25 14:12] yunjinhyeong commented on #651
답변 대단히 감사합니다

[2021-05-25 14:25] im-gnar opened #652 "[오류] 구글로그인에서 계정 선택 후 client_secret is missing. 에러가 뜹니다 p.192"
### 어떤 오류인가요?

오류설명:
구글로그인에서 계정 선택 후 client_secret is missing. 에러가 뜹니다.
클라우드에서 ID와 SECRET 전부 확인해봤는데 일치합니다만... 뭔가 과정을 빼먹은 걸까요?ㅠㅠ

### 프로젝트 주소

https://github.com/rachel5004/SpringBootAWS

* Github URL:

### 오류 로그

어떤 오류인지 캡쳐해주세요.

[2021-05-26 13:06] jongseok3910 commented on #373
ec2에다가 dos2linux 깔고 바꾸려고 하는데, 어떻게 해야 할지 모르겠어서 이렇게 메일을 보냅니다
원격저장소에 있는 scripts폴더의 deploy.sh 파일을 바꿔야 하는거 같은데 어떻게 해야 할지 도통 감이 안잡힙니다.(엉뚱하게 step1폴더에 있던 deploy.sh 유닉스로 바꿔 버렸습니다. ㅠ) 어떻게 해야 scripts폴더의 deploy.sh 파일을 유닉스로 바꿀수 있는건지 알려주시면 감사하겠습니다.(dos2unix 파일명 <-이렇게 바꾸는건 알고 있는데 scpript폴더의 deploy.sh에 어떻게 접근해서 바꿔야 하는지 모르겠습니다.)

[2021-05-27 14:05] Pigrabbit commented on #373
@jongseok3910 님
마지막 줄에 말씀하신대로 `dosunix [파일명]` 이렇게 실행하시면 되는데요.
[파일명]에 수정하시고 싶은 deploy.sh 파일의 상대경로를 넣어주시면 됩니다.

리눅스의 `pwd`, `cd` 커맨드를 활용하시면 상대경로를 찾는데 도움이 되실 것 같습니다.

[2021-05-28 01:44] jongseok3910 commented on #373
답변 주셔서 감사 합니다.
알려주신대로 pwd cd 커맨드를 사용해서 위치탐색 후 이동을 해봤는데, 그래도 디렉토리나 파일을 찾을수 없다고 뜹니다. ㅠ
finalproject-springboot가 클론되어 있는 깃 명칭 이며 그 안에 scripts 폴더가 있습니다(여기 안에 있는 deploy.sh파일을 바꿔야 함)
scripts파일에 접근 할수 조차 없는데 어떻게 해야 할까요? ㅠ chmod(접근권한) 이라도 줘야 하는 걸까요?
![image](https://user-images.githubusercontent.com/75608590/119917445-8c55b880-bfa1-11eb-928b-48672c110df4.png)

[2021-05-28 02:07] Park-Joyeong commented on #75
안녕하세요 저자님 Windows 운영체제에서 개발하는 사람은 gradlew파일에 리눅스에서 기동시의 실행권한 추가할 방법이 없는거 맞는지 여쭤보고 싶습니다..

[2021-05-29 09:12] jeonka1001 opened #653 "[오류] p.326 Travis CI 질문"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?
.travis.yml 에 아래와 같이 작성 후 main branch 에 commit 후 push 를 했는데 travis 사이트에 아무런 반응이 없습니다.
혹시 travis.yml 의 위치 문제일까요?

build.gradle, .travis.yml 위치

[2021-05-29 09:49] jeonka1001 commented on #653
.travis.yml 을 해당 repository 루트에 두지 않으면 안되는걸 몰랐었는데
.travis.yml을 repository 루트에 두니까 되네요

[2021-05-29 09:49] #653 closed, assigned to jojoldu

[2021-05-31 08:40] hankyu0301 commented on #605
해결하셨나요?

[2021-05-31 15:56] pseudowasabi commented on #2
a

[2021-06-01 08:48] Dokkabei97 opened #654 "[오류] p.395 deploy가 안됩니다"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: P395 무중단 배포 마지막 하고있는데 계속 오류가 나면서 배포가 안됩니다....

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github

[2021-06-01 09:05] Dokkabei97 commented on #654
properties 부분 전체적으로 수정하니 해결됐습니다!

[2021-06-01 09:05] #654 closed, assigned to jojoldu

[2021-06-02 06:24] irisrucia97 commented on #610
아이고 늦게 봤네요ㅠㅠ 감사합니다!!

2021년 5월 22일 (토) 오후 6:25, jeonka1001 ***@***.***>님이 작성:

[2021-06-02 14:45] tnqlsdl1300 commented on #515
어떻게 해결하셨나요..? 저도 똑같은 오류가 뜨면서 몇시간째 해결을 못하고 있네요 ㅠㅠ

[2021-06-02 15:50] tnqlsdl1300 opened #655 "[오류] p.301 deploy.sh로 서버를 구동시킬때만 오류가 뜹니다"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 직접 구동시킨 경우에는 서버가 잘 작동이 되는데 deploy.sh로 구동시킨 경우에만 오류가 생겨서 서버 구동이 안되네요..
몇시간째 찾아봐도 모르겠습니다ㅠㅠ

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Git

[2021-06-02 16:21] #655 closed, assigned to jojoldu

[2021-06-02 16:24] tnqlsdl1300 commented on #655
자문자답합니다.
nohup.out이 몇시간째 업데이트가 안된거였네요... 서버는 잘 구동되고 있었나봅니다.
nohup.out파일 삭제하고 다시 deploy해서 현재시간 로그 확인해보니 잘뜨네요.

[2021-06-03 12:10] #652 closed, assigned to jojoldu

[2021-06-06 04:13] alalshow commented on #174
저는 Test 코드 짤 때

String url = "http://localhost:" + port + "/api/v1/posts" + updateId;
String url = "http://localhost:" + port + "/api/v1/posts/" + updateId;

경로문자를 하나 빼먹어서 같은 오류가 났네요~

[2021-06-06 07:22] tnqlsdl1300 commented on #638
저도 db navigator가 rds에 연결된 db 변경사항을 너무 늦게 받아오거나 아예 못받아오는 문제를 겪었습니다. 기존에 main에 연결된걸 pool로 변경해서 조회해보니 실시간으로 받아오더라구요.
그래서 저는 조회는 pool로 하고 db의 데이터를 변경하거나 추가할때만 main으로 변경해서 합니다.

[2021-06-06 12:06] JeanYoungPark opened #656 "[오류] p.219 오류로 질문드립니다."
### 오류설명
안녕하세요. 책으로 공부하다 이것저것 찾아봤는데 답이 나오지 않아서 질문 남깁니다.
223페이지까지 실습을 진행하였는데

Error creating bean with name 'securityConfig' defined in file [C:\Users\jeanf\IdeaProjects\freelec-springboot2-wevservice\build\classes\java\main\com\jojoldu\book\springboot\config\auth\SecurityConfig.class]: Unsatisfied dependency expressed through constructor parameter 0; nested exception is org.springframework.beans.f

[2021-06-06 17:17] xengom commented on #67
스프링부트2.5.0 이렇게 하니 잘됩니다.
혹시 OracleDB사용하고 싶으면 어떻게 해야하나요..?
[code]
로 해봤는데 테이블을 못찾는거보니 Create가 안되는거 같습니다..
![image](https://user-images.githubusercontent.com/67894454/120933750-79c44780-c736-11eb-9854-b031e2b51d9c.png)

[2021-06-07 10:59] JeanYoungPark commented on #656
오류 해결했습니다!
SecurityConfig.class <- 이 부분에서 제가 다른 걸 선택해서 넣었었네요!

[2021-06-07 10:59] #656 closed, assigned to jojoldu

[2021-06-08 13:17] JeanYoungPark opened #657 "[오류] p.317 네이버로그인"
### 어떤 오류인가요?

오류설명: 네이버 ec2 주소 등록까지 마치고 테스트 하는데 로그인이 되지 않아서 질문드립니다.

응답을 확인해보니 아래처럼 이동했다가
http://주소.compute.amazonaws.com:8080/login/oauth2/code/naver?code=d1YGQLm0KXBHUIdgKQ&state=HvcWI0ZAfGNFmybTbPCjmew-1ai3XyHUPXB2xrh-CjY=

아래의 주소로 리다이렉트 되는데 이유를 못 찾겠습니다ㅠㅠ
http://주소.compute.amazonaws.com:8080/login

*로컬에서는 정상 작동했었습니다.

### 프로젝트 주소

* Github URL: https://github.com/JeanYoungPark/freelec-springbo

[2021-06-08 18:43] DannyWol opened #658 "[오류] 133p.몇페이지"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: P133쪽 머스테치를 실습하던 중 IndexController에서 Index 머스테치까지는 잘 연결되나 Test에서는 찾지 못하는 현상이 발생하였습니다. 제가 sout으로 조회했을 때 IndexController에서 나오는 것만 문제가 있습니

[2021-06-09 02:06] binchoo opened #659 "[질문] p.182-184: @Transactional 없이 User 엔터티를 업데이트 할 수 있는 이유는 무엇인가요?"
연관 이슈: https://github.com/jojoldu/freelec-springboot2-webservice/issues/47

[문의 내용]
`CustomOAuth2UserService`에서 `@Transactional` 메서드 없이 User 엔터티를 업데이트 할 수 있는 이유는 무엇인가요?

[문의 상세 내용]
`CustomOAuth2UserService.loadUser(userRequest)`는 `User` 엔터티의 `name`과 `picture` 필드를 갱신하고 있습니다.

https://github.com/jojoldu/freelec-springboot2-webservice/blob/f3b54082ceaeca2503e8f3ccf191cbfc2cf06c01/src/main/java/com/jo

[2021-06-10 04:36] TeMlN opened #660 "[오류] p.134 index.mustache"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: IndexControllerTest 를 돌렸지만 기댓값과 다르다는 오류 로그를 발견했습니다. 오류 로그를 보니 기댓값 코드가 제가 적은 mustache파일과 쌩판 다른 얼핏 보면 로그인 페이지로 보였습니다 그래서 이런 저런 짓을 다해보았지만

[2021-06-12 08:34] HyunJik-Lee commented on #586
와 30분 헤맸는데 감사합니다.

[2021-06-14 02:19] #660 closed, assigned to jojoldu

[2021-06-15 02:56] devSeok opened #661 "[오류] p.aws에서 빌드 안되는오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 로컬에서 실행했을땐 잘 동작이 됩니다만.. 아마존에서 실행했을떄 오류가 납니다 ㅠㅠ 초보인지라 이유를 모르겠네요..
구글링 해본결과 패키지 위치 떄문에 그렇다고 나와있는데

찾아본 링크 : https://vesselsdiary.tistory.

[2021-06-15 05:57] 7loro commented on #2
gradle 최신 6.8 버전으로 테스트 했고, build.gradle 에 아래 dependencies 추가해주면 동작합니다.
annotationProcessor('org.projectlombok:lombok')

dependencies {
    compile('org.springframework.boot:spring-boot-starter-web')
    compile('org.projectlombok:lombok')
    annotationProcessor('org.projectlombok:lombok')
    testImplementation 'junit:junit:4.13.1'
    testCompile('org.springframework.boot:spring-boot-starter-tes

[2021-06-15 12:19] css9596 commented on #650
TestController 에
@WebMvcTest 어노테이션 수정 해주시면 정상 작동됩니다!

@WebMvcTest(controllers = {HelloController.class}, secure = false)

[2021-06-17 06:57] kjooyoung opened #662 "[오류] p.192 구글 로그인 오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 구글 로그인 시 오류가 발생하여 질문드립니다 ㅠㅠ

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL:  https://git

[2021-06-17 08:14] JerryK026 commented on #386
@yunj290 저도 같은 문제였는데 며칠 삽질하다가 덕분에 해결했네요 ㅠ 감사합니다!!
제 경우에도 /main/java/com.~/ 에 config.auth가 들어있어야 하는데,
/main/java/config/auth 이 경로에 존재해서 오류가 발생했네요.

[2021-06-17 13:53] khs50851 opened #663 "[오류] p.63 hello controller test (긴급)"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: hello controller 테스트코드 작성했는데 테스트 실행하면 에러납니다. 또한 main에서 java폴더 안에 패키지 만든것처럼  test폴더 안에 java 폴더 안에 com.daram.book.springboot 이렇게 패키지 만들고

[2021-06-20 05:23] lillywind commented on #415
저도 SWAP메모리를 디폴트 0 문제였네요. 큰 도움이 되었습니다. 감사합니다!

[2021-06-22 06:13] epson220 commented on #455
postsRepository.save(Posts.builder()
                .title(title).content(content).author("jojoldu@gmail.com")
                .build());

[2021-06-22 13:04] khs50851 opened #664 "[오류] p.116 H2 콘솔 접속 불가"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요? h2 db 연결 불가

오류설명: JDBC URL에 기존 jdbc:h2:~/test라고 써있던거 jdbc:h2:mem:testdb로 바꾸고 했는데 안되서 이슈 찾아보니 같은 이슈 있어서 프로퍼티스에 아래 캡쳐와 같이 spring.datasource.url

[2021-06-22 13:04] #663 closed, assigned to jojoldu

[2021-06-23 04:09] JeanYoungPark opened #665 "[오류] 무중단 배포까지 완료하고 테스트 중 403에러"
### 어떤 오류인가요?

오류설명:
ajax로 글쓰기 할때 403에러가 발생합니다.
로컬에서 구글 로그인 후 guest를 user로 바꾼 후 재 로그인 했을 때 정상적으로 글이 써졌습니다.
이후 aws서버에 올리고 위와 똑같이 진행을 해보았는데 글쓰기가 되지 않더군요... 403에러가 발생했습니다...
이 이슈로 일주일째 고생중입니다... 이유가 무엇인지 알 수 있을까요? 또한 관련 로그는 어디서 보는지 알 수 있을까요?

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
* Github URL: https://github.com/JeanYoungPark/freelec-springboot2-webservice.git

[2021-06-23 04:52] JerryK026 commented on #261
저는 잘 안 돼서 책에 나온 대로 인스턴스를 마리아db 10.2로 다시 생성했더니 되더라구요. (이전 10.4)
아마 최신 버전은 잘 작동하지 않는 것 같습니다.

[2021-06-23 04:52] JeanYoungPark commented on #665
와 해결했는데... DB Browser에서 role을 USER라고 바꾸었는데 그게 적용이 안되었던 모양입니다..
우측에 database로 연결해서 다시 update했더니 정상적으로 작동하네요. 같은 문제 있으신분들 참고하세요 흑흑

[2021-06-23 04:52] #665 closed, assigned to jojoldu

[2021-06-24 11:20] #664 closed, assigned to jojoldu

[2021-06-28 01:00] Byeong-gook opened #666 "[오류] p.116 localhost:8080/h2-console 404 에러"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: application 클래스의 메인메소드를 실행시키고 url로 접속하였으나 h2 콘솔화면이 뜨질않고 404 에러가 뜹니다.

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답

[2021-06-28 02:03] hhhminme commented on #480
어떻게 해결한건가요? 저도 동일 에러 발생합니다.

[2021-06-28 04:43] minkyoungryul commented on #520
저도 똑같은 증상으로 헛짓거리하다가 원인을 찾았습니다.

패키지 생성하실 때 static.js.app 으로 하지마시고 static\js\app 으로 만들어보세요

경로명이 잘못돼서 js파일을 인식하지 못하는 에러입니다.

[2021-06-29 01:57] epson220 opened #667 "[오류] p.326 p.327 travis ci 오류입니다. 도와주세요"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:
로컬, ec2에서 모든 테스트가 pass하고 로컬에서 run application시에 잘 실행됩니다.
근데 git hub에다 push하면 travis ci에서 build가 실패합니다...
원인을 모르겟네요...
참고로 travis-ci.org

[2021-06-29 02:18] epson220 commented on #667
아 openjdk8에서 opendjdk8이라고 오타가 나버렷네요.. 한참 헤맷습니다

[2021-06-29 09:18] epson220 opened #668 "[오류] p.365 p.364 페이지 변경된 내용 반영 안되는 오류.."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: git push할 시, travis ci로 빌드도 성공하고 codedeploy로 배포도 성공햇는대 왜 웹 브라우저로 ec2도메인명:8080접속시에 변경된 내용이 반영이 안되는 걸까요? 스프링부트로 시작하는 웹 서비스 Ver.2로 나오지않고 기

[2021-06-30 01:53] epson220 commented on #668
ec2 초반에 제가 hostname을 제 프로젝트이름으로 변경하지 않아서 발생한 문제입니다.
hostnamectl로 변경하니까 해결되었네요.
git push해도 이제 변경된 내용이 잘 반영됩니다.

[2021-07-01 13:41] Episohe opened #669 "[오류] p.191"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:
Description:

Method springSecurityFilterChain in org.springframework.security.config.annotation.web.configuration.WebSecurityConfigura

[2021-07-01 16:18] Byeong-gook commented on #666
해결했습니다.

application.properties를 test/resurce폴더에 넣어놔서생긴 문제였습니다.. !

[2021-07-02 10:34] dev-yejoon opened #670 "[질문] p.76"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 안녕하세요. 오류는 아니고 p.76에 있는 helloDto 리턴 테스트 코드 실습 중 궁금한게 생겨 질문드립니다.
[code]
위의 코드에서 get.param()으로 요청으로 보낼 때는 amount 값의 경우 int 형이기 때문에 String

[2021-07-03 08:48] kilegawha opened #671 "[오류] p.105"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.

**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL: https://github.com/kilegawha/fleelec-sp

[2021-07-03 08:50] #671 closed, assigned to jojoldu

[2021-07-03 08:51] kilegawha commented on #671
![3](https://user-images.githubusercontent.com/86692935/124348852-58685580-dc27-11eb-855c-9f9c2c0f9b7e.png)

[2021-07-03 09:27] kilegawha opened #672 "[오류] p.114"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:Error while extracting response for type [class java.lang.Long] and content type [application/json;charset=UTF-8]; nested exception is o

[2021-07-03 11:57] ghost opened #673 "[오류]117p h2 console -> posts 테이블 생성이 안됩니다."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 119p 실습하고있습니다. application 구동시 h2.console에 posts 테이블이 생성되지 않고 있습니다.

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변

[2021-07-05 02:01] hwanginki opened #674 "[오류] p.281 EC2의 보안 그룹 복사와 데이터베이스접속 안됨"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 책보고 EC2 보안 그룹 따라했는데 이렇게 세팅하고 인텔리제이 IDE에서 디비 접속하니까 사진와 같은 에러가 납니다.

(이와 같은 질문 검색해서 보고 했긴한데 아직 해결이 되지 않아서 질문을 올립니다.. 그리고 와이파이 공유기 사용중인데 영

[2021-07-05 06:30] LHS-11 commented on #674
저도 이 문제 때문에 계속 며칠째 고생중입니다ㅠㅠ 해결되시면 좀 알려주실 수 있을까요? 검색해서 나와있는거 다 해보고 Aws 다시 만들어보고 했는데, 다른 사람이 제 RDS에는 접속이 가능하더라고요.. 인텔리제이가 문제인건지;;

[2021-07-06 05:55] lshhi100 opened #675 "[오류] p.202"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 202p에 있는 2가지 사항을 변경했습니다. 로그인을 테스트 했는데, 로그인이 안됩니다.

202p에 있는 두 가지 사항을 제거하면, 로그인이 됩니다.

감사합니다.

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
*

[2021-07-06 08:04] #669 closed, assigned to jojoldu

[2021-07-08 06:22] frtt0608 opened #677 "[오류] p.115 PostsApiControllerTest에서 에러있습니다."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:
PostsApiControllerTest에서 update가 적용되질 않습니다.
insert까지 수행됐다가 update가 수행이 안되면서 test에 실패했다고 합니다ㅠㅠ

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.

[2021-07-09 03:05] frtt0608 commented on #677
해결했습니다.. 자꾸 Annotation을 빼먹으면서 발생한 오류군요ㅠㅠ

[2021-07-09 03:05] #677 closed, assigned to jojoldu

[2021-07-09 07:38] 3bgdragon opened #678 "[오류] p.357 codedeploy 배포실패 오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL: https://github.com/3bgdragon/shop

### 오

[2021-07-09 07:42] 3bgdragon commented on #678
step2 폴더의 zip 폴더에 들어가봤지만 아무런 파일도 생성이 되지않았습니다

[2021-07-09 16:21] njg7194 commented on #674
이상하게 인텔리제이 데이터베이스 플러그인에서 컴퓨터를 좀 타는것 같아요,
저는 데스크탑에서는 멀쩡히 돌아가고 노트북에서는 같은 오류로 고생 엄청 했습니다.
어차피 쿼리문 날리고 데이터 확인하는게 다인거 같아서 그냥 HeidiSQL다운받아서 접속하고 있습니다. 이건 노트북이나 데탑이나 접속 잘되고 쿼리문 잘날라가고 그러네요.
한번 이걸로 시도해보세요. ->HeidiSQL

[2021-07-09 23:58] njg7194 commented on #647
깃때문이시면 rm -rf *로 디렉토리 다 삭제하시고 다시 클론받으셔서 하세요. 그게 제일 깔끔해요

[2021-07-10 06:40] aidsfintech commented on #525
https://aws.amazon.com/ko/amazon-linux-ami/

이제 교재 버전은 더이상 접근불가능한것으로 보입니다. 위 설정방식을 우선적용해봐야할것같습니다. 리눅스2사용시요

[2021-07-10 15:08] aidsfintech commented on #434
오타수정 반영안된듯합니다.  21년 6월경에 책 구매했고, 책에
초판 1쇄 2019년 11월 29일
        4쇄 2020년   5월   6일
이라고 적혀있는데,
여전히
as-is (오타): CURRENT_PID=${pgrep -f ${PROJECT_NAME}.*.jar)
네요. 저자님은 알아두시면 좋을듯합니다.

[2021-07-10 15:29] xxx-sj commented on #649
이와같은 오류로 검색해서 들어오신 분들을 위해 남깁니다.
해당 오류같은 경우 resoures 하위에 폴더명이 잘못되었다거나 [ templates 가 아닌 template ] 혹은 index.mustache 가 아닌
index.mustache.html 파일인 경우가 있습니다. 오타가 없는지 한번 더 확인 하시면 될 것 같습니다.

src/main/resources/templates 가 맞는지 확인해보기
templates 폴더 안에 index.mustache 가 맞는지 확인하기

[2021-07-11 05:09] progress0407 commented on #230
오 ㅎㅎ.. 궁금하던건데 감사합니다 !

[2021-07-11 10:29] itdar commented on #561
CodeDeploy 에 관한 내용은 /opt/codedeploy-agent/deployment-root 에서 deployment-logs/ 안에 log 파일 있습니다.

[2021-07-11 13:08] hyejinkang99 commented on #674
해결하셨나요?? 저도 이 error로 4일째 다음 진도를 못나가고 있어요ㅜㅜㅜ

[2021-07-11 13:33] njg7194 commented on #674
이 에러가지고 너무 애쓰실 필요 없어요. 제가 위에 올려드린 프로그렘 사용하셔서 DB접속하시면 되요.
어차피 하는건 쿼리날려서 테이블 만들어서 값 저장하고 빼오는거밖에 없어요
인텔리제이에서 플러그인으로 쓰는거는 다른 프로그렘 설치해서 사용하는 불편함을 줄이려는 목적밖에 없어보이니 다른 프로그렘 사용해도 무방할것 같아요. 전 지금 마지막 쳅터까지 왔는데 이렇게 해도 아무 문제 없었구요.
ID나PW 보안그룹 관련한거는 책대로 하셨으면 (어차피 DB만들고 계정 비밀번호 추가하는것밖에 없으니까) 문제 없을거에요.
데이터베이스 플러그인 오류만 무시하시고 다른 프로그렘(바로 윗 코멘트) 설치하셔서 사용하세요.

에러 자체 원인은 저도 잘 모르겠어요. 어디선 되고 어디선 안되서..

[2021-07-11 14:21] hyejinkang99 commented on #674
너무 감사드립니다ㅜㅜ!!지금 HeidiSQL로 했는데 연결되네요!! 나머지는 책이랑 똑같이 하면 되나요?? HeidiSQL를 처음 사용해봐서요.

[2021-07-11 22:50] njg7194 commented on #674
네. 쿼리 입력하고 실행하실때 쿼리탭 들어가셔서 하시면 되구요, 책 따라하면서 특별히 다를건 없을텐데
연결 후에 진도 나가시다 보면, 전에 파라미터 그룹 추가하면서 스키마가 하나 추가되었을거라고 하면서 해당 스키마에서 테이블 만들고 값 넣고빼고 하거든요? 근데 저같은경우는 파라메터 그룹 생성해도 해당 그룹 이름으로 스키마가 생성이 안됬었어요.
그래서 일단 그냥 데이터베이스(스키마) 하나 더 만들어서 그거 기준으로 실습 진행했어요.

방금 말한 데이터베이스는 AWS에서 만든 DB인스턴스 속에 다시 분류된 DB들 말하는거에요.
ex) information_schema, innodb, mysql, performance_schema  등등..

아래 사진 보시면
![image](https://user-images.

[2021-07-12 02:04] beomth opened #679 "[오류] p.113 FindById오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: FindById만 계속 빨간불이 들어옵니다...!! 앞에 코드는 틀린 것이 없습니다. 기존에 만드신 코드를 Ctrl + B 해서 따라가봤더니 인터페이스에 Wrapping된 것 같은데, 어떻게 해야할지 모르겠습니다..

### 프로젝트 주소

[2021-07-12 06:21] beomth opened #680 "[오류] p.140p localhost에 들어가지지 않습니다."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: local:8080에 안들어가집니다... 이전 코드 모두 확인했는데.. 혹시 버젼의 문제인가요?? 컴파일도 완벽하게 되었습니다!!

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으

[2021-07-12 08:14] hyejinkang99 commented on #674
아 이렇게 친절하시게...정말 감사해요!! 꼭 따라서 열심히 하겠습니다. 화이팅!

[2021-07-13 01:09] 3bgdragon commented on #678
인스턴스를 오하이오주에서 생성해서 생긴문제 같습니다 천천히 다시해보겠습니다

[2021-07-13 02:18] yeonnwoo opened #681 "[오타 제보] p.300"
기존에 올라온 제보가 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 오타

* as-is (오타): CURRENT_PID=${pgrep -f ${PROJECT_NAME}.*.jar)

* to-be (교정): CURRENT_PID=$(pgrep -f ${PROJECT_NAME}.*.jar)

300 페이지에 CURRENT_PID에 괄호 오

[2021-07-13 02:21] frtt0608 commented on #672
저랑 비슷한 에러떠서 코멘트 남깁니다.
postsService의 18번째 줄 save메서드에 Anntotation 추가해주세요
@Transactional 추가하시면 될겁니다.

[2021-07-13 12:40] LHS-11 commented on #674
저도 참고해서 다시하겠습니다! 감사합니다

[2021-07-13 14:35] LimNoah commented on #668
안녕하세요 저도 같은 건으로 업데이트가 되지 않는데 말씀하신 hostnamectl로 변경하셨다는게 putty로 리눅스서버 접속해서 hostnamectl로 호스트네임을 바꾸셨다는거 같은데 혹시 hostname변경하는 부분으 몇 페이지에 나와있는지 알려주실수 있으신가요?

[2021-07-13 16:00] epson220 commented on #668
그....저희 깃헙 사이트에 나와있어요 작가님이 올려두셧답니다 버전이 바뀌면서 hostnamectl로 ec2의 이름을 변경하는게 조금
방식이 책이랑은 달라서 그거 참고하셔야합니다.

2021년 7월 13일 (화) 오후 11:36, L.Noah ***@***.***>님이 작성:

[2021-07-13 22:59] njg7194 commented on #674
참. HeidiSQL에서  접속할 때 아래 사진에서 보이는 칸에 아무것도 적지 마셔야 AWS DB인스턴스 내부 모든 DB를 볼 수 있는 최상위 루트로 들어가져요.

이렇게 들어가는게 책에 나오는것처럼 DB가 다 보여서 저는 이렇게 들어가고는 있는데 하다보니까 그냥 저희가 쓰는 DB 바로 저속해도 괜찮을것 같네요

![image](https://user-images.githubusercontent.com/32046070/125535781-67edc7be-4939-482a-87c9-6557a6a31a66.png)

해당 오류 접하시는 분들 모두 화이팅입니다!^^

[2021-07-14 00:38] beomth commented on #560
혹시 어떻게 해결하셨나요...?? 저도 똑같은 오류를 2일째 못고치고 있습니다..ㅠ

[2021-07-14 04:11] 3bgdragon commented on #678
해결했습니다 https://woomin.netlify.app/Posts/2020-05-12-CodeDeploy/ 에서  “0개의 일치하는 고유 인스턴스” 라는 것이 나올때 해결방법을 적용시켜서 해보니 "1개의 일치하는 고유 인스턴스" 가 나와 성공하였고 push해보니 정상적용 되었습니다.

[2021-07-14 04:11] #678 closed, assigned to jojoldu

[2021-07-14 04:31] lshhi100 commented on #675
SessionUser클래스 만들때 implements Serializable 을 했었네요.

감사합니다.

[2021-07-14 04:36] frtt0608 opened #682 "[질문] p.200 @LoginUser를 통해 로그인할 때 질문이 있습니다."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 질문인가요?

질문설명: @LoginUser로 로그인하는 과정까지 진행했습니다.
디버깅하는 과정에서 LoginUserArgumentResolver 클래스의 httpSession 변수를 final로 선언하지 않고 어플리케이션을 실행할 때,  resolveArgument

[2021-07-14 05:32] beomth opened #683 "[오류] p.190 구글, 네이버 로그인 오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 신택스 오류라고 뜨는데, 어디가 잘못되었는지 잘 모르겠어요...

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL: http

[2021-07-14 06:08] soulduo commented on #683
테이블 생성문 마지막에 engine=InnoDB가 붙으면서 생기는 오류일 겁니다.

application.properties 내용을 다음과 같이 수정해 보세요.

spring.jpa.show_sql=truespring.h2.console.enabled=true
spring.session.store-type=jdbc
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL57Dialect
spring.jpa.properties.hibernate.dialect.storage_engine=innodb
spring.datasource.hikari.jdbc-url=jdbc:h2:mem://localhost/~/testdb;MODE=MYSQL

h2-da

[2021-07-14 06:11] soulduo commented on #682
@RequiredArgsConstructor

책 내용중에 찾아보시면 위 어노테이션이 초기화를 시켜주며 초기화를 위해 final로 선언해야지 된다고 나와있었던 걸로 기억 되네요.

해당 어노테이션으로 검색해서 상세 내역을 찾아보시면 될 거 같습니다.

https://webdevtechblog.com/requiredargsconstructor-%EB%A5%BC-%EC%9D%B4%EC%9A%A9%ED%95%9C-%EC%9D%98%EC%A1%B4%EC%84%B1-%EC%A3%BC%EC%9E%85-dependency-injection-4f1b0ac33561

[2021-07-14 06:33] beomth commented on #683
우선 정말 빠른 피드백 감사합니다 ㅠㅠ

spring.jpa.show_sql=true
spring.session.store-type=jdbc
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL57Dialect
spring.jpa.properties.hibernate.dialect.storage_engine=innodb
spring.datasource.hikari.jdbc-url=jdbc:h2:mem://localhost/~/testdb;MODE=MYSQL

를 application.properties에 추가하고, 다시 실행했는데 또 오류가 떳습니다!

C:\Users\onvit\Desktop\java-1.8.0-openjdk-1.8.0.2

[2021-07-14 07:09] soulduo commented on #683
저도 책보고 학습중인 부분에서 때낸거라 다소 진행 상황에 따른 차이가 발생한 듯한데.

OAuth2 인증 관련된 부분  떄문 같네요.

spring.session.store-type=jdbc <- 이부분을 지워보시겠어요?

[2021-07-14 07:10] frtt0608 commented on #682
@soulduo
감사합니다ㅠㅠ 안그래도 복습하면서 @RequiredArgsConstructor의 역할을 다시 확인하다가
해당 이슈에 대해 이해할 수 있게됐습니다!

코멘트 감사합니다👍

[2021-07-14 07:11] #682 closed, assigned to jojoldu

[2021-07-14 07:16] beomth commented on #683
그 부분 지워도 오류가 발생합니다..!!

C:\Users\onvit\Desktop\java-1.8.0-openjdk-1.8.0.292-1.b10.ojdkbuild.windows.x86_64\bin\java.exe "-javaagent:C:\Program Files\JetBrains\IntelliJ IDEA Community Edition 2021.1.3\lib\idea_rt.jar=62692:C:\Program Files\JetBrains\IntelliJ IDEA Community Edition 2021.1.3\bin" -Dfile.encoding=UTF-8 -classpath C:\Users\onvit\Desktop\java-1.8.0-openjdk-1.8.0.292-1.b10.ojdkbuild.wind

[2021-07-14 07:21] soulduo commented on #659
트랜잭션은 실제 데이터 갱신(DB UPDATE) 자체와는 무관한 개념입니다.

업데이트 등에서 오류 발생시 처리등을 대신하는 역활이라고 해야할까요.

데이터베이스의 트랜잭션 부분을 공부해보시면 개념을 잡으실 수 있을겁니다.

데이터베이스의 트랜잭션 을  @Transactional  어노테이션으로 대신한 부분이라고 보시면 될 겁니다.

데이터베이스 트랜잭션을 검색해 보시면 좋을거 같네요.

[2021-07-14 07:29] soulduo commented on #683
Hibernate: drop table if exists posts
Hibernate: drop table if exists user
Hibernate: create table posts (id bigint not null auto_increment, create_date datetime(6), modified_date datetime(6), author varchar(255), content TEXT not null, title varchar(500) not null, primary key (id)) engine=InnoDB
Hibernate: create table user (id bigint not null auto_increment, create_date datetime(6), modified_dat

[2021-07-14 07:47] beomth commented on #683
와..............................
성공했습니다.......
진짜진짜 너무 감사합니다 ㅠㅠ
몇년전 프로젝트라서, 아무도 안보실 줄 알았는데 이렇게 빠르게 답해주시다니...
그리고 피드백도 너무 구체적으로 해주셔서 해결 할 수 있었습니다!!

감사합니다!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2021-07-14 07:52] soulduo commented on #683
잘 되었다니 다행이네요. 저도 학습중이라... 제가 겪어던 부분이랑 겹치는 부분이 있었기에 빨리 알려드릴 수 있었네요.

책이 나온지는 좀 되어서 앞으로 학습에도 난관(?)이 좀 있을거 같은데 잘 해결하시면서 학습 잘 하시길 바래요. 그럼 이만 슈슝

[2021-07-14 08:03] soulduo commented on #680
해당 로그는 유닛테스트를 실행하신 거 같네요.

Application.java에서 우클릭후 Run 'Application'을 실행하시고 아래 로그를 확인하셔서 톰캣이 제대로 구동되었는지 확인하셔야 할 거 같네요.

2021-07-14 16:11:52.366  INFO 10104 --- [           main] o.s.b.w.embedded.tomcat.TomcatWebServer  : Tomcat initialized with port(s): 8080 (http)
2021-07-14 16:11:52.381  INFO 10104 --- [           main] o.apache.catalina.core.StandardService   : Starting service [Tomcat]
2021-07

[2021-07-15 01:10] beomth opened #684 "[오류] p.257 putty접속 오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: putty에 접속이 안됩니다... 교재에 나온대로 puttygen을 이용하여 pem파일을 ppk로 변경후 접속했는데, 자꾸 이런 에러가 뜹니다!!

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를

[2021-07-15 01:30] 3bgdragon commented on #684
putty HostName이 ec2-user@프로젝트 아이피주소 이고
puttygen으로  Load private key 로 pem 파일을 불러오고 Save private Key 로 저장하셧고
putty에 ppk파일을 불러와도 안되셧나요?

[2021-07-15 02:15] beomth commented on #684
네!!
차근차근 다시해보니, 제가 Putty에서 Auth가 아닌 GSSAPI에 Browse....에서 ppk를 불러오고 있더라구요.!!
답해주셔서 감사합니다!!!

[2021-07-15 02:16] 3bgdragon commented on #661
ec2 서버에서 application-real.properties 파일의 내용을 application.properties안에 넣고 서버안의 application-real.properties를 지우고 실행해보새요
그리고 ec2 서버 프로젝트 트리구조와 진행하신 페이지를 알려주세요

[2021-07-15 04:14] beomth commented on #683
soulduo님!!
분명 어제까지만해도  h2 -console창 데이터베이스에도 접속이 됐는데, 오늘 다시 켜보니 접속이 안됩니다...ㅠㅠ

C:\Users\onvit\Desktop\java-1.8.0-openjdk-1.8.0.292-1.b10.ojdkbuild.windows.x86_64\bin\java.exe "-javaagent:C:\Program Files\JetBrains\IntelliJ IDEA Community Edition 2021.1.3\lib\idea_rt.jar=60590:C:\Program Files\JetBrains\IntelliJ IDEA Community Edition 2021.1.3\bin" -Dfile.encoding=UTF-8 -classpath C:\Users\onvit\De

[2021-07-15 04:56] beomth opened #685 "[오류] p.194 사용자 권한 변경 오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:  h2에서 사용자 권한 변경이 안됩니다..!!

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL: https://github

[2021-07-15 05:22] frtt0608 commented on #525
감사합니다!! 👏

[2021-07-15 05:43] beomth commented on #685
h2 접속 주소를 잘못적었던 문제였습니다

[2021-07-15 05:44] beomth opened #686 "[오류] p.282 엔드포인트가 없습니다"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: AWS 엔드포인트가 생성되어있지 않은데, 제가 만들어서 진행해야하나요??
제가 AWS가 처음이라서, 잘못만들면 돈이 빠져나갈까봐 두렵습니다.ㅠ

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작

[2021-07-15 08:05] frtt0608 opened #687 "[오류] p.285 AWS RDS와 IntelliJ 연동과정에서 에러가 발생합니다.."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: AWS RDS와 IntelliJ 연동과정에서 에러가 발생합니다..
AWS에서 DB 새로 생성도 해봤지만 계속 실패합니다ㅠㅠ

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답

[2021-07-15 08:54] xengom commented on #687
저도 같은 문제입니다.... 여기서 막혔어요...

[2021-07-15 15:57] LimNoah opened #688 "[오류] p.383 10.3 무중단 배포 스크립트 만들기에서 500 오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: Chapter 10.3 을 진행 중에 테스트 코드까지 전부 빌드가 끝나고 배포를 했는데 브라우저에서 500 오류가 뜹니다.
그래서 리눅스 서버에서 nohup.out으로 스프링부트의 로그를 확인 해보니 아래 1번 사진과 같은 오류가 발생했습니다

[2021-07-15 16:06] xengom commented on #687
DB Browser 말고 그냥 접속하니 잘 되네요
![image](https://user-images.githubusercontent.com/67894454/125820443-ae523799-ef3a-4aed-83fc-b9b530334172.png)

[2021-07-15 17:15] LimNoah commented on #688
자체 해결)
리눅스 서버에서 강제로 실행중인 스프링 부트 프로젝트를 종료시키기 위해 PID 값을 알아내기 위해 netstat -tnlp|grep (포트번호)를 입력했을 때 java 프로세스로 나와서 곰곰히 고민하다가
프로젝트의 deploy.sh에서 PID를 찾을 때 grep 으로 실행중인 jar 파일을 찾고 있었어서 PID를 찾지 못한것 같아 jar를 java로 바꿨더니 바로 PID를 찾을 수 있었습니다.
즉 deploy.sh에서 CURRENT_PID=$(pgrep -fl springboot-webservice | grep java | awk '{print $1}') 를 사용하여 PID를 찾게 하였습니다.

[2021-07-15 17:15] #688 closed, assigned to jojoldu

[2021-07-16 00:22] frtt0608 commented on #687
@xengom
혹시 그냥 접속은.. 어떻게 하신건가요?!

[2021-07-16 00:52] xengom commented on #687
![image](https://user-images.githubusercontent.com/67894454/125875397-e43d7c64-b979-4c20-97c7-4528dca82c2e.png)

오른쪽 DB탭에서 추가 -> 위에 +선택 후  MariaDB선택

![image](https://user-images.githubusercontent.com/67894454/125875445-7f4774fd-32f6-4bbb-a8e5-cbbe5ad4d0f5.png)

3번 네모 박스 안 내용만 넣고 접속하면 됩니다.

EC2랑 RDS문제없이 설정했다는 전제하입니다

어제 삽질한거 정리한건데 막히면 [참고](https://xengom.com/aws/aws-rds-db-navigator/)해주세요

[2021-07-16 03:40] soulduo commented on #683
톰캣도 잘 시작되었고 DB도 잘 생성되었네요.

WARN이나 ERROR도 떠 있지 않아 어떤 현상인지 알기가 어렵네요.

혹시 이 로그가 전체 인가요?

분명 기억은 망각하고 뭔가 변경한 부분이 있을겁니다. 에러 코드가 없다면 소스 코드 위치를 옴겼다거나 하는 사소한 것들 조차도 기억을 더듬으셔서 무엇을 변경했는지 추적해 보세요.

[2021-07-16 03:45] soulduo commented on #683
DB도 잘 생성되었고 톰캣도 잘 작동하는 듯한데 브라우저 화면에 에러는 어떻게 뜨나요?

소스 코드 자체의 문제가 아닐 수도 있습니다.

브라우저 에러 코드를 아래와 매칭해 보고 원인을 유추해보세요.

https://developer.mozilla.org/ko/docs/Web/HTTP/Status

혹은 기억을 더듬어 분명 변경하신 부분이 없는지 다시 한번 생각해보시길 바래요.

사소한 부분에서 어이없게도 작동이 안되고 오동작하는 게 컴퓨터이다 보니...

[2021-07-16 03:51] soulduo commented on #687
(올려주신 에러 내용과 매칭되는 건진 모르겠으나)

인바운드 규칙을 보면 DB관련 포트가 오픈되어 있지 않은 걸로 보이네요

mysql의 원격 접속 포트는 3306인걸로 아는데 인바운드 규칙에는 보이질 않네요.

이 부분도 체크해 두실 필요가 있어 보입니다.

[2021-07-16 04:08] xengom commented on #687
@soulduo
EC2 인바운드에도 3306포트 추가하던가요..?
RDS쪽에만 추가해주는 줄 알았는데

[2021-07-16 04:10] soulduo commented on #687
아 죄송합니다. 제가 짧게 보느라 RDS쪽 보안 규칙을 제대로 못 봤네요.

이 문제는 아닌 거 같습니다.

[2021-07-16 04:11] soulduo commented on #687
DB Navigator 의 Connection 환경설정을 캡쳐해 보여주시면 문제 해결점을 찾는데 도움이 될 것 같습니다.

RDS 보안 규칙에 까페 아이디가 아닌 0.0.0.0/0으로 변경후 접속 테스트 해보시는 것도 원인 규명에 도움이 될 것 같네요.

[2021-07-16 08:40] beomth commented on #683
제가 h2의 url을 properties에 적은 것과 다른 주소를 적어서 그랬었습니다..!!
답해주셔서 감사합니다!!

[2021-07-19 07:48] 3bgdragon commented on #686
aws에 가입하고 1년동안은 프리티어로 사용하면 요금청구가 되지않습니다 RDS를 프리티어로 생성해야 엔드포인트가 나옵니다

[2021-07-19 12:22] beomth commented on #686
감사합니다!!

[2021-07-21 01:59] frtt0608 commented on #687
면접보고 오느라 이제 확인했네요ㅠㅠ
제가 쓰는 IntelliJ에는 database tools 자체가 안보여서 구글링 좀 해봐야겠습니다..ㅠ

+
일단, HeidiSQL과 AWS RDS 연동은 성공했습니다! aws에는 문제 없는 것 같고, IntelliJ만 손보면 될 것 같군요!!

[2021-07-21 07:11] tachyon83 opened #689 "[오류] p.246 EC2인스턴스 생성 과정에서 탄력적 IP가 안 붙는것 같습니다."
### 어떤 오류인가요?

오류설명:
p243의 EIP할당으로 탄력적 IP를 생성하고, 주소 연결을 통해 인스턴스에 연결했습니다.
p245에서 인스턴스와 프라이빗IP쓰는 부분이 자동완성되어 잘못 썼을리는 없다고 생각합니다.
그렇게 완료후가 나서
p245 하단 그림 6-31에 있는대로 인스턴스를 열어서 확인했는데,
p246 그림 6-32에 해당하는 곳에서 저는 탄력적 IP부분이 공란입니다. ㅠㅠ

어떤 오류인지 캡쳐해주세요.

![Screen Shot 2021-07-21 at 4 10 54 PM](https://user-images.githubusercontent.com/49609847/126446729-d9196275-d0b0-473d-906e-00a51761cb4f.png)

[2021-07-21 07:17] #689 closed, assigned to jojoldu

[2021-07-21 07:20] tachyon83 commented on #689
아 이게 딜레이가 있었나봅니다. 첨엔 안보였는데 지금 거의 10분정도 지나니 생겼습니다.

감사합니다.

[2021-07-21 07:49] sunday-sunny commented on #687
혹시 해결하셨나요? 저도 여기서 딱 막혀서 진행이 안되네요......

[2021-07-21 15:49] Hanseunghoon commented on #618
혹시 해결 방법 공유 가능한가요? 저도 같은 오류로 찾고 있습니다.

[2021-07-21 15:51] Hanseunghoon opened #690 "[오류] p.110 PostsApiControllerTest 오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

### 어떤 오류인가요?
오류설명: 등록 테스트시 오류가 발생합니다. 어떤 오류인지, 해결책을 알 수 있을까요?

### 프로젝트 주소
* Github URL: https://github.com/Hanseunghoon/freelec-springboot2-webservice

### 오류 로그
![image](https://user-images.githubusercontent.com/50897259/126519577-397791b8-a37d-4391-90b9-b9ab246cd28a.png)
![image](https://user-images.githubusercontent.com/50897259/126519599-aff73d3d-8a3e-43d2-9722-78

[2021-07-22 03:52] frtt0608 commented on #687
결국 안돼서 HeidiSQL로 진행하려고 합니다...ㅠㅠ
다른 툴에서 rds 연동은 되지만, intelliJ만 같은 에러뜨네요

[2021-07-22 04:01] frtt0608 commented on #690
git 저장소에 postsApiController 관련 코드가 안보이네요. push까지 해주시면 에러 확인에 도움될 거에요.
에러코드만 보면 객체 생성 관련 Annotation이 빠진 것처럼 보입니다!
각 클래스랑 메서드에 Annotation한번만 확인해주세요

[2021-07-22 04:39] soulduo commented on #687
![image](https://user-images.githubusercontent.com/5299346/126590613-c27023b4-0b92-40e9-a1d9-efc52a74b1f4.png)

제 설정 파일 참고하시라고 올려드려요.

저 같은 경우는 postgresql 로 진행해서 드라이버는 차이가 있습니다.

[2021-07-22 04:41] soulduo commented on #687
![image](https://user-images.githubusercontent.com/5299346/126590748-6f970339-8c56-4b94-86b4-dcee593066ce.png)

제 설정 참고하시라고  올려드립니다.

postgresql 로 진행해서 약간의 차이는 있을 수 있습니다.

[2021-07-22 05:43] Hanseunghoon commented on #690
답변 감사합니다. push 해두었습니다.
안타깝지만 아직도 에러를 해결 못 하고 있습니다.. 확인해주시면 감사하겠습니다! :)

[2021-07-22 08:13] frtt0608 commented on #690
혹시 에러코드가 이게 맞을까요?
requested bean is currently in creation is there an unresolvable circular reference

결론부터 말씀드리면! PostsApiController class의 14번째줄에 postsService라는 변수를 잘못 선언하셨습니다.
해당 부분을 PostsService postsService로 변경하시면 정상 작동합니다.

여기서 발생한 에러코드는 [스프링 bean의 순환 종속성]에서 발생한 이슈였습니다! 저도 해결하는 과정에서 알게됐네요.

제 예상으로는 이미 PostsApiController에서 @RequiredArgsConstructor로 생성자를 빈에 주입한 상태인데,
필드에서 같은 클래스의 객체를 만들면서 자기 자

[2021-07-22 10:10] Hanseunghoon commented on #690
답변 감사합니다.
멍청하게 작성하고 별 질문을 다했네요.
컴퓨터를 너무 오래봐서 그런지.. 나이가 들어서 그런지.. 눈이 침침했나봅니다
덕분에 시간 줄였습니다 감사합니다 :)

[2021-07-22 10:10] #690 closed, assigned to jojoldu

[2021-07-23 03:07] frtt0608 opened #691 "[오류] p.316p 구글 OAuth에 EC2 도메인 등록 시, 발생하는 에러 및 해결법입니다."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:

기존 localhost에서 구글 소셜로그인 진행 시,
[OAuth 동의화면]에서 해당 앱이 프로덕션 단계에 있습니다. 이 상태에서는 리디렉션 URI에 https의 도메인만 설정이 가능합니다.
http를 추가하려고 하면 **이 앱은 게시 상태

[2021-07-23 09:43] tachyon83 commented on #308
감사합니다!

[2021-07-23 14:36] itdar opened #692 "[오타 제보] p.391 392 393"
- p 391, 392, 393 관련 내용이 검색 시 없었습니다.

### 오타
코드 내용이 쭉 나와있는 페이지들인데,
코드설명 부의 동그라미 1, 2, 3.. 등이 있는데
코드 내용에서는 동그라미 1, 2, 3 이 빠져있습니다!

감사합니다.

[2021-07-23 15:33] frtt0608 opened #693 "[오류] p.364 실제 배포과정 해결은 했으나 궁금한 점이 있습니다."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:
364p ~ 366p [실제 배포과정]:
프로젝트의 변경된 코드가 EC2서버에 반영되지 않는 상황이였습니다.
Travis CI에서 정상 빌드되었고, zip파일 생성과 CodeDeploy에서 배포까지 정상적으로 진행되었습니다.

nohup.ou

[2021-07-23 20:36] tachyon83 commented on #586
정말 감사합니다. 저도 Amazon Linux2 AMI사용하고 있습니다. 책에서 말한 1이 없었기 때문입니다.
jar로 검색하면 나오지 않았는데 java로 고치니깐 잘 됩니다.

[2021-07-25 03:54] #691 closed, assigned to jojoldu

[2021-07-26 10:39] frtt0608 opened #694 "[오류] p.396 마지막 배포에서 nginx 작동이 안됩니다..ㅠ"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:

10.4 무중단 배포 테스트 진행하는데 deployment 로그 확인해보면 nginx reload하는 마지막에 에러가 발생합니다.
정말 별짓 다해봤는데 해결이 안되네요ㅠㅠ

deployment-log에서 보면 반복적으로 'line 13: [

[2021-07-26 11:32] frtt0608 commented on #694
기존 ec2 서버가 작동하지 않는걸 확인했습니다.
일단, step2에서 재배포까지 하고 'line 13: [: ==: unary operator expected'에러는 해결했습니다.
하지만, nginx reload는 아직 에러가 남아있습니다.

![image](https://user-images.githubusercontent.com/44271206/126982062-e24c2f4d-a2a2-42d4-a48d-cc8e8dfbd20b.png)

![image](https://user-images.githubusercontent.com/44271206/126982119-03530a00-dfc6-48dd-8cc3-2632371399cf.png)

위 이미지를 보면
nginx: [emerg] directive "s

[2021-07-26 12:07] frtt0608 commented on #694
+ 해결

deployments.log와 journalctl -xe, systemctl nginx.service 로 로그 파악하면서 해결했습니다....ㅠㅠ
결국 괄호위치로 인해 발생한 에러였습니다!

하루 날려버렸네요 😂

[2021-07-26 12:07] #694 closed, assigned to jojoldu

[2021-07-26 12:13] frtt0608 commented on #693
+
기존 실행 중이던 8080 port를 강제종료하고 grep jar로 진행하여 해결했습니다.
cmd창에서 netstat -ano로 현재 네트워크 상태 목록과 PID확인하여 kill 했습니다!

[2021-07-26 12:13] #693 closed, assigned to jojoldu

[2021-07-27 13:48] HyewonJu commented on #618
p. 116 진행 중이시라면
application.properties에
spring.h2.console.enabled=true와 함께
spring.datasource.url=jdbc:h2:mem:testdb를 추가해주셔야 합니다:)

[2021-07-28 12:39] frtt0608 opened #696 "[오류] p.400 마지막에 Post CRUD가 안됩니다...ㅠㅠㅠ"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:
 교재를 모두 완료하고, Posts CRUD를 진행하는데 index.js를 브라우저에서 읽어오지 못하고 있습니다.
개발자 도구로 확인해보면, /js/app/index.js로 이동했을 떄, Nginx에 연결된 port의 profile이 출력됩니

[2021-07-29 07:39] minkyoungryul commented on #586
와 2시간 헤맸는데;; 감사합니다.
@jojoldu님 이 글 상단에 고정해주세요.

[2021-07-30 02:13] mynamesunpower commented on #539
@oliviarla 감사합니다!

[2021-07-30 08:20] mynamesunpower commented on #681
저도 4쇄로 오타 확인했습니다. 감사합니다!

[2021-07-30 18:22] #670 closed, assigned to jojoldu

[2021-08-02 15:30] changjinpark opened #697 "[오류] p.308 SPRING_SESSION_ATTRIBUTES 생성이 안됩니다.."
### 어떤 오류인가요?

오류설명:
schema-mysql.sql 파일에서 맨 마지막 테이블인 **SPRING_SESSION_ATTRIBUTES** 테이블을 복사하고 RDS에 반영하는데, SQL 문법 에러가 발생합니다.
SPRING_SESSION 테이블은 정상적으로 잘 생성됩니다.

schema-my.sql에서 그대로 복사 붙여넣기 했는데 왜 에러가 계속 나오는지 모르겠습니다ㅠㅠ
[code]
**에러로그**
[code]
### 프로젝트 주소
* Github URL: https://github.com/changjinpark/freelec-spring2-webservice

### 오류 로그

어떤 오류인지 캡쳐해주세요.
![image](https://user-images.githubusercontent.co

[2021-08-02 15:43] changjinpark commented on #697
ON DELETE CASCADE를 주석처리를 하니까 SPRING_SESSION_ATTRIBUTES 테이블 생성까지는 됩니다.
ON DELETE CASCADE를 빼고 테이블을 만들어서 나중에 에러가 또 발생할 것 같습니다.
ON DELETE CASCADE 가 안먹는 것 같은데, 그 이유를 모르겠네요..ㅠㅠㅠ

![image](https://user-images.githubusercontent.com/64358371/127887508-ca4ea909-186d-468d-87fa-b87699c22d16.png)

[2021-08-04 04:28] SEUNGHYEOK1992 opened #698 "[질문] p.68p"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 질문

오류설명: 롬복에서 변수를 선언해줬는데 테스트코드에서는 매개변수를 가져오지 못하는데 어떻게 해야될까요..?

![initial](https://user-images.githubusercontent.com/62984559/128298198-8616d82a-f7bf-4

[2021-08-05 01:05] leejunsu0207 opened #699 "[오류] p.340"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: deploy 설정 하고 푸시하면 travis ci에서 오류도 안나고 반응이 없습니다.. 오류라도 나면 오류 메세지를 보는데 deploy부분 주석 처리하면 또 되구요;; 오류 메세지 볼수 있는곳이 따로 있나요?

### 프로젝트 주소

Gith

[2021-08-05 01:48] #699 closed, assigned to jojoldu

[2021-08-05 05:21] yoonho0922 commented on #585
메인에 있는 com.jojoldu.book.springboot.web 패키지를 test에 복붙 했는데,
그렇게 하면 상위 패키지(com.jojoldu.book.)가 사라진 채로 붙혀넣기가 되네요.
저는 이것 때문에 삽질했습니다.

[2021-08-05 12:32] minkeun428 commented on #698
원인은 해당 객체의 변수가 static으로 선언 되었기 때문인 것 같은데, 한번 지워보시겠어요?
static으로 선언하면, "해당 클래스.변수명"으로 바로 불러올 수 있습니다.
static으로 선언된 변수는 메모리 영역 중에 static영역에 들어가서 어디서든 참조 가능하기 때문이죠~
근데, 테스트 코드에선 이렇게도 불가능하긴 하네요..일단은
static으로 선언하면 테스트를 돌릴 때마다 해당 변수를 초기화하는 코드도 함께 있어야 할 것 같습니다..

[2021-08-07 09:20] HYEBPARK opened #700 "[오류] p.114"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 이슈에 있는 오류와 같은 오류인 것 같습니다.
그래서 post, put 오류를 다 확인하였고 혹시나해서  tistory를 보고
 Gradle 버전 업그레이드도 했지만 계속 오류가 뜹니다 ㅠㅠ

### 프로젝트 주소

Github에 오류가 난

[2021-08-08 01:05] okputto commented on #674
저도 HeidiSQL로  연결했습니다
도움 주셔서 감사합니다

[2021-08-08 08:48] #700 closed, assigned to jojoldu

[2021-08-08 08:48] HYEBPARK commented on #700
PostsApiController Mapping 실수였습니다 ㅠㅠ

[2021-08-08 13:32] mspark109 commented on #277
저도 접속이 안되는데 혹시 집에서 무선(wifi)인터넷 연결로 사용하는게 영향이 있을까요 ??

[2021-08-09 04:19] yoonho0922 opened #701 "아...... 바보같은 오타로 @PostMapping으로 되었음에도 컨트롤러를 못탔네요..."
아...... 바보같은 오타로 @PostMapping으로 되었음에도 컨트롤러를 못탔네요...

@PostMapping("/api/v1/posts")가 맞는 구성인데 제 소스는
@PostMapping("/api/vi/posts") 로 되어 있어서 메서드 자체를 못탔습니다..

이런..

도움 주신분들 정말 감사드립니다!!!

_Originally posted by @G1Kwon in https://github.com/jojoldu/freelec-springboot2-webservice/issues/174#issuecomment-580563325_

=> 저도 소름돋게 v1 이 아니라 vi로 돼있더라구요!? 책에 오타도 아닌데 어떻게 다 vi로 쓰셨는지....
감사합니다 이것 때문에 계속 삽질했네요

[2021-08-09 04:20] yoonho0922 commented on #174
=> 저도 소름돋게 v1 이 아니라 vi로 돼있더라구요!? 책에 오타도 아닌데 어떻게 다 vi로 쓰셨는지....
감사합니다 이것 때문에 계속 삽질했네요

[2021-08-09 04:20] #701 closed, assigned to nobody

[2021-08-09 18:12] JeongGod opened #702 "[질문] p.161 삭제 테스트 구현에 대해서 궁금한 점이 있습니다."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 질문
책에서 테스트 코드 작성이 중요하다고 하셨습니다. 그래서 삭제기능 구현도 테스트를 해봐야 한다고 생각하여 직접 짜봤습니다.
이렇게 테스트 코드를 구현하면 되는건지 궁금합니다.
또, 궁금한 점이, 삭제기능은 테스트에 그렇게 중요한 점이 아닌건가요? 책에서 다루지 않기에

[2021-08-10 12:58] GRIFFITHH opened #703 "[오류] p.304-305 " Unable to access jarfile -Dspring.config...." 에 관한 오류입니다."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 외부 Security 파일을 등록후 자꾸 "Unable to access jarfile  -Dspring.config...." 가 뜹니다.
스크립트도 몇번을 재작성 하였는데도 이러네요 .. 해결이 안되고 있습니다 ㅜ

### 프로젝트 주소

[2021-08-10 18:33] jalhagosipuda commented on #305
정말 감사합니다. 대체 어디가 잘못된건지 한참을 찾았었는데 덕분에 해결했습니다.

[2021-08-11 19:19] jalhagosipuda commented on #16
정말 감사합니다. 게시글 등록부분 하다가 전체 실행하였는데 헬로 부분 2개가 오류나길래 대체 무슨 문제인가 했는데
저렇게 다시 명시해주고 메인파일 가서 jpa관련 주석처리해주니까 정상적으로 돌아갔습니다.

[2021-08-12 23:29] okputto opened #704 "[오류] p.363 deploy.sh 실행시 Password: su: Authentication failure 오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 363 pg까지 설명대로, scripts/deploy.sh를 생성하고, .travis.yml과 appspec.yml을 수정하여 배포하였습니다

그러나 배포가 실패하였습니다.

su: Athentication failure 해결방법으로 root

[2021-08-13 14:19] lkwa201 commented on #227
이 부분 때문에 많은 구글링을 했는데... 이제서 해결되었네요...
그리고 조금 더 테스트 해본 결과 oauth2 이것도 제거해줘야 합니다.

[2021-08-14 07:26] JunyeongJang44 opened #705 "[오류] p.110 CommandAcceptanceException"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

### 어떤 오류인가요?

오류설명: 109페이지에 등록된다() 메서드 실행시 제목과 같은 에러가 납니다.
스택오버플로우 돌면서 삽질하다가 해결책을 찾게되어 혹시 필요하신 분들 있을까봐 글 남깁니다.

### 해결

저는 교재에 나온 실습을 진행하되, 최신 버전을 기반으로 junit 이나 스프링 설정이 달라진 것들을 찾아가면서 코딩하고 있습니다.
때문에 만약 교재와 동일한 환경에서 실습하시는 분들은 위와 같은 에러를 만나지 않을 수도 있습니다.
만약 위와 같은 에러를 띄우셨다면 build.gradle을 다음과 같이 수정해주시면 됩니다.

runtimeOnly 'com.h2database:h2:1.4.199'

디펜덴시 부분에서 기존의 코드는 com.h2dat

[2021-08-14 10:00] i009727 opened #706 "[오류] p.113 단순 질문"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:

 JpaRepository에 관련된 질문입니다. PostsService를 보면 save, delete기능은 JpaRepository의 save, delete 메소드를 호출하는데 update기능은 굳이 영속성 컨텍스트를 사용해야만 update

[2021-08-15 09:28] wonyong-park opened #707 "[오류] p.144 - 게시글 등록이 안되는데 무엇이 문제인지 모르겠습니다."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 등록 버튼을 클릭할때 아무런 동작이 발생하지 않습니다. 다른 사람오류도 확인해보고 코드도 다시 확인해봤는데 도통 무엇이 문제인지 모르겠습니다. footer.mustache에서 스크립트의 경로를 /static/js/app/index.js로 바꿔

[2021-08-15 13:34] HYK424 opened #708 "[오류] p.110 PostApiController 오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 책에서 나온 그대로 쳤는데 해당 Test에서 오류가 나옵니다. 중간에 jdk버전, gradle버전이 맞지 않아 한 차례 수정 이후
책에서 나온 코드 따라 치며 진도를 나가고 있는데 해당 구간에서 막혔습니다..

### 프로젝트 주소

Gith

[2021-08-15 17:10] developer-wonjin opened #709 "[오류] p.191 springSecurityFilterChain"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:
p.190까지 설정을 모두 마치고 프로젝트를 실행해 보려고 하는데 FilterChain을 생성할 수 없다고 오류가 뜨고있습니다. 시큐리티를 적용하는 과정에서 오류가 나는 것은 아래 두 과정으로 진행했습니다.
1. import org.sprin

[2021-08-15 18:52] #709 closed, assigned to jojoldu

[2021-08-16 05:59] JunyeongJang44 commented on #708
@HYK424
URL을 https --> http 로 변경해보세요. s가 시큐리티의 약자로 보안에 따른 차이가 있는 걸로 알고있는데, 보통 토이프로젝트로 서비스를 만들어 볼때 로컬호스트는 http 로 많이 하더라구요.

[2021-08-16 06:06] HYK424 commented on #708
@SheepEatLion
감사합니다. 해결했습니다! 어제는 몇번이고 비교해봐도 책이랑 똑같은 코드처럼 보였는데, 저기에 s가  붙어있던 걸 못 봤네요ㅎㅎ;

[2021-08-18 01:29] wonyong-park commented on #707
static/js/app 으로 생성해도 화면에 보일떄는 static.js.app으로 나옵니다.

코드를 다시보니까 index.js 코드에 main.init(); 이 빠져있어 추가하니 정상적으로 동작하네요!

답변 감사합니다 :D

[2021-08-18 02:27] developer-wonjin opened #710 "[오타 제보] p.277"
기존에 올라온 제보가 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 오타

* as-is (오타):  p.277에서 Max Connection으로 60개의 커넥션만 가능하다고 설명을 하셨는데 아래 그림에서는 150개로 설명이 되어있습니다. 어떤게 맞는 숫자인가요?

* to-be (교정):

[2021-08-18 02:54] wonyong-park opened #711 "[오타 제보] p.153 Post -> Posts , post. -> posts."
기존에 올라온 제보가 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 오타

* as-is (오타): 코드설명 부분에 {{post.id}}가 즉, Post 클래스의 id에 대한 접근은 post.id로 사용할 수 있습니다. 라고적혀져있는데 코드에 있는 클래스는 Post가 아닌 Posts아닌가요?? 152페이지의 post.id, post.tit

[2021-08-18 08:27] JunyeongJang44 commented on #605
맥북을 구매하고 ssh를 사용한 적이 없다면 아직 .ssh 폴더가 생성되지 않았을 겁니다.
ssh keygen 커맨드를 통해 먼저 폴더를 생성하시고 다음으로 진행하시면 됩니다!

[2021-08-19 00:20] developer-wonjin opened #712 "[질문] p.389 [코드설명] 1번설명 "오류가 발생하는 경우에 현재 사용중인 profile을 real2로 잡은 이유""
해당 코드를 보면 80요청으로 nginx를 통해 요청과 응답을 하고 있습니다.

저는 다음과 같은 사실을 유추했습니다.
**정상신호를 받았다면 어떤 스프링부트(8081 또는 8082)가 정상작동하는지는 알 수 없으나,
  nginx와 연결된 스프링부트는  정상운영되고있다.**

정상작동되고 있다면 /profile 요청을 보내 현재 프로파일(real1 또는 real2)를 알아내는 방법까지 이해를 했습니다.

그런데, 비정상일 경우 p.388에서 real2로 고정적으로 결론을 내렸는데요....

왜 비정상일 경우 nginx가 바라보고 있는 springboot프로세스의 포트가 8081일 것이며 프로파일이 real2 일 것이다라고

판단할 수 있는건가요?

이 로직을 이해를 못하고 있습니다 ㅠㅠ

이해를 하신 분이

[2021-08-19 04:21] Jsim6342 opened #713 "[오류] p.156 게시글 수정 기능 오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 게시글 수정 기능에서 '수정 완료' 버튼을 누르면, 405에러가 발생합니다.
구글링과 몇 가지 검색을 해보면서, PUT 메서드 매칭이 안되는 것 같은데, 정확히 어떤 오류이고, 어떻게 해결해야될지 몰라서 질문드립니다.

### 프로젝트 주소

[2021-08-19 06:47] juuxx commented on #656
@JeanYoungPark 어느부분 고치셨는지 알 수 있을까요? 저도 똑같이 오류가 나는데 어디를 수정해야될지 모르겠습니다..

[2021-08-19 12:27] oh-sh-2134 opened #714 "[오류] p.123"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:
PostsRepositoryTest 클래스를 테스트할때 발생할 수 있는 문제입니다.
어쩌다보니 해결을 했고 같은 문제에 맞닥드린분들의 도움이 되었으면 하네요

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Gith

[2021-08-19 13:32] changjinpark commented on #317
저랑 동일한 이슈를 겪으셨네요. 저는 user 테이블의 캐릭터셋을 utf8로 변경해서 해결했습니다.

ALTER TABLE [테이블이름] CONVERT TO character SET utf8;

[2021-08-19 13:38] changjinpark commented on #697
MySQL WorkBench를 설치해서 명령어를 입력하니까 테이블이 정상적으로 생성되었습니다.

![image](https://user-images.githubusercontent.com/64358371/130078421-6261b1c0-f743-469e-9e4f-0abf6460c7f2.png)

[2021-08-19 13:38] #697 closed, assigned to jojoldu

[2021-08-19 18:43] developer-wonjin commented on #712
이해했습니다. EC2에 구동중인 서버가 하나도 없는 초기에는 real1에 해당하는 서버를 구동해야하기 때문에 현재 구동중인 서버가 없는것이 맞으나 real2가 구동중인 것으로 관념적으로 생각하고 로직을 짜신것 같습니다.  profile.sh의 CURRENT_PROFILE을 real2로 잡은 이유를 이제야 이해했습니다.

[2021-08-19 18:43] #712 closed, assigned to jojoldu

[2021-08-21 10:13] thguss opened #715 "[오류] p.140 게시글 등록 과정에서 에러가 발생합니다ㅠㅠ"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 책을 보면서 코드를 따라치면서 게시글 등록 쪽을 하고 있었는데, alert에 아래 화면과 같은 에러가 뜹니다. 데이터베이스 저장도 안되고 무엇이 문제인지 모르겠어요ㅠㅠ

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.

[2021-08-21 10:44] thguss commented on #715
해결했습니다 :)

[2021-08-21 15:05] yrrho2 commented on #538
감사합니다.

[2021-08-22 04:08] kwan-yoon commented on #707
@Kanbot
감사합니다. 저는 되려 Kanbot님이 답변해주신 내용으로 오류를 수정하였네요.
책에는 .으로 되어있어서 디렉토리를 생성할때 그대로 따라했는데, 폴더 구조상 /로 해야한다는걸 간과했습니다.
기본을 생각해보면 당연한건데, 너무 어처구니 없는 실수였네요. 감사합니다.

[2021-08-22 08:13] Junyeopp opened #716 "[오류] p.318 로그인시 redirect_uri_mismatch"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: "Google Login"을 클릭하였을 때 Error 400: redirect_uri_mismatch가 발생합니다.
-> 크롬 개발자 도구에서 Network를 확인해보았더니 아래와 같이 8080포트없이 request_uri가 요청되는 것처럼

[2021-08-22 14:50] ghost opened #717 "[오류] p.35"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL:

### 오류 로그

Build file 'C:\com.jake.projects\bu

[2021-08-23 11:02] brucehaan commented on #484
저는 server.port=(아무포트) 써서 해결했습니다

[2021-08-23 12:20] NamkungJ commented on #649
build.gradle을 확인해보세요.
저도 동일한 오류 compile('org.springframework.boot:spring-boot-starter-mustache') 를 지우고 다시 해보니 정상 실행 되네요.

[2021-08-24 14:45] MelRanG commented on #318
어떻게 해결하셨나요?

[2021-08-27 06:21] thguss opened #718 "[오류] p.284"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 책을 따라 인스턴스를 연결하고 rds의 엔드포인트를 따서 database browser로 연결하던 과정 중 계속 뜨는 같은 오류를 해결하지 못하고 있습니다. 데이터베이스도 삭제하고 재생성했고, 인스턴스도 모두 삭제하고 다시 해봤는데도 똑같은

[2021-08-28 10:05] Meezzi opened #719 "[질문] p.35 오류"
buildscript {
    ext {
        springBootVersion = '2.1.7.RELEASE'
    }
    repositories {
        mavenCentral()
        jcenter()
    }
    dependencies {
        classpath("org.springframework.boot:spring-boot:spring-boot-gradle-plugin:${springBootVersion}")
    }
}

apply plugin: 'java'
apply plugin: 'eclipse'
apply plugin: 'org.springframework.boot'
apply plugin: 'io.spring.dependency-manag

[2021-08-29 00:41] newkayak12 opened #720 "[오류] p.356 travis 배포 자동화 중 에러"
codedeploy-agent.log

![스크린샷 2021-08-29 오전 9 38 29](https://user-images.githubusercontent.com/74722411/131234412-551acf65-d06e-48a9-a5a2-6e191a4bf2bd.png)

.travis.yml
![스크린샷 2021-08-29 오전 9 39 39](https://user-images.githubusercontent.com/74722411/131234443-d18377ed-9ab7-4015-8509-d84951418617.png)

appspec.yml
![스크린샷 2021-08-29 오전 9 39 49](https://user-images.githubuse

[2021-08-30 09:25] Hee-Jae opened #721 "[오류] p.250 ssh 접속 Permission denied 오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: ssh 접속 시도를 하면 `Permission denied (publickey,gssapi-keyex,gssapi-with-mic).` 에러가 발생합니다.
인스턴스 보안그룹에서도 현재 IP주소로 접속 가능하도록 지정해놨습니다.
키 페어를 삭제

[2021-08-30 11:33] MelRanG opened #722 "[질문] 이 책 기반으로 CRUD구현중인데 페이지이동시 로그인 풀림이 발생합니다."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:
페이지마다 index처럼
    public String index(Model model, @LoginUser SessionUser user){
        model.addAttribute("perfume", perfumeService.f

[2021-08-30 17:35] Hee-Jae commented on #721
해결했습니다.
처음에 발급받은 키가 아니라 추가로 발급받은 키를 사용했기 때문에 발생한 일이었습니다.

[2021-08-30 17:35] #721 closed, assigned to jojoldu

[2021-09-02 11:36] kennysin1444 commented on #13
save는 해결되었는데 update는 여전히 똑같이 에러가 나네요ㅠㅠ
다른 방법이 없을까요?

[2021-09-02 16:48] gihangShin commented on #720
저도 이 문제로 삼일째네요ㅜㅜ

[2021-09-03 15:53] chanhl22 commented on #687
mac에서는 HeidiSQL도 안된다고 해서 저도 해당 이슈 때문에 엄청 고생했는데,
@xengom님 덕분에 해결했습니다!!

바로 접속하면 콘솔창 열리고 바로 그림 7-35 쿼리부터 그대로 따라하시면 테이블 생성과 insert쿼리까지 잘 실행됩니다!

[2021-09-05 15:19] chanhl22 commented on #718
저도 동일한 문제 때문에 엄청 고생했었는데
https://github.com/jojoldu/freelec-springboot2-webservice/issues/687 에서 xengom님 했던 방식으로 진행하니까 해결은 되었습니다..
(다만 윈도우 환경에서도 되는지는 모르겠습니다.
안된다면 https://github.com/jojoldu/freelec-springboot2-webservice/issues/674 참조해서 HeidiSQL를 적용해봐야 할 듯 합니다)

[2021-09-05 19:10] 93TEI opened #723 "[오류] p.298 ./gradlew test를 했을 때 한개만 오류가 나요."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:

./gradlew test를 했을 때 7개 통과를 했는데,
'메인페이지_로딩()'만 통과를 못합니다.

java.lang.AssertionError가 나는걸로 봐서는 assertthat의 문제인데
저자의 코드를 복붙해서 해봐도 자꾸 납니다.

[2021-09-06 08:53] 93TEI commented on #723
WebConfig파일이 깃에 안올라간 것이었습니다.

[2021-09-06 08:53] #723 closed, assigned to jojoldu

[2021-09-06 18:34] JeongGod opened #724 "[오류] p.364 p.365 업데이트 되지 않는 오류입니다."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 현재 구동되어있는 app이 꺼지지 않고 실행되서 그런것 같아 nohup.out에 로그를 보니 맞았습니다.
[code]
그래서 왜 꺼지지 않나 살펴보니 밑에 사진처럼 `java`로 구동이 되고 있어서 실행중인 어플을 찾지 못한 이유더라구요.

[2021-09-07 13:33] yrrho2 commented on #529
안녕하세요 같은 문제를 겪고있어서 찾아왔습니다. 혹시 해결방법과 문제점을 여쭤봐도 될까요??

[2021-09-07 17:22] yrrho2 commented on #529
안녕하세요 같은 문제를 겪고있습니다. 해결하셨다면 방법을 여쭤보고 싶습니다.

[2021-09-07 18:01] implermine commented on #506
@Yadon079
뭔가..제 책은 4쇄인데 main.init()이라고 되어있는걸로 보아, 검수과정에서 코드만 변경되고 책의 내용변경이 이루어지지 않은 것 같아요

[2021-09-08 11:45] KangChanSong commented on #718
@chanhl22 감사합니다. 덕분에 저 윈도우 환경인데 xengom님 방법으로 해결햇어요

[2021-09-08 23:13] implermine commented on #718
같은 이슈에서 p.284 작성란 중 `Database`란을 공란으로 비우거나, 혹은 AWS RDS 설정당시의 `데이터베이스 이름`에 해당하는 값을 넣고 해결되었습니다.

책에는 Database란에 mysql을 넣도록 되어있는데, 4쇄 기준으로 책을 그대로 따라하셨다면 freelec_springboot2_webservice를 넣어보시겠나요..

[2021-09-11 01:59] kwan-yoon commented on #687
@xengom @soulduo 저는 Data Sources and Drivers 탭이 안보여서 그냥 연결도 할 수 없는데, 혹시 해당 메뉴는 어떻게 여는 걸까요?

[2021-09-11 03:39] yuyoungtai opened #725 "[오류] p.365 Travis CI로 배포한 성공 후 DB 테이블을 못찾는 오류가 발생합니다."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: Travis CI 통해서 deploy까지 모두 성공하고 메인 페이지도 뜨는데요. DB와 연계되는 페이지로는 모두 500 에러가 나오고 있습니다.
nohup.out에는 다음과 같은 오류 메시지가 나옵니다.

동일한 소스코드이고 이전에 직접 aw

[2021-09-11 09:57] OR35 opened #726 "[오류-해결] p.113 Update 오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:

이전 postMapping 오류랑 동일한 오류가 발생합니다.
깃에 올려진 소스와 제가 작성한 소스 비교하였을 때 전부 동일하였고,
@putMapping > @PostMapping 으로 변경되어 있습니다.
오류 날 부분이 없어보이는데 왜 오류

[2021-09-11 19:21] dfdf0202 opened #727 "[오류] p.309 ~ p.311"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: deploy.sh vim 으로 실행해서 application-oauth.properties, application-real-db.properties 경로 추가 해주고 했는데
책 처럼 결과가 안나오는데 뭐가 문젤까요..

<img width="

[2021-09-12 03:20] #727 closed, assigned to jojoldu

[2021-09-12 06:59] philos1234 opened #728 "[오류] p.192page"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

### 어떤 오류인가요?

오류설명: 구글 OAuth 적용 이후, localhost:8080에 접속할 수 없음
localhost:8080/h2-console에서도 권한 문제 발생

로그 내용을 보면 user가 null 이라고 해서 오류가 나길래
SecurityConfig 클래스 오류 인거 같아, 그대로 복사했는데 이런 에러가 나네요..

### 프로젝트 주소

* Github URL: https://github.com/philos1234/springbootWebService_book

### 오류 로그

![캡처11](https://user-images.githubusercontent.com/48795102/132976966-f06b8670-be15-410f

[2021-09-12 08:59] 93TEI commented on #648
해결방법 👍  :

1. /app/step1 으로 가셔서 rm -rf freelec-springboo2-webservice를 써서 지우고
2. 그 후 거기서 git clone

원인 :

이 오류는 깃허브에 있는 내용과 서버에 있는 내용이 달라서 그렇습니다.
deploy.sh 파일을 읽어보셨다면 아마 쉽게 찾으셨을 수 있을 것 같아요.
deploy.sh 파일에 보시면 맨 위에 git pull하는 곳이 어디인지 1,2줄에 있습니다.

그 곳에 가면 우리가 이미 git clone으로 받은 또다른 프로젝트가 있어요.
그 프로젝트를 지우고 git clone으로 다시 받아주시면 됩니다.
이곳에 있는 프로젝트는 꽤 전에 clone해둔 것이기 때문에
그동안 바뀐 내용이 있다면 머지되지 않았다고 나옵니다.

[2021-09-12 09:01] #724 closed, assigned to jojoldu

[2021-09-12 09:09] JeongGod commented on #720
해결하셨는지 모르겠지만 들여쓰기 정확하게 하셔야 합니다. `appspec.yml` 에서 source다음부터 들여쓰기가 제대로 안되어있네요

[2021-09-12 19:10] yanJuicy commented on #727
noup java 뒤에 \ 없애고 한 줄로 해보세요

[2021-09-13 10:20] OR35 commented on #726
해결완료.
PostsControllerTests. update 메소드에서 Method.put을 Method.post로 변경하였더니 정상실행 되었습니다.
이전에 동일 오류 겪고도 Put을 다시 한 번 찾아볼 생각을 안 했네요ㅠ

[2021-09-13 12:49] Minji1004 commented on #457
저도 동일한 문제가 있었는데 gogadl님 답변을 힌트로 문제를 해결했습니다.
전 아예 새로 프로젝트를 Pull 받았네요.
제 블로그에 해결한 내용 정리해놨습니다.

https://velog.io/@minji104/Failed-to-load-driver-class-org.mariadb.jdbc.Driver

[2021-09-13 12:56] OR35 commented on #715
@thguss  어떻게 해결하셨나요 ?ㅠㅠ

[2021-09-13 13:50] OR35 commented on #713
혹시 이전에 Controller단에서 @PutMapping을 @PostMapping 으로 변경하시고서 js에서 put으로 받아오는건 아닌가요 ?
Post로 받았으면 js에서도 Post로 받아와야해요.

@Jsim6342

[2021-09-14 14:49] kwan-yoon opened #729 "[오류] p.306 ~ 311 embedded Tomcat 관련 오류"
혼자 에러 찾다가 너무 스트레스 받아서 올려봅니다.
도움 부탁드립니다.

### 어떤 오류인가요?

오류설명: deploy.sh를 수행하면 내장 톰캣을 수행할 수 없다고 나옵니다.
오타도 없이 모두 다 잘 작성했는데, 안되네요. 도움 부탁드립니다.
 Unable to start embedded Tomcat

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL:  https://github.com/kwan-yoon/freelec-springboot2-webservice

### 오류 로그
![image](https://user-images.githubusercontent.com/57318773/1

[2021-09-14 16:59] sasca37 commented on #687
혹시 찾으셨나요

[2021-09-15 04:46] chanhl22 opened #730 "[오류] p.346 sudo ./install auto"
### 어떤 오류인가요?

오류설명: `sudo ./install auto`를 할 때 /usr/bin/env: ruby: No such file or directory 오류

`sudo yum install ruby` 로 ruby 설치하면 해결됩니다

---
다시 보니 책에 적혀있었네요.. 왜 못보고 고생했을까요 ㅠㅠ

[2021-09-15 04:49] #730 closed, assigned to jojoldu

[2021-09-17 07:16] andrepasong commented on #520
저도 같은 증상으로 한참을 헤메였네요. 파일도 지워보고 경로도 지워봐도 안되었는데,
왜인지는 잘 모르지만 현재 수정하고 있는 js파일이, 브라우저 캐시에 이미 올라간 파일을 대체하지 못하는 문제인거 같습니다.
크롬에서 F12 눌러서 Network -> index.js 파일이 보이는데 preview 에 소스를 보면 현재 수정된 내용이 반영이 안되어 있습니다.
그래서 브라우저 캐시 지우고 인텔리제이에서 File -> invalidate Cashes  하고나니 잘됩니다.

[2021-09-17 13:07] #728 closed, assigned to jojoldu

[2021-09-19 16:07] rldjr123 commented on #729
저도 똑같은에러떄문에 고생이네요...흠

전그냥 프로젝트 지우고 다시받아서 하니까 되네요 참고하세요~

[2021-09-20 03:00] jayjaehunchoi opened #731 "[오류] p.300 ~p.306 Spring boot가 작동 중 멈춥니다"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:
오류를 찾고싶어도 로그가 저기까지만 찍히다가 멈춰버리네요..

jar파일을 직접 돌리면 oauth 의존성을  찾을 수 없다고 하는데, application-oauth.properties 도 인텔리제이와 책처럼 똑같이 만들고 prolfile.i

[2021-09-20 07:12] jayjaehunchoi commented on #731
처음부터 다시적고 포트를 8090으로 바꿔서 배포하니 됐습니다 바로 다음에서 ,,, 페이지가 안나오고 있긴하지만요..

[2021-09-20 11:37] yeonggilee commented on #400
저도 에러가 안나서 한참을 헤멨는데,
application-oauth.properties 파일에서

spring.security.oauth2.client.registration.**google.scope=profile,email**

위 코드 부분에 오타가 있어 profile 정보를 제대로 가져오지 못했었습니다. ㅋㅋ

[2021-09-20 15:13] OR35 commented on #549
@SangHui48

IndexController의 addmodel.addAttribute("userName", user.getName()); 부분에서 "userName"을 다른 변수명으로 변경해보세요.
(index.mustache도 따라서)

userName이라는 이름을 윈도우 환경변수에서 사용하고 있기 때문에 충돌난걸 수도 있어요.

[2021-09-20 19:06] OR35 opened #732 "[오류] p.192 Google(구글) 로그인이 안돼요"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:

메인에서 구글 로그인을 클릭했더니 책과 동일하게 동의화면이 나왔습니다.
계정 선택 후 메인으로 돌아왔는데

계정 아이디 , 로그아웃 버튼이 뜨지않고 그대로 구글로그인 버튼이 나왔어요.
그 이후로 아무리 로그인 시도를 해도 ㅠ 이미 로그인 되

[2021-09-22 13:35] OR35 commented on #494
공감 합니다. 지금 막혀서 답답해 죽겠는데 ㅠ 책만 계속 인쇄하고 정작 오류 제보에 대한 답은 아무것도 안 해주시네요..

[2021-09-27 04:12] hyeontack5 opened #733 "[오류] p.72"
오류설명:

plugins에서 lombok이 설치 되어 있는것을 확인하였고,
설정에서 Enable annotation processing을 해주었습니다.
근데 @Getter를 입력하면 자동으로 import `jdk.nashorn.internal.objects.annotations.Getter;`가 자동 생성되고
직접 `import lombok.Getter;`를 해주면 인식을 하지 못합니다.
마찬가지로 `RequiredArgsConstructor`도 인식하지 못합니다.
인텔리제이 재부팅을 하였습니다.
다른 이슈들을 찾아보니 build.gradle에서 annotation 컴파일 부분을 추가하라고 해서 했지만 안되서 질문드립니다.

![스크린샷 2021-09-27 오후 1 09 45](https:/

[2021-09-29 11:53] sasca37 opened #734 "[질문] 193p 기본권한 GUEST"
오류는 아니고 궁금한 점이 있어 남깁니다..
Role 에 대한 Default 설정이 어디서 이루어지나요? 로그인 시 권한에 GUEST, USER 중 GUEST가 들어가게 된 원리가 궁금합니다.

[2021-09-30 16:10] OR35 commented on #732
해결 완료

[2021-10-01 07:40] NamkungJ commented on #497
region: ap-northeast-2 에 codedeploy 어플리케이션을 생성했는지 확인해보세요. 혹은 어플리케이션명 오타

[2021-10-03 15:14] #733 closed, assigned to jojoldu

[2021-10-06 10:43] OR35 commented on #734
class OAuthAttributes에서
user entity 생성할 때 builder 값에서 role 을 guest로 지정해줘요.
가입할 때 기본 권한을 guest로 설정해서 그렇습니다.

@sasca37

[2021-10-06 10:46] OR35 opened #735 "[오류] p.291 putty 실행 시 network runtime error 발생합니다."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:

직전까지 putty가 잘 됐었는데
db설정 후 putty로 접근 확인 하려고 실행 시켰더니
아무 화면도 안 뜨고 멈춰있다가 네트워크 시간이 지연됐다며 에러가 발생합니다.ㅠ

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세

[2021-10-06 12:49] jinan159 opened #736 "[오류-해결] p.100 JPA 쿼리 출력 로그 설정 deprecated"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

### 어떤 오류인가요?

오류설명: 책에서 JPA를 통해 내부적으로 실행되는 쿼리를 로그에 출력되도록 설정하는 부분에서
예시 설정이 deprecated 됨

### 책의 설정 예시

이 설정은 deprecated 되었고 아래 설정을 사용해야 합니다.

### 사용해야하는 설정

### 참고 사진

- InnoDB : org.hibernate.dialect.MySQL55Dialect
<img width="1552" alt="스크린샷 2021-10-06 21 50 08" src="https://user-images.githubusercontent.com/45728407/136205537-0e401750-0125-4dc3-94d5-72cb6e5c9a8

[2021-10-07 08:57] sasca37 commented on #734
감사합니다!

[2021-10-07 08:57] #734 closed, assigned to jojoldu

[2021-10-08 04:28] dennisresearchnote opened #737 "[오류] p.97에서 코드 전체를 작성하였는데도 빌드가 실패합니다."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:
![image](https://user-images.githubusercontent.com/91735325/136498085-34f623c7-5e6a-4df2-b772-0eeaf82f7d23.png)
위 사진과 같이 빌드가 실패하고
![ima

[2021-10-08 09:16] hojunnnnn commented on #435
와 진짜 감사합니다 덕분에 해결했습니다 !!!!!!!!!!!!!!!!!!!

[2021-10-09 06:24] yangju0411 opened #738 "[오류] p.114 posts 수정 테스트 코드 동작 결과 테스트를 통과하지 못합니다."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?
[code]

오류설명: 테스트 코드가 정상적으로 작동하는 것 같은데 테스트를 실패하네요.
코드는 똑같이 작성했고 테스트 로그에 update 쿼리까지 떠있는데 db에 update가 반영이 안 되는지 content2로 바뀌지 않고  content 그대로라

[2021-10-09 09:36] setvect opened #739 "[질문] p.104 도메인 모델에서 로직을 처리 할 경우 스프링 인스턴스는 어떻게 주입받나요?"
1. 질문 개요
- 책 내용과 약간 거리가 있는 질문입니다.
- 비지니스 로직을 처리하기 위해 도메인 모델에서 어떻게 스프링 인스턴스를 주입받나요?

2. 상세 설명
- `p.104`에서는 비지니스 로직 처리를 도메인 모델에서 처리하라고 되어 있습니다.
- 책에서 아래와 같은 예시가 나옵니다.
[code]
- 여기서 만약 `delivery.calcle()`를 처리하는 데 있어 DB로직 외 다른 로직(카프카 메시지 발행, API 호출 등)을 처리 하기 위해서는 Delivery 객체에는 스프링 인스턴스를 주입받아야 합니다.
- 하지만 Delivery는 JPA에서 관리되는 entity이기 때문에 스프링 인스턴스를 주입 받을 수 없습니다.

3. 질문 한줄 정리
- Entity 객체에서 스프링에서 관리되는 Bean

[2021-10-13 04:18] moto6 commented on #253
저도 동일한 문제가 있었는데 이글을 보고 해결했습니다!! 클라이언트 ID와 sercret 을 잘못 넣어놨었네요! 감사합니다!

[2021-10-15 11:39] teemostock00 opened #740 "[오류] p.62 테스트코드 오류 나시는분 이걸로 해보세요!"
### 어떤 오류인가요?

오류설명: get부터 오류남

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL:

### 오류 로그

package com.jojoldu.book.awsspring.springboot.web;

import org.junit.jupiter.api.Test;
import org.junit.jupiter.api.extension.ExtendWith;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.boot.test.autoconfigure.web.servle

[2021-10-18 08:43] sdardew opened #741 "[오류] p.305 nohup.out에 Error: Invalid or corrupt jarfile /home/ec2-user/app/application-oauth.properties"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: Error: Invalid or corrupt jarfile /home/ec2-user/app/application-oauth.properties

### 프로젝트 주소

* Github URL: https://github.com/sdarde

[2021-10-18 09:31] hojunnnnn opened #742 "[오류] p.297 ./gradlew test 오류 관련 제발 도와주세요ㅠㅠ"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: **./gradlew test 후에 아래 사진과 같이 오류가 뜹니다.. test/resources/application.properties도 정상적으로 github에 등록되어 있구요... 인텔리제이에서 테스트하면 정상적으로 성공합니다.. 관련

[2021-10-18 14:02] hyeontack5 commented on #707
@wonyong-park

혹시 책에는 index.init(); 이라고 되어 있는데 이 부분은 오타일까요?
그리고 등록 동작 잘되서 데이터베이스에 저장되나요? 저는 등록 버튼이 실행이 안되고 팝업 창도 안뜨더라고요

[2021-10-19 16:14] ssung0810 opened #743 "스프링 시큐리티부분을 들어서면서 서버가 동작하지않습니다."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 책 내용대로 따라가다가 SpringSecurity부분으로 들어섰는데 관련된 라이브러리를 compile하고 @EnableWebSecurity어노테이션을 사용하면서 Application에서 시작시키는 서버가 실행이 안되기 시작했고 동시에 테스트

[2021-10-19 16:18] JaewookMun commented on #549
동일문제 때문에 저도 방법을 찾고있었는데 해결했습니다.
감사해요

[2021-10-19 17:13] rlarkdals579 commented on #742
저 같은경우에는 ec2 서버내의 프로젝트를 삭제하고 다시 git clone 부터 해보니까 정상적으로 작동했습니다

[2021-10-20 02:51] moto6 commented on #533
감사합니다!

[2021-10-20 05:40] hojunnnnn commented on #742
안녕하세요 rlarkdals579님! 답변 감사합니다.
말씀해주신대로 ec2 서버 내에 프로젝트를 삭제하고 다시 git clone 후 test 해 보았지만 여전히 위와 같은 오류가 나오네요ㅠㅠ

[2021-10-20 16:28] Syon0303 commented on #664
url 에 jdbc:h2:mem://localhost/~/testdb;MODE=MYSQL 를 입력해서 접속해보세요
저는 이렇게 해결했습니다만 맞는방법인지는 모르겠습니다.

[2021-10-21 02:55] khs50851 commented on #664
안녕하세요~ 해결했습니다! 답변 감사합니다
​
-----Original Message-----
From: ***@***.***>
To: ***@***.***>;
Cc: ***@***.***>; "State ***@***.***>;
Sent: 2021-10-21 (목) 01:28:20 (GMT+09:00)
Subject: Re: [jojoldu/freelec-springboot2-webservice] [오류] p.116 H2 콘솔 접속 불가 (#664)

url 에 jdbc:h2:mem://localhost/~/testdb;MODE=MYSQL 를 입력해서 접속해보세요
저는 이렇게 해결했습니다만 맞는방법인지는 모르겠습니다.
—
You are receiving this because you modified the

[2021-10-21 19:15] Syon0303 commented on #664
제가 올려드린 방법으로 해결하신건가요? 아니면 어떻게 해결하셧는지 알 수 있을까요.?

[2021-10-21 23:09] khs50851 commented on #664
안냥하세요. 올려주신 방법으로 해결했습니다! 감사합니다 ㅎㅎ
​
-----Original Message-----
From: ***@***.***>
To: ***@***.***>;
Cc: ***@***.***>; "State ***@***.***>;
Sent: 2021-10-22 (금) 04:15:26 (GMT+09:00)
Subject: Re: [jojoldu/freelec-springboot2-webservice] [오류] p.116 H2 콘솔 접속 불가 (#664)

제가 올려드린 방법으로 해결하신건가요? 아니면 어떻게 해결하셧는지 알 수 있을까요.?
—
You are receiving this because you modified the open/close state.
Reply to this emai

[2021-10-23 03:24] rlarkdals579 opened #744 "[오류] p.374 엔진엑스 설치"
`기존에` 올라온 제보가 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 오타

Amazon Linux 2에서는 더 이상 yum을 통한 nginx 설치가 지원되지 않는 것 같습니다.

`amazon-linux-extras list`
명령어를 통해 설치할 nginx 찾아보신다음에

`sudo amazon-linux-extras install

[2021-10-23 07:11] nueey commented on #442
혹시 해결 하셨나요??

[2021-10-26 03:19] Cheol-Soon-Choi opened #745 "[오류] p.304~306 ClientRegistrationRepository 에러 발생"
### 어떤 오류인가요?
오류설명: ./deploy.sh 수행 후 nohup.out 확인 시 계속 ClientRegistrationRepository 에러가 나옵니다.
교재 본문에는 oauth.properties를 ec2에 직접 넣어주라고 해서 반영했는데도 계속 문제가되어서 질문드립니다.
+티스토리(최신코드로 반영하기)에 내용까지 반영하였습니다.

### 프로젝트 주소
* Github URL: https://github.com/Cheol-Soon-Choi/boot

### 오류 로그
1. nohup.out 로그
![1](https://user-images.githubusercontent.com/79562672/138802519-9c8635f1-93d7-49a6-a773-e8e78fa1727b.PNG)

2.

[2021-10-27 13:17] #740 closed, assigned to jojoldu

[2021-10-28 00:05] #463 closed

[2021-11-01 12:05] ghost opened #746 "[질문]챕터3"
오류는 아닌데 여쭤볼게 있습니다.

챕터3 에 보면 dto를 여러가지 만들어서 요청에 맞는 dto만 따로 호출하는데 이렇게 되면

관리하기 힘들지 않나요? 이렇게 사용 하는 이유가 궁금 합니다!

[2021-11-04 10:15] gallo44 commented on #672
저도 문제가 없는데 안돌아가서 일단 프로젝트 갱신하고 빌드 돌렸더니 됐습니다.

빌드 돌려보세요~

[2021-11-04 11:34] kilegawha commented on #672
2021년 11월 4일 (목) 오후 7:15, gallo44 ***@***.***>님이 작성:

넵 알려주셔서감사합니디

[2021-11-07 23:39] rerun1129 opened #747 "[오류] 데이터베이스 현재 활동 관련"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL: https://github.com/rerun1129/complete

#

[2021-11-08 12:42] #747 closed, assigned to jojoldu

[2021-11-09 12:48] jinan159 commented on #732
@OR35 혹시 어떻게 해결하셨는지 알 수 있을까요??

[2021-11-10 07:43] jinan159 opened #748 "(해결)[예제 오류] p.212 그림 5-33 전체 테스트 실패(1)"
### 예제 오류

제가 삽질한 것을 다른사람들은 삽질하지 않도록 내용 공유드립니다.

----

 책에서는 `롬복_기능_테스트` 이외에는 모두 실패하는것으로 나옵니다.

![image](https://user-images.githubusercontent.com/45728407/141070576-496346c4-91e5-4c4f-8998-4885751f9089.png)
(p212 그림 5-33와 동일)

이는 `./src/main/resources/application-oauth.properties` 가 테스트 환경에서 없어서 그런것입니다.

하지만, 실제로 책의 예제들을 이전부터 순서대로 따라했다면,  전체 테스트 중 4/8 개만 실패하게 됩니다.

![image](https://user-images.gi

[2021-11-10 07:49] #748 closed, assigned to jojoldu

[2021-11-11 15:12] SUHYUNSHIM commented on #645
저도 계속 이 에러가 뜨는데..

[2021-11-11 17:34] dhkim1522 opened #749 "[오류] p.64"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: JUnit4를 활용한 테스트 실습을하는데 아무리 해보고 알아보고 수정해봐도 오류가 뜹니다

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Gi

[2021-11-12 09:53] SUHYUNSHIM opened #750 "[오류] p.357 배포 오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:
배포 도중 오류가 나서 질문합니다.

![image](https://user-images.githubusercontent.com/54768521/141444645-a3643b78-5ca7-4e9d-9a32-e033576789aa.png)
bu

[2021-11-14 14:04] hohyunjun commented on #2
저는 아래와 같은 메시지의 에러가 났었는데, 구글링 하다보니 jdk16 과 롬복과의 호환 관련된 문제였습니다.
java.lang.IllegalAccessError: class lombok.javac.apt.LombokProcessor (in unnamed module @0x6f3d6636) ~

결론적으로, 롬복을 1.18.20으로 명시해 주었더니 문제 해결되었습니다.
build.gradle 에서 dependencies 를 아래와 같이 수정하였습니다.

dependencies {

    implementation('org.springframework.boot:spring-boot-starter-web')
    implementation('org.projectlombok:lombok')
    annota

[2021-11-18 01:51] breadmk opened #751 "[오류] p.323~p.327"
### 어떤 오류인가요?

오류설명: Travis-ci.com 연동이 안 되요!

![image](https://user-images.githubusercontent.com/74883958/142336252-1a9db8eb-c140-4a13-8684-5e0b3a9c7f6f.png)

책과 다르게 일단 active 바가 없는 부분도 있고,

![image](https://user-images.githubusercontent.com/74883958/142336324-a7065d62-e663-486e-9d83-c004afa98760.png)

일단 세팅에는 이렇게 되어있습니다.

걸리는 문제는

![image](https://user-images.githubusercontent.com/74883958/142336

[2021-11-18 01:56] breadmk commented on #749
404에러면 url 에러같은데 HelloController.java에 매핑이

    @GetMapping("/hello")
    public String hello(){
        return "hello";
    }

잘되어있는지 확인 한 번 더 해보시면 좋을거같아요.

[2021-11-18 02:57] breadmk commented on #751
자문자답 합니다. Travis 에서 Free 요금제로 usd1.0 결제후에 해결되었습니다.

[2021-11-18 04:20] breadmk commented on #245
2가지를 변경했는데 무엇때문에 해결됐는지 모르겠습니다만

그 중의 하나는

implementation 'org.springframework.boot:spring-boot-starter-test'
이 소스를
testImplementation 'org.springframework.boot:spring-boot-starter-test'
변경하였습니다.

위의 @ssw207 님의 내용을 참고해서 변경하였으며,

2번째는

인프런의 김영한 님의 답변을 참고했습니다.
https://www.inflearn.com/questions/60157
같은 에러현상입니다.

org.springframework.transaction.CannotCreateTransactionException: Could not open JPA Ent

[2021-11-18 07:13] blead123 commented on #549
저는 바꿔봤는데 계속 로딩 되고 있네요
다른방법은 없을까요?

[2021-11-18 09:09] ghksrl6582 commented on #549
같은 증상으로 이게 잘못된건지 원래 이런건지 조차 헷갈렸는데 답 얻어갑니다~

[2021-11-20 14:44] sikutisa commented on #715
@thguss 혹시 어떻게 해결하셨는지 여쭤봐도 될까요?

[2021-11-22 14:56] sikutisa commented on #715
Posts.java에서 title과 content의 nullarble을 true로 바꿔주니 해결되긴 하는데, 옳은 방법인지는 모르겠네요.

[2021-11-24 04:44] sak2km commented on #564
말씀대로 도메인 파고 Route53 name server 등록하니 잘 되네요. 감사합니다.

[2021-11-24 18:03] dhkim1522 commented on #749
![hello](https://user-images.githubusercontent.com/93244264/143291457-61379aa9-08f8-40bc-82c0-fea74c700373.jpg)

HelloController.java에 작성해주신 코드와 동일하게 잘 작성되어있습니다..
메인 실행시  localhost:8080/hello는 잘 작동하는데 단위 테스트에서 테스트 부분이 자꾸 에러가 발생하네요.. 원인을 모르겠습니다.

[2021-11-25 07:43] sun912 opened #752 "[오류] p.109 PostsApiControllerTest save test error"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: PostMapping으로도 했는데 왜 계속 에러가 나는지 못찾겠습니다..

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL:

[2021-11-25 07:56] sun912 commented on #752
죄송합니다 PostsApiController에서 annotation을 @Controller로 해놓고 있었네요..ㅠㅠ

[2021-11-25 07:56] #752 closed, assigned to jojoldu

[2021-11-26 01:42] breadmk commented on #749
일단 저 코드로 하시면 에러가 날 순 있는데,
return이 hello! <-- 이고
테스트 기대값은 hello <-- 이기 때문에;

Response content expected:<hello> but was:<hello!>
Expected :hello
Actual   :hello!

이렇게 떨어져야 맞는데, 404 에러라는건

/hello 라는 주소지에 도달조차 하지 못 했다는 에러코드라,

getmapping 주소를  /test  나 이런식으로 바꾸셔서도 같은 에러인지 확인해보는게 좋을거같아요.
똑같이 404에러라면 매핑 자체가 잘 못 된거라서 테스트나 컨트롤러 코드에 문제가 없어도 발생할수있어서요.

[2021-11-27 14:09] parksy805 commented on #521
혹시 8080port 연결이 안되는거면 강제로 바꿔주셔야할거 같습니다.
저는 아래 방법으로 해결하긴 했는데 아래 방법도 안되면 저도 모르겠네요ㅠㅠ

1. 최상단메뉴 Run - Edit Configurations
2. Environment variables 추가
   - Name : server.port
   - value : 8070(원하는 포트번호)

[2021-11-28 16:26] parksy805 opened #753 "[오류] p.115 Posts_수정된다() 테스트 오류가 납니다"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 5쇄 책으로 진행중인데 'Posts_등록된다'함수까지는 테스트가 잘되고 'Posts_수정된다'함수 테스트 오류가 납니다.
다른 이슈들 참고해서 읽어봤는데도 진행이 안되네요.

[code]

### 프로젝트 주소

Github에 오류가 난 프로

[2021-11-28 16:45] parksy805 commented on #753
자문자답합니다... 함수 하나를 놓쳤네요;;

[2021-11-30 12:24] takingtheback commented on #719
그레이들 7.1 버전에선 명령어가 달라지네요.

compile -> implementation
testCompile -> testImplementation

로 적어주시면 정상 작동됩니다.

[2021-12-04 06:24] wlwlsus commented on #264
@parker1609
에러 로그는 어디서 확인하나요?

[2021-12-09 06:03] nykim12 opened #754 "[오류] p.131"
### 어떤 오류인가요?

오류 설명 : mustache 설치 후 resource 폴더에 나타나지 않습니다ㅠㅠ

### 프로젝트 주소

* Github URL : https://github.com/nykim12/freelec-springboot2-webservice

### 오류 로그

![mustache](https://user-images.githubusercontent.com/91547976/145343391-b9d91cf2-ce8b-45e4-8624-9cbc2e4e154f.png)
![mustache2](https://user-images.githubusercontent.com/91547976/145343395-e8e447f3-d224-4eb0-b626-e65f7545af18.png)

[2021-12-09 06:23] nykim12 commented on #754
파일 자체적으로 만들어서 해결했습니다..ㅎㅎ

[2021-12-10 07:51] nykim12 opened #755 "[오류] p.144 [등록] 버튼 클릭시 무반응"
### 어떤 오류인가요?

오류설명 : [등록] 버튼 클릭시 무반응입니다ㅠㅠ

### 프로젝트 주소

* Github URL : https://github.com/nykim12/freelec-springboot2-webservice

### 오류 로그

![p144 등록 버튼 무반응](https://user-images.githubusercontent.com/91547976/145537247-34d177fc-8b23-4e74-8cd0-85e787ab9776.PNG)

[2021-12-10 17:28] ghost commented on #420
작성자님 감사합니다.
들여쓰기 하나하나 신경쓰면서 하는게 정말 중요하군요.
에러 수정과 소중한 교훈 알아갑니다.

[2021-12-14 04:00] #576 closed, assigned to nobody

[2021-12-18 19:16] yeomyaloo opened #756 "[오류] p.57 class lombok.javac.apt.LombokProcessor문제"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: cannot resolve method로 run  부분에 빨간 표시로 나오고 실행시키면
class lombok.javac.apt.LombokProcessor이란 오류가 뜹니다!
찾아보니 lombok 호환 문제라는데 어떻게 해결해야 할지를 모르

[2021-12-22 13:22] malamute10 opened #757 "[오류] p.285 DB Navigator의 연결오류가 납니다ㅠㅠ"
<img width="1078" alt="스크린샷 2021-12-22 오후 10 06 47" src="https://user-images.githubusercontent.com/48460876/147097710-b521d3b4-07db-4e85-916b-5e7b4bcaf743.png">

<img width="827" alt="스크린샷 2021-12-22 오후 10 10 53" src="https://user-images.githubusercontent.com/48460876/147099131-879df524-7fb2-4faa-b14a-3d32ad1d6ba9.png">

<img width="1001" alt="스크린샷 2021-12-22 오후 10 07 53" s

[2021-12-22 13:55] squareyun commented on #585
저같은 경우는 모든 것을 다 확인해보았지만,

Application.java 파일에서
@SpringBootApplication을 @SpringBootConfiguration으로 잘못 자동완성 작성했더라구요.

혹시나 저같은 분도 계실까봐 코멘트 작성합니다😥

[2021-12-23 13:03] MoingXTwice commented on #755
index.js 만드셨나요?

[2021-12-23 13:18] MoingXTwice commented on #757
이것때문에 고생하시는 분들이 많다고 하네요

https://github.com/jojoldu/freelec-springboot2-webservice/issues/687

보시고 db navigator 말고 인텔리제이 우측에있는 database 로 해보시길 권장합니다

[2021-12-23 14:56] nykim12 commented on #755
네ㅠㅠ

[2021-12-24 06:42] MoingXTwice commented on #755
footer.mustache 에서 index.js 를 추가한 경로가 <script src="/static/js/app/index.js"></script> 으로 되어있으시네요
/static을 빼시고
<script src="/js/app/index.js"></script>
로 수정해보시길 바랍니다

[2021-12-25 14:50] 3210439 commented on #757
저도 이문제 때문에 엄청 고생했는데 위에분 말대로 db navigator는 안되고 우측 database연결로 하면 되더라고요

[2021-12-29 00:31] SuperRPM commented on #707
static.js.app으로 생성했다가 static/js/app으로 다시 생성하고 바로 해결됐습니다. 감사합니다

[2021-12-30 14:27] tipsyboy commented on #757
우측 database가 안보이는데, 다른 문제가 있는건가요...??  View | Tools Windows 에도 없네요 ㅠㅠ

[2021-12-31 13:41] #755 closed, assigned to jojoldu

[2022-01-01 08:36] 3210439 commented on #724
글이 많은 도움이 되었습니다!! 감사합니다.

[2022-01-02 07:16] zooxop commented on #649
저도 동일한 오류때문에 찾다가 여기까지 왔고, 해결한 뒤 글 남깁니다.

build.gradle 의 dependency 영역에
  testCompile('org.springframework.boot:spring-boot-starter-mustache');
을 추가해줬더니 문제가 해결되었습니다.

저의 경우는,
  complie('org.springframework.boot:spring-boot-starter-mustache');
만 추가해놓았더니, 톰캣을 실행해서 직접 localhost:8080/ 으로 들어가봤을때는 잘 됐는데, 테스트에서만 오류가 발생하는 상황이었습니다.

[2022-01-02 11:55] stoneTiger0912 opened #758 "[오류] p.109"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: RestTemplate가 없다고 합니다.

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL: https://github.co

[2022-01-06 09:38] 59-devv opened #759 "배포 시 EC2 CPU 점유율이 99.7%까지 상승합니다."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

VSC Push를 통해서 travis ci가 실행되고 배포까지 정상적으로 진행이 되고 있는데요,

배포 작업 시, CPU 점유율이 99.7%까지 상승하고
EC2 전체 CPU사용이 100%를 넘어가는 현상이 발생합니다.
간헐적으로 서버가 완전 멈춰서 재부