[2022-01-07 00:52] YouJunSoo opened #760 "[오류] p.304"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: P304 외부 시큐리티 파일 등록하기 등록 후 deploy.sh 가 실행이 안됩니다.

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Gith

[2022-01-07 01:42] #760 closed, assigned to jojoldu

[2022-01-07 11:03] ddongjunn opened #761 "[오류] [실습문의] 110p.PostApiControllerTest 등록 테스트"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: Error while extracting response for type [class java.lang.Long] and content type [application/json;charset=UTF-8]; nested exception is

[2022-01-07 11:15] ddongjunn commented on #761
해결완료했습니다
url 부분 마지막에 / 입력을 안했네요..
죄송합니다.

[2022-01-07 14:51] way4425 commented on #631
공유 감사합니다 ㅜㅜ
덕분에 해결했습니다.

[2022-01-08 07:16] tipsyboy commented on #631
감사합니다.

[2022-01-10 12:20] azzyjk opened #762 "lombok 의존성 추가 방식 변경 요청"
안녕하세요 책을 보며 최신 gradle로 수정하면서 실습해보고 있는 독자입니다.
gradle 관련 공부를 하다가 알게된 것이 있어서 이슈 남겨봅니다.

gradle 버전이 올라오게 되면서 `compile`이 `implementation`으로 변경되었다고 합니다.
그리고 compile 시에만 추가되는 `compileOnly` runtime 시에만 추가되는 `runtimeOnly`라는 의존성 추가 방식이 존재한다고 합니다.
제가 알기로 `lombok`은 compile 시에만 필요하고 공식 사이트에서도 gradle에 추가할 때  `compileOnly`를 사용하라 되어있습니다.
branch `version/2020-12-11` 의 `build.gradle`에 존재하는 `implementation` 대신 `comp

[2022-01-11 10:47] iamhoonpark opened #763 "[오류] [실습문의] p.140 (부제: index.js파일이 적용되지 않는 이슈)"
기존에 올라온 질문이 확인했지만, 해당 내용과 유사한 사항이 없어 질문 남깁니다.

### 어떤 오류인가요?

오류설명:
본 책의 140페이지와 같이 '등록' 버튼 요소를 클릭하게 되면, index.js 내부 함수 save를 인식하여,
input요소와 textarea요소에 입력된 값이 DB에 저장되는 것으로 알고있습니다.
그러나, 저는 '등록' 버튼을 눌러도 어떠한 동작을 확인 할 수 없어 질문을 남깁니다.
(h2-console을 확인 완료 / console에도 에러가 따로 발생하지 않습니다)

### 프로젝트 주소

* Github URL: https://github.com/iamhoonpark/springboot-webservice-practice

### 오류 로그

어떤 오류인지 캡쳐해주세요.
![제

[2022-01-12 07:06] sunyoong commented on #395
진짜 감사합니다 ㅠㅠ 저도 저것땜에 이틀을 고생했는데.... 덕분에 해결했습니다 ㅠㅠㅠㅠ 감사합니다ㅠㅠㅠㅠㅠㅠ

[2022-01-12 12:10] hyojhand opened #764 "[오류] p.297 gradlew test"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 안녕하세요 좋은 책과 함께 springboot 와 AWS 공부중입니다.
이전까지 이슈들을 잘 해결하면서 진행해왔는데
297페이지에 gradlew test를 진행하려 하는데 이러한 에러가 뜹니다.
<img width="565" alt="grad

[2022-01-15 10:05] megaseunghan commented on #744
감사합니다!

[2022-01-16 14:13] Bongseop-Kim commented on #719
그래들 버전 변경으로 인한 변경사항 살펴보세요

[2022-01-16 20:47] Chunyounghawn commented on #757
어디있죠? 우측 database가..? 저는 없는데

[2022-01-17 05:20] LIMON029 commented on #750
혹시 directory 수정해보셨나요??
.travis.yml 파일에서 cache부분에서 띄어쓰기가 없어야 하는 데 확인해보니까 있더라구요!
`'$HOME/ .m2/repository'`은 `'$HOME/.m2/repository'`로
`'$HOME/ .gradle'`은 `'$HOME/.gradle'`로 바뀌어야할 것 같습니다.

[2022-01-17 06:19] LIMON029 commented on #561
저 같은 경우에는 전에 실행되던 애플리케이션이 제대로 종료되지 않아서 수정 사항이 반영이 안 되더라구요....deploy.sh파일에서 pid 찾는 부분 수정하고 해결했습니다

[2022-01-17 13:19] SUHYUNSHIM commented on #750
@LIMON029
아........ 그게 유일한 오타인것 같네요
그 와중에 travis가 build를 혼자서 계속 했나봅니다. 크레딧을 다써서 결제하라는 알림이...
나중에 깃헙 계정 새로 파서 시도해봐야겠습니다.  감사합니다!!😊

[2022-01-17 13:19] #750 closed, assigned to jojoldu

[2022-01-17 13:39] Bangseungjae opened #765 "[오류] p.311 8080연결은 되는데 화이트페이지에러 나는 경우"
### 어떤 오류인가요?

오류설명: deploy.sh는 통과하고 vim nuhup.out으로 결과를 보면 **Tomcat initialized with port(s): 8080 (http)**는 나오는데
**8080(http) with context path ' '** 는 안나옵니다.

curl localhost:8080도 **{"timestamp":"2022-01-18T09:04:31.766+00:00","status":404,"error":"Not Found","path":"/"}** 라고 나옵니다.

### 오류 로그

### 보안그룹

![image](https://user-images.githubusercontent.com/87268026/149906067-2af26e1d-187b-4cb8-8a9

[2022-01-17 17:19] Chunyounghawn commented on #485
정말 감사합니다. 포트바꾸거나 깃 초기화 할뻔했었는데 글 써주신덕분에 시간 많이줄였습니다.

[2022-01-18 06:11] Bangseaungjae commented on #765
책에 있는 소스코드랑 깃에 script파일에있는 소스코드랑 좀 다른데 깃에있는 소스코드로 수정하니 연결은 되네요! 그런데 404에러가 나오네요....ㅋㅋㅋ

[2022-01-18 07:42] blackarea commented on #80
감사합니다! 덕분에 codedeploy-agent 로그 파일이 있는 것을 알게되어서 문제 해결했습니다.
저 같은 경우는 appspec.yml 파일 이름 오타였네요..

[2022-01-18 13:21] blackarea commented on #668
감사합니다 덕분에 문제 해결했습니다!
hostname과 홈페이지가 변경되지 않는게 무슨 상관인지는 아직 모르겠지만요..

[2022-01-19 11:53] MoingXTwice commented on #757
![스크린샷 2022-01-19 오후 8 52 21](https://user-images.githubusercontent.com/79398383/150124696-1a1e33b6-f12a-4eef-9c1a-b09534de249d.png)
저 버튼 클릭하면 나오실거에요

[2022-01-21 06:14] ShineStarHan commented on #757
혹시 못하신분 계실까봐 남겨요 ㅠㅠ(백신휴가동안 6시간 삽질했습니다..)

![화면 캡처 2022-01-21 150547](https://user-images.githubusercontent.com/58577741/150475118-f018169c-2843-4dcd-8a23-16890b3c4654.png)

일단 저는 2021.3월 버젼 인텔리제이 커뮤니티 버젼쓰고있고 위에 분들이말한 Database 창이 없었습니다.
찾아보니까 포트번호 탓인가 해서 바꾸고 난리부르스 추다가
구글링하다가 mariadb과 mysql의 드라이버 관련 문제일수도 있겠다싶어서
마리아디비 mariadb-java-client-2.7.3.jar 이름의 드라이버 설치하고
(링크 : https://downloads.mariadb.com/Co

[2022-01-21 11:33] Bangseungjae commented on #765
아직 해결 못했습니다 ㄷ

[2022-01-22 15:42] hanhyur commented on #719
https://docs.gradle.org/current/userguide/dependency_management_for_java_projects.html#sec:configurations_java_tutorial

최신 버전에서는 대부분 implementation을 사용하니 implementation으로 변경하시면 설정이 되실겁니다.

[2022-01-24 10:15] bom04 opened #766 "[오류] p.358~365 배포 자동화에서 깃허브 커밋시 발생하는 /bin/bash^M: bad interpreter: No such file or directory"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:

p.358~365에 적혀있는 배포 자동화 코드를 입력하고 깃허브에 커밋하면 Trevis CI에서 에러가 발생하는 문제 발생.
그래서 vim /opt/codedeploy-agent/deployment-root/deployment-logs/co

[2022-01-24 10:16] #766 closed, assigned to jojoldu

[2022-01-25 13:14] heygwangjin commented on #212
덕분에 해결 했습니다. 감사합니다!

[2022-01-27 05:59] marudx commented on #398
### p.156 그림 4-18 오류 (3쇄)

그림내에 진행 내용상 삭제 버튼이 있으면 안됨!

[2022-01-27 09:44] cscim918 commented on #742
혹시 build.gradle에서 springBootVersion = '2.2.0. RELEASE'로도 바꿔보셨나요? 저는 이걸로 해결했습니다!

[2022-01-27 13:31] #765 closed, assigned to jojoldu

[2022-02-01 04:29] yujung7768903 opened #767 "[오류] 116p. h2-console 접속 오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!
검색해봤습니다. application.properties가 src > main > resources 안에 위치하고, 최신 버전의 코드로 작성하였습니다.
[code]

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: http://localhost:8080/h2-console이 접속이 안됩니다.

[2022-02-01 16:32] KwonDoHyuk commented on #387
YooInKeun 와 덕분에 문제 해결합니다 감사합니다

[2022-02-02 12:48] Corollary-kor commented on #738
저도 오류가나서

        Long updateId = savedPosts.getId();
        String expectedTitle = "title2";
        String expectedContent = "content2";

여기서
title2 ->title
content2 -> content
로 바꿔서 진행하니 해결되긴했습니다.
에러 검증하는거 같은데 왜 문자열이 다른걸 예제로 넣었는지 잘 모르겠네요.

[2022-02-04 06:38] minju7346 opened #768 "[오류] p.110"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: NullPointerException이 발생합니다.

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL: https://git

[2022-02-07 05:42] minju7346 commented on #768
version충돌이였습니다 ㅠㅠ

[2022-02-07 05:42] #768 closed, assigned to jojoldu

[2022-02-07 11:54] minju7346 commented on #305
감사합니다....

[2022-02-07 13:27] cookienc commented on #657
저도 같은 오류인데 해결하셨나요??

[2022-02-07 21:41] parker1609 commented on #264
@wlwlsus
인텔리제이에서 실행 버튼을 누르면 콘솔창이 열리면서 메시지들이 출력되는데, 이를 로그라고 부릅니다. (이 글, 위에서 4번째 사진 참고)
에러가 발생하면 해당 콘솔창에서 에러에 관한 로그를 확인할 수 있습니다!

[2022-02-07 21:51] wlwlsus commented on #264
@parker1609
아 인텔리제이 로그 말고 배포 후 에러 로그를 말했던 것 같습니다. 이상하게 ec2에서 로그 파일에 제대로 에러가 안 쌓이더라구요! 이 문제는 다른 방법으로 해결했습니다. 감사합니다:)

[2022-02-10 15:50] ddongjunn commented on #626
혹시 해결하셨나요!?

[2022-02-11 02:25] Corollary-kor commented on #757
community 버전 쓰시는 분들은 database탭이 따로 없는 걸로 보입니다.
그래서 다른 DB 툴을 사용하여 접속하면 잘됩니다.
저는 DBeaver를 이용하여 잘 활용했습니다.
이유는 무료버전이라 mariaDB 지원을 안하는 것이 가장 유력해 보입니다.

[2022-02-11 04:12] Corollary-kor commented on #767
RDS 실행이 되어 있는지 RDS 엔드포인트주소가 정확히 입력이 되어 있는지 확인해보시는게 좋을것같아요

[2022-02-11 06:02] Corollary-kor commented on #764
JAVA_HOME 환경변수가 잘못된것 같습니다.
보통 ../bin/javac 이런식으로 끝나는데 질문자분은 Cotents/Home/ 으로 되어있네요
java 설치 경로를 which java로 확인하여 해당경로를 환경변수에 입력하시면 될것같네요

[2022-02-14 06:49] Chunyounghawn opened #769 "[오류] 모든 실습완료후 배포오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:

모든 실습완료 후 배포중인 상태입니다.

그런데 인스턴트 재부팅 이후 저렇게 JetBrains 아이디랑 로그인하라고 로그에 찍히더라구요.
아마 db연결할때 인텔리제이에서 db설정해줘서 그런거같은데 아닌거같기도하고...잘 모르겠어요

이럴때는

[2022-02-14 16:41] Chunyounghawn commented on #769
인스턴트 재부팅후 엔진엑스 실행안한 탓이였습니다. 제 실수였네요...이슈삭제부탁드립니다.

[2022-02-18 11:51] squareyun opened #770 "[오류] travis CI disabled 이슈"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:

한달 전 실습을 진행하다가, 마무리를 짓지 못하고 조금 남겨두었습니다.

그러다가 한달 뒤에 다시 실습을 진행하는데, 기존에는 push했을 때 travis CI 에서 자동으로 빌드가 되었는데 갑자기 다음과 같은 에러가 뜨면서 되지 않더군요.

[2022-02-20 12:26] s-ryuri commented on #678
@3bgdragon 안녕하세요 저도 0개의 일치하는 고유 인스턴스가 뜨는 데 해결방법을 알 수 있을까요?

[2022-02-20 12:26] s-ryuri commented on #678
@3bgdragon 올려주신 블로그는 이제 볼 수가 없어서 궁금하네요

[2022-02-21 16:33] Acver14 opened #771 "[오류] p.394 health.sh 실행 안됨"
### 어떤 오류인가요?

오류설명: travis  빌드 done 결과 나오는 걸 확인하고 vim codedeploy-agent-deployments.log을 통해 로그를 확인하였는데 ValidateService부터 실행되지 않은 것으로 보입니다.

### 프로젝트 주소
* Github URL: https://github.com/Acver14/springbootStudy

### 오류 로그
<img width="1063" alt="image" src="https://user-images.githubusercontent.com/49238895/154994994-09e29450-aeb7-431e-b552-62096a23f7e9.png">
<img width="563" alt="image" src="https:/

[2022-02-23 05:39] SuperRPM commented on #723
같은 문제를 겪고있는데 WebConfig파일이 깃에 안올라간 것과 어떤관련이 있는지 잘 모르겠습니다.
혹시 어떻게 해결하셨는지 알려주실 수 있을까요?

[2022-02-23 05:46] 93TEI commented on #723
@SuperRPM 저도 잘은 모르지만 당시 springboot에서 깃헙으로 플젝을 다 올리고 그랬었는데,
WebConfig파일만 깃헙에 올라가지 않도록 설정이 되어있더라구요.
그래서 파일명이 빨간색이었습니다. 수동으로 깃헙에 푸시하고 나니 바로 해결됐었습니다.
아마 같은 문제를 겪고 계시지만 저랑은 다른 이유에서 난 오류같은데 빠른 시일 내 해결되길 바랍니다!

[2022-02-23 10:08] devmizz opened #772 "[오류] p.304 ClientRegistrationRepository 오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:책의 설명을 따라 application-oauth.properties 파일도 등록하였고, deploy.sh 파일도 모두 수정했으나 여전히 ClientRegistrationRepository 에러가 발생합니다. 로컬에서는 잘 실행됩니다.

###

[2022-02-24 04:06] jyos1426 commented on #174
헐 난 아니겠지..했는데... 저도...

[2022-02-25 14:18] kchung1995 commented on #80
저도 비슷한 경우를 발견했는데 해결했습니다!
appspec.yml 파일의 위치가 잘못됐었네요 ㅠㅠ
appspec.yml이 존재하지 않거나 내용에 문제가 있는 경우에 해당 deploy error가 나오나 봅니다

[2022-02-26 13:41] ironmask431 opened #773 "[오류] p.302 ./deploy.sh 실행 시 nohup: command not found 오류 발생"
### 어떤 오류인가요?

오류설명:  302p. ./deploy.sh 실행 시 nohup: command not found 오류 발생

### 프로젝트 주소

* Github URL:  https://github.com/ironmask431/springboot_aws_01

### 오류 로그
![008](https://user-images.githubusercontent.com/48856906/155845355-b4899163-ecfc-4304-8690-a777cb87f18c.PNG)

AWS EC2 linux2 서버로 진행하고 있는데
nohub 이라는 명령어 자체를 인식못하는 것 같습니다.

nohub --help 라고해도 저렇게 나오네요
별도로 nohub 을 설치해줘야 하는걸까요?

[2022-02-27 02:22] ironmask431 commented on #773
죄송합니다. nohub 이라고 입력했었네요..;;; nohup 인데..!! ㄷㄷㄷ;;;

[2022-02-27 02:22] #773 closed, assigned to jojoldu

[2022-03-01 05:27] SuperRPM opened #774 "[오류] p.215"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 메인페이지_로딩이 실패로 뜹니다.

테스트가 아닌 메인을 실행시키면 정상적으로 화면이 나타납니다.
오류 로그에서 html태그를 보여줘서 어디서 어떻게 문제가 된건지 잘 파악을 못하고 있습니다.
오류가 나는 부분이
at org.junit.run

[2022-03-01 09:33] dyno1981 opened #775 "[오류] p.357 배포 그룹 배포 내역이 없습니다."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

### 어떤 오류인가요?

오류설명:
357 배포 그룹 배포 내역이 갱신이 안됩니다.
혹시나해서 어플리케이션 삭제후 다시 생성 배포그룹도 다시 만들었는데 배포내역이 없네요.
그런데 /home/ec2-user/app/step2/zip/ 경로에는 travis 빌드성공 시간에 맞게 파일이 갱신되어 생성되어있습니다.

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL: https://github.com/yuntaehee/freelec-springboot2-webservice

[2022-03-01 10:31] dyno1981 commented on #775
서울이 아니라 버지니아 가있었네요. 민망스럽습니다.

[2022-03-01 10:31] #775 closed, assigned to jojoldu

[2022-03-02 05:36] Pearlmoon997 opened #776 "[오류] p.63 테스트 코드 오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:
이슈들 읽어보고 gradle버전도 바꿔보고 다 했는데 안되네요..
### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL: http

[2022-03-02 05:49] Pearlmoon997 commented on #776
Resultmatchers를 잘못 임포트했네여 해결했습니다!

[2022-03-02 05:49] #776 closed, assigned to jojoldu

[2022-03-02 19:51] HarryJhin opened #777 "좋은 책 써주셔서 감사합니다."
강의 안 보고 책만 보고 따라가는 중인데 천천히 끝까지 마무리 하겠습니다.

나름의 노력?이라고 해야 할지 ㅎㅎ

4장 거의 다 왔는데 커밋이 57개네요

<https://github.com/HarryJhin/springboot-demo>

[2022-03-03 06:35] hwanld opened #778 "[오류] p.115"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: p115 테스트 코드 _수정된다 메소드 실행 오류
책 내용을 바탕으로 다른 api를 직접 제작해 보고 있는데, 계속해서 오류가 발생합니다ㅠ
![image](https://user-images.githubusercontent.com/844319

[2022-03-03 09:23] hwanld commented on #778
스스로 확인했습니다. 현재 저는 plans라는 객체에서 hash_value라는 변수를 사용했는데, 이 변수를 @Id 로 사용했기 때문에 컨트롤러의 주소 역시 {api/v1/posts/{hash_value}}가 되어야 했습니다! 참고하실 분들 혹시 계시면 참고하시면 좋겠습니다 :)

[2022-03-03 09:23] #778 closed, assigned to jojoldu

[2022-03-03 10:36] jungahzzzang opened #779 "[오류] 297p. gradlew test 컴파일 오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: ec2 프로젝트 clone 받기 챕터에서 git clone까지는 했는데 ./gradlew test 했을 때 계속 build가 failed합니다. ㅠㅠㅠㅠ

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github

[2022-03-04 02:00] jungahzzzang commented on #609
저도 같은 오류가 나는데 혹시 어떻게 해결하셨는지 알 수 있을까요?ㅠㅠㅠ

[2022-03-05 01:57] YEPark745 commented on #741
-Dspring.config.location=classpath:**/application.properties,/home**/ec2-user/app/application-oauth.properties \
        $REPOSITORY/$JAR_NAME 2>&1 &

위에 같이 application.properties,/home 이렇게 빈칸이 없어야 할거 같아요.

[2022-03-06 14:38] shaffer00 commented on #774
index.mustache에서 '스프링부트로 시작하는 웹 서비스 Ver.2'의 '스프링부트'를 '스프링 부트'로 띄어쓰기 해보세요.

[2022-03-07 00:22] hyekyeong123 commented on #168
감사합니다.

[2022-03-08 04:59] jipang9 commented on #442
build.gradle - dependency 부분에  시큐리티를 빌드해서 사용하신게 아닌가 싶네요, 저도 똑같은 오류가 발생하였고, 에러에 대해 검색했는데, 결국 401 에러는 클라이언트 인증 관련 에러인데  저도 그냥 나중에 어차피 시큐리티 사용할 것이니까 미리 빌드해놨던 것이 문제가 됐네요. 시큐리티를 날리고 다시 돌리니까 잘 됩니다. 아직 해결하셨을지 모르겠지만 한 번 확인해보세용...

[2022-03-08 13:25] haessae0 commented on #765
이거 어떻게 해결하셨나요? 저는 계속 화이트라벨이 뜹니다

[2022-03-08 13:25] haessae0 commented on #765
이거 어떻게 해결하셨나요? 저는 계속 화이트라벨이 뜹니다

[2022-03-09 02:23] nobinson20 commented on #484
build.gradle 에서 security 관련된 부분들 주석 처리 해보세요.
OAuth 도요.

[2022-03-09 08:54] Bangseungjae commented on #765
그냥 ec2 인스턴스 다시 만들어서 했더니 어찌어찌 해결됬어요.. 저도 정확한 원인은 잘 모르겠어요.

[2022-03-10 04:54] haessae0 commented on #765
헉 저도 새롭게 만들었는데도 오류가 계속 나던데 ㅠㅠ 답변 감사합니다.

[2022-03-10 05:41] SuperRPM commented on #774
바로 해결됐습니다! 감사합니다.
도와주셔서 감사합니다
그 부분에 띄어쓰기가 잘못된게 왜 문제를 일으켰는지는 아직 잘모르겠습니다. 확인되면 여기에 댓글로 남기겠습니다.

[2022-03-10 09:46] ssinsaram2 opened #780 "[오류] p.316 401 invalid_client 오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:
책 따라서 코드 하나하나 확인해보면서 하고
모르는 부분은 구글링해가면서 했는데 아무리 해봐도 답이 안나옵니다 ㅠㅠ

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수

[2022-03-11 04:30] ssinsaram2 commented on #780
제가 스스로 해결하였습니다. 이슈 닫겠습니다!

[2022-03-11 04:30] #780 closed, assigned to jojoldu

[2022-03-11 07:28] Pearlmoon997 commented on #517
esc누르고 :wq 입력하시면 됩니당

[2022-03-14 02:09] EcoFriendlyAppleSu opened #781 "[오류] p.191p google login oauth2 302 오류 발생"
### 어떤 오류인가요?

오류설명: google oauth2 login 수행 시 발생하는 302 redirect error
application.properties가 아닌 yml로 프로젝트를 수행 했습니다.
index.mustache에 로그인 페이지까진 잘 수행되는데 google login button을 눌렀을 시 다음 로그인으로 넘어가질 못하네요
해답을 찾을 수 없어 질문 남깁니다.
감사합니다.

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL: https://github.com/EcoFriendlyAppleSu/springWebService

### 오류 로그

어떤 오류인지 캡쳐해주세

[2022-03-15 12:20] jiaeYoon commented on #758
`@Autowired`
`private TestRestTemplate restTemplate`
부분 코드가 빠진 것 같습니다.

[2022-03-16 07:28] ShineStarHan commented on #770
유로로 결제해야되는걸로 알고있어요.. 저도 그래서 멘붕,, 다른 오픈소스 CI 도구 알아보고있어요,,

[2022-03-17 07:32] AmSoMad commented on #506
한참봤네요 ... 내가 글읽는법이 잘못됬나.. 싶었다가 ㅋㅋㅋㅋ

[2022-03-20 18:03] ILikeGith commented on #566
main/src/resources 에 application-real-db.properties 를 생성 후 안의 내용을 /app/application-real-db.properties 의 내용이랑 같게 추가하면 되나요 ?

[2022-03-20 18:15] ILikeGith opened #782 "[오류] p.311 외부 properties에 있는 db를 못불러와요"
프로젝트 내부에 application-real-db.properties 를 만들어줘도 계속 h2 디비만 불러옵니다 어떻게 해야할까요 /app 폴더에도 있고 /step1 폴더에도 있습니다

### 프로젝트 주소

* Github URL: https://github.com/thisisisisisisisisisisisisisisisisis/SpringBooot

### 오류 로그

Driver org.mariadb.jdbc.Driver claims to not accept jdbcUrl, jdbc:h2:mem:testdb;MODE=MYSQL

[2022-03-21 12:29] pthahaha commented on #782
@thisisisisisisisisisisisisisisisisis
보시려는지 모르겠으나..
* 우선 jdbcurl에 port 3306이 안보입니다.
spring.datasource.url=jdbc:mariadb://spring-boot-web-service.cpicbksgiuk7.ap-northeast-2.rds.amazonaws.com/spring_boot_web_service
* 블라블라~amazonaws.com:3306/spring_boot_web_service
*  스크립트를 어디에 작성하신지는 모르겠으나..deploy.sh쪽에 보시면 아래와 같이 작성하신 db를 call해주는 부분이 있습니다.
[code]
*  참고로 /home/ec2-user/service/application-real-db.p

[2022-03-21 22:29] ILikeGith commented on #782
답변 감사합니다 ! 다시 시도해보겠습니다 ㅎㅎ 스킙트는 /app/step1/  디렉토리 안에 있어요

[2022-03-22 14:48] ILikeGith commented on #782
@pthahaha

일단 url은 수정했는데 그래도 Driver org.mariadb.jdbc.Driver claims to not accept jdbcUrl, jdbc:h2:mem:testdb;MODE=MYSQL 라는 에러가 계속 뜨네요 ㅜㅜ 어떻게 해야할까요 ? real 로 연결이 안되고 계속 h2 db로 연결을 시도하는것같은데 .. real-db 프로퍼티스는 /app 폴더에 있습니다

[2022-03-23 08:56] #774 closed, assigned to jojoldu

[2022-03-23 13:00] hongjinpark opened #783 "[오류] p.303 jar파일이 계속해서 생성되는 문제"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

### 어떤 오류인가요?

오류설명: jar파일이 계속 생성됩니다

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL: https://github.com/hongjinpark/freelec-springboot2-webservice

### 오류 로그

![image](https://user-images.githubusercontent.com/81549627/159703805-04651f3b-e1eb-49cb-8180-eff09357acfe.png)

deploy.sh
![image](https://user-images.githubusercont

[2022-03-23 13:17] hohyunjun commented on #757
ShineStarHan 님 감사합니다.
저도 이것땜에 이틀정도 삽질했는데 덕분에 해결했네요!

2021년 3월 Community 버전의 Intellij 또는 그 이후 버전을 사용하시는 분들 중에서, DB Navigator 로 Connection 오류가 계속 나시는 경우 아래 그림과 같이 Custom 으로 들어가셔서 위 ShineStarHan 님이 하신 것처럼 셋업해주시면 됩니다! ( 저는 포트번호를 3306 으로 해야 되더라고요 )
![image](https://user-images.githubusercontent.com/28583510/159710182-ef62adcf-8d7b-4671-8fc6-a22a63084e16.png)

[2022-03-24 13:53] hyunaseodev opened #784 "[오류] p.192 구글 로그인 연동 오류"
### 어떤 오류인가요?

오류설명: 구글 로그인 동의 화면에서 계정 선택시 아래와 같이 오류가 발생합니다.
![error_chrome_network](https://user-images.githubusercontent.com/83485264/159931316-3aa01272-652a-41f6-8f32-20cd6d373089.png)

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL: https://github.com/hyunaseodev/freelec-springboot2-webservice

### 오류 로그

어떤 오류인지 캡쳐해주세요.

[2022-03-24 16:49] LeeJin0527 commented on #780
어떻게 해결하셨나요..?

[2022-03-24 22:39] ssinsaram2 commented on #780
@LeeJin0527 저도 하다가 어떻게 되긴 했는데 챕터 8 부분을 다시 반복 했던 거 같습니다.
도움이 되지 못해서 죄송합니다 ㅠㅠ

[2022-03-24 22:46] ssinsaram2 commented on #533
감사합니다!

[2022-03-25 10:59] LeeJin0527 commented on #780
감사합니다 ㅎㅎ

[2022-03-26 02:46] iamkimseunghyun commented on #675
저도 동일한 실수를 해서 몇시간 헤매며 진행을 못했는데 정말 감사합니다. 어떻게 똑같은 실수를 할 수가 있는지 신가하네요^^;

[2022-03-26 09:10] LeeJin0527 commented on #596
혹시 해결하셨나요?

[2022-03-26 12:46] hyunaseodev commented on #784
아래 링크 참고하여 해결하였습니다!!
https://4ngeunlee.tistory.com/369

윈도우 유저 필독!!ㅠㅠ

[2022-03-27 01:42] #784 closed, assigned to jojoldu

[2022-03-27 22:22] choikangjae commented on #174
저도 맨 처음에 따라쳐보고 테스트 잘 통과되길래 그 다음에 다시 다 지우고 생각하면서 따라쳤는데 이 오류뜨길래 뭔가 했더니 저도 vi로 적어놨었네요 ㅋㅋㅋ

[2022-03-28 08:06] Minjun-KANG commented on #571
제 경우도
@PostMapping,
/api/v1/posts'

을 확인했는데 계속해서 에러가 떳고 해당 에러를 쭉 내리다 보면 100p에서 설정해줬던
InnoDB 엔진설정에서 문제가 발생하는 것을 확인했습니다.
따라서 application.properties에서 p100에서 추가했던 내용을 주석처리한다면 테스트를 패스할 수 있었습니다.

주석처리 대신에 아래와 같이 수정했습니다.
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL57Dialect
spring.jpa.properties.hibernate.dialect.storage_engine=innodb
spring.datasource.hik

[2022-03-31 07:45] seungDuru opened #785 "[오류] p.311 배포가 되지 않습니다."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

### 어떤 오류인가요?

오류설명: 책에서 나온데로 따라가서 ./deploy.sh 실행시켰는데 nohup.out에 이상한 문구만 나오고 아무것도 되지 않네요..

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL: https://github.com/SeunWooLim/webservice.git

### 오류 로그

어떤 오류인지 캡쳐해주세요.

- 현재 제가 작성한 deploy.sh
![3](https://user-images.githubusercontent.com/35763807/161004024-70b52b3d-5fec-4add-bda2-

[2022-03-31 19:09] devowov opened #786 "[질문] 구굴,네이버 API 로그인 성공 후 페이지"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: API로그인 시 DB에도 정상적으로 데이터가 들어가지만 화면전환이 자바스크립트 화면이 뜹니다.
어느부분에서 실수가 있던건지 모르겠습니다ㅠ

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주

[2022-04-02 14:06] seungDuru commented on #785
[자답 합니다.]

nohup.out 을 열었을 때 있는 ' no main manifest attribute in '에러 메세지는 jar파일에서 처음 호출할 Main 메소드를 찾지 못했다는 에러라고 합니다.
그리고 spring boot 2.5.0버전 이상부터는 gradle로 빌드를 할때 jar파일이 2개가 생성 된다고합니다.
1. 앱이름.jar
2. 앱이름-plain.jar

배포시에 1번 jar 파일이 배포가 되어야 하는데 2번 plain.jar파일이 배포가 되어 위와 같은 현상이 있었습니다.

그래서 빌드시에 plain.jar 파일이 생성되지 않도록 build.gradle 파일에
jar {
    enabled = false
}
위와 같은 문구를 추가해 주었더니 빌드 시 plain.jar파일이 신규로 생

[2022-04-04 08:15] JoongHyuk-Kim commented on #549
저도 동일 문제로 해결방법을 찾고있었는데 userName을 LoginUserName 으로 변경하니깐 해결됐습니다!
감사합니다!

[2022-04-05 16:18] kth1017 opened #787 "p. 311 혹시 저같이 포트 문제로배포 중 톰캣이 꺼져버리는 분이 있으신가요?"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 배포 중 이런 화면이 뜨면서 더 이상 진행되지 않습니다.

### 프로젝트 주소

https://github.com/kth1017/S1

### 오류 로그

![제목 없음](https://user-images.githubusercontent.

[2022-04-06 07:17] kth1017 commented on #787
해결됐습니다! 혹시 이 오류가 나셔서 보시는 분들은 내 컴퓨터의 포트가 아닌 ec2의 포트가 죽었는지 확인하시길 바랍니다

[2022-04-06 22:55] hendisantika opened #788 "Modified Date is null after saving Post"
Modified Date is null after saving Post

[code]

[2022-04-08 01:03] hwanld opened #789 "[오류] p.287 DB Navigator - Scrip execution error"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL:  https://github.com/wkazxf/Entrip-API

#

[2022-04-08 01:04] hwanld commented on #789
use entrip; 으로 제가 만든 데이터베이스 명과 동일하게 했는데도 같은 오류가 발생합니다,,!

[2022-04-09 15:34] jyoungjin commented on #788
add @EnableJpaAuditing annotation at Application.java

[2022-04-10 09:26] breezeunn commented on #789
1. driver library 를 받아서 custom 옵션으로 db 연결 정보를 구성하시거나
2. db 테스트는 mariaDB 연결을 지원하는 별도 tool 로 테스트 해보시면 되지 않을까 생각합니다

저는 1의 방법으로 해결했습니다

[2022-04-10 12:30] worldnaa commented on #549
저도 같은 문제로 1시간을 넘게 삽질했는데... 위에서 말씀하신 대로 IndexController 랑 index.mustache 에서, 변수명을 userName → loginUserName 으로 바꿨더니 해결 됐습니다 ㅠㅠㅠㅠ 감사합니다!!!

[2022-04-10 12:31] sieun960513 commented on #549
화이팅이에요!!

네이버 메일앱에서 보냈습니다.
-----Original Message-----
보낸사람: ***@***.***>
받는사람: ***@***.***>
참조: ***@***.***>, ***@***.***>
날짜: 2022. 4. 10 오후 9:30:49
제목: Re: [jojoldu/freelec-springboot2-webservice] [오류] p.192 구글로그인시 사용자 이름 오류 (#549)

저도 같은 문제로 1시간을 넘게 삽질했는데... 위에서 말씀하신 대로 IndexController 랑 index.mustache 에서, 변수명을 userName → loginUserName 으로 바꿨더니 해결 됐습니다 ㅠㅠㅠㅠ 감사합니다!!!
—
Reply to this email directl

[2022-04-10 13:52] hwanld commented on #789
우선 당장 배포를 해야 해서 console로 RDS에 로그인 한 후에 쿼리문을 실행해 주었네요.
mariaDB 대신 MySQL로 변경하여서, MySQL 워크벤치 등의 다른 tool을 사용하거나 아님 말씀하신것처럼 driver library를 받아서 사용해 봐야겠습니다.
감사합니다!

[2022-04-13 07:33] merong245 opened #790 "[오류] p.287, p.288 타임존 및 utf8mb4_0900_ai_ci 나오는 문제 해결법"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 따라 하시다가  타임존이 UTC로 되어있거나 utf8mb4_0900_ai_ci 나오는 문제

### 해결법
![image](https://user-images.githubusercontent.com/37497183/163123711-854a2

[2022-04-13 07:33] #790 closed, assigned to jojoldu

[2022-04-20 07:26] worldnaa commented on #703
안녕하세요! 혹시 해결하셨나요? 저도 동일한 오류가 나서.. 무한 삽질중입니다 ㅠㅠㅠ

[2022-04-21 13:59] jeeewon opened #791 "[오류] p.63 HelloControllerTest 오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 스택오버플로우

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL: https://github.com/jeeewon/MemeD

[2022-04-26 12:57] ssjy4974 opened #792 "[./gradlew test 에러??] p.297"
.

[2022-04-28 10:53] sjy4974 commented on #792
인스턴스 삭제 한 뒤새로 생성하니 해결됬습니다.

[2022-04-28 10:53] #792 closed, assigned to jojoldu

[2022-04-29 11:36] haechan29 opened #793 "[오류] p.34"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:
안녕하세요, 올라온 질문 중에서도 찾아보고, 구글링을 해봐도 해결할 수 없어서 질문을 남깁니다.
gradle과 jdk의 버전을 잘 맞춘 듯 한데 buildscript의 dependency에서 springBootVersion을 인식하지 못합니다

[2022-05-01 00:55] iamkimseunghyun commented on #757
22년 4월 모든 프로그램 최신 버전 기준으로 디비 접속 클라이언트를 교재에는 mysql로 했는데 mariadb로 하면 문제 없이 접속 잘 됩니다.

[2022-05-03 14:39] seungeun90 opened #794 "[오류] p.310"
오류설명: application-*-properties 를 못읽어요

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL:
https://github.com/seungeun90/freelec-springboot2-webservice

### 오류 로그
deploy.sh 를 실행하고 나서 build success 는 됐는데 다음 진행이 되지 않아
nohup.out 을 보니
 Unable to access jarfile /home/ec2-user/app/application-oauth.properties,/home/ec2-user/app/application-real-db.properties
 In

[2022-05-05 04:03] jaehyukpyon commented on #767
@yujung7768903 감사합니다. 덕분에 해결했습니다.!

[2022-05-07 09:37] apeltop commented on #793
우선 오타 문제로 보입니다.
캡처 화면으로 보면 springBootVesrion 으로 보입니다. 이를 springBootVersion 으로 변경해주시면 될 것으로 보입니다..!

[2022-05-07 09:44] apeltop commented on #791
우선 문자열 반환이 아닌 함수 호출로 인한 문제로 보여집니다.

밑에는 작성자님의 코드입니다.
hello() 는 함수를 호출하는데 hello 함수 안에서 hello() 사용하면 이는 재귀 함수 즉 자기 자신을 부르는 코드입니다. (혹 저의 설명이 부족하다면 System.out.println("호출") 을 통해 출력이 어떻게 되는지 확인해보시면 더 도움이 되실 것 입니다)
그렇기에 한 번 호출되면 멈추지 않기 때문에 메모리가 부족하여 StackOverflow 가 발생한 것으로 보입니다.

기존 코드
[code]

개선 코드
[code]

[2022-05-08 23:37] khanian commented on #174
controller는 제대로 변경 했지만
@PostMapping("/api/v1/posts")
그래도 나길래 봤더니 ....... 테스트에서
String url = "http://localhost:" + port + "/api/vi/posts"; // ㅋㅋㅋㅋㅋ 이런 만행을....
String url = "http://localhost:" + port + "/api/v1/posts"; //수정해서 성공.
감사합니다. ㅋㅋㅋㅋ

[2022-05-10 03:22] underdarks commented on #794
![image](https://user-images.githubusercontent.com/41244406/167536180-f9c45d95-4b51-42d2-a56e-87b907fca516.png)

도움이 되실지 모르겠지만 저는 classpath 대신에 optional을 사용해서 문제를 해결하엿습니다.

[2022-05-19 08:29] ratellll opened #795 "[오류] p.285 RDS데이터베이스와 인텔리제이 연결 오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:RDS 데이터베이스와 인텔리제이 연결이 안됩니다

책에 나온대로 제대로 진행했고 보안그룹도 문제가 없는데 자꾸 저런식으로 뜨네요.. 커뮤니티버전이라서 저 데이터베이스 플러그인밖에 사용을 못하여 저것ㅁ만 사용중입니다
### 프로젝트 주소

Git

[2022-05-19 15:19] seungeun90 commented on #794
저는 이 방법으로 해도 동일한 오류가 발생하네요 ㅠ 답변 감사합니다.

[2022-05-20 11:02] ratellll commented on #757
[ShineStarHan]님 해결 방법처럼 했는떼 밑에 드라이버칸에 아무것도안뜨는데 이건 어찌해야하나요 ㅠ
<img width="811" alt="스크린샷 2022-05-20 오후 8 01 59" src="https://user-images.githubusercontent.com/93208600/169514749-0028fa55-d4fd-4a23-b093-58b7822a59a4.png">

빌드에도 추가했는데 아무것도 안뜨네요 ㅠㅠ

[2022-05-20 11:22] ratellll commented on #757
<img width="430" alt="스크린샷 2022-05-20 오후 8 20 10" src="https://user-images.githubusercontent.com/93208600/169517581-1b58a520-f0d8-43d7-944e-d8f22de1187d.png">

세팅 똑같이하하고하는데 이런오류는 어떡하죠... charset 수정하라는데 디테일 들어가서 확인해도 utf8로 제대로 되어있습니다

[2022-05-21 12:06] nh7881 commented on #786
저도 똑같은 오류 발생하고 있어요...ㅠㅠㅠ

해결 방법 아셨나요..??

[2022-05-24 00:13] gdakate commented on #743
혹시 해결하셨나요?
같은 에러가 나서 질문 남깁니다..

[2022-05-26 15:55] YH191 opened #796 "[오류] p.220 excludeFilters로 SecurityConfig.class를 스캔필터에서 제외시켰는데도 스캔하네요 ㅠ"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: excludeFilters로 SecurityConfig.class를 스캔필터에서 제외시켰는데도 스캔하네요 ㅠ
Description:
Parameter 0 of constructor in com.yh.book.springboot.config.a

[2022-05-26 16:37] #796 closed, assigned to jojoldu

[2022-05-28 12:43] YH191 commented on #548
같은 오류 해결해서 댓글 남깁니다.
데이터베이스 - 연결&보안 - VPC 보안 그룹에 접속하려 하는 보안 그룹이 있는지 확인하고 없으면 추가하면 됩니다

[2022-05-28 22:59] leeminju opened #797 "[오류] p.364-365 접속 배포 성공 후 도메인 접속 안됨"
### 어떤 오류인가요?

travis ci, codedeploy배포까지 성공했는데 실행이 안되네요ㅠㅠ 계속 오류 찾고 있지만 안되고 있어요ㅜㅜ

### 프로젝트 주소

* Github URL: https://github.com/leeminju/freelec-springboot2-webservice.git

### 오류 로그

어떤 오류인지 캡쳐해주세요.

  .   ____          _            __ _ _
 /\\ / ___'_ __ _ _(_)_ __  __ _ \ \ \ \
( ( )\___ | '_ | '_| | '_ \/ _` | \ \ \ \
 \\/  ___)| |_)| | | | | || (_| |  ) ) ) )
  '  |____| .__|_| |_|_| |_\__, |

[2022-05-29 05:50] yanghyunchul commented on #795
https://velog.io/@savannah030/DBNavigatorError
db navigator 툴의 문제일 수도 있는 것 같아요
저도 접속이 안되서 mysql workbrench로 접속했더니 접속 되더라구요

[2022-05-29 10:54] ratellll commented on #795
감사합니다 !! 저도 db 플러그인 안쓰고 다른거 쓰니까 넘어가졌습니다!!
-----Original Message-----
From: ***@***.***>
To: ***@***.***>;
Cc: ***@***.***>; ***@***.***>;
Sent: 2022-05-29 (일) 14:50:24 (GMT+09:00)
Subject: Re: [jojoldu/freelec-springboot2-webservice] [오류] p.285 RDS데이터베이스와 인텔리제이 연결 오류 (Issue #795)

***@***.***/DBNavigatorError
db navigator 툴의 문제일 수도 있는 것 같아요
저도 접속이 안되서 mysql workbrench로 접속했더니 접속 되더라구요
—
Reply to th

[2022-05-30 08:39] UWiiZzuBob commented on #763
저도 같은 문제로 해결되지 않고 있습니다...

[2022-05-30 14:30] ratellll opened #798 "[오류] p.395"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 이 전까진 수월하게 됐는데 지막ㅇ에  codeDeploy 로그가 체크가 안되는데.. 혹시 어디쪽이 문제인가요..

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가

[2022-05-31 07:49] ratellll commented on #798
제 설정오류였습니다!

[2022-05-31 07:54] UWiiZzuBob commented on #763
각각의 머스테치 코드 오타 없는지 확인하고
{{>layout/header}}
{{>layout/footer}}가 빠지지 않고
잘 들어가있는지 확인하고나서 문제 해결하였습니다.

[2022-05-31 07:58] UWiiZzuBob commented on #763
처음엔 경로의 문제인줄 알았는데
index.mustache에서
{{>layout/footer}} 입력해주지 않아
index.js가 불러와지지 않는 문제였습니다...

[2022-05-31 09:51] ratellll opened #799 "[오류] p.396 마지막 배포에서 막혔습니다.."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:
엔진엑스 리로드 나오고 아무리 기다려도 저 상태에서 멈춰버리는데.. 해결점ㅁ을 못찾겠ㅅ브니다...

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

[2022-06-01 04:22] leekyungchang commented on #757
### Mysql db 로 해결

mariadb-java-client-2.7.3.jar  X
ShineStarHan께서 알려주신 방법으로 mariadb 연결하려고 했지만
(링크 : https://downloads.mariadb.com/Connectors/java/connector-java-2.7.3/)
주신 링크에서 설치가 되지 않아, 끝 부분에 말씀하신 mariadb -> mysql RDS 데이터베이스 생성 하고
(RDS 생성 관련 블로그 참고 : https://happylulurara.tistory.com/192)

DB Browser에서 연결하니

<img width="395" alt="스크린샷 2022-06-01 오후 1 20 48" src="https://user-images.gith

[2022-06-01 05:38] leekyungchang opened #800 "[오류] p.288 MySQL와 연결을 하였지만, 실행에서 질문이 있습니다."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

**오류설명: MySQL와 연결을 하였지만, 실행에서 질문이 있습니다.**

[code]

<img width="843" alt="스크린샷 2022-06-01 오후 2 26 01" src="https://user-images.githubu

[2022-06-02 04:30] #800 closed, assigned to jojoldu

[2022-06-02 04:33] leekyungchang commented on #800
아 제가 책 내용을 놓친것 같습니다.
그냥 실행이 아닌,
책에서 설명하신 '드래그로 선택한 후 실행하면 된다.'를 실행하니 잘되네요!

[2022-06-08 23:39] yangzzang89 opened #801 "[오류] p.143 index.js 404 Error"
### 어떤 오류인가요?

오류설명: 책에 나와있는 내용대로 footer에 index.js를 가져오는 script 태그를 선언하였으나,
서버를 가동하면 index.js에 대한 404에러가 출력이 됩니다.

프로젝트 클린, 캐시 삭제, 빌드 등 모든 방안을 동원해보고 책의 내용과 상이한지 확인했는데도 안되어 질문 올립니다..

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL: https://github.com/yangzzang89/freelec-springboot2-webservice

### 오류 로그

GET http://localhost:8080/js/app/index.js net:ERR

[2022-06-15 15:57] rladudtjr871 opened #802 "[오류] p.289 Unknown database"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

use 데이터베이스명; 을 치면
Unknown database 라고 뜹니다..

책과 달리 저는 데이터베이스명으로된 Schema도 안 생겼던데 뭐가 문제일까요..

오류설명:

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**

[2022-06-15 15:58] rladudtjr871 commented on #802
![image](https://user-images.githubusercontent.com/84279362/173872472-872c0a08-d298-4a94-bf4e-0028d560eede.png)

[2022-06-16 18:00] chimchak-man commented on #771
해결 하셨을 지 모르겠지만 appspec.yml에서 validateService -> ValidateService 로 수정해보세요
오타가 있으면 실행이 안되더라구요

[2022-06-18 16:08] mini102 opened #803 "[오류] p.161 login 페이지만 나옵니다."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: mustache를 작성하고 게시판 등록/조회/삭제 기능만을 구현한 단계인데, https://localhost:8080/를 주소창에 입력하면 바로 https://localhost:8080/login으로 넘어가 버립니다. 직접 따라하지 않고 이

[2022-06-19 07:58] rkdwlss2 commented on #744
감사합니다~!

[2022-06-21 01:55] aka-nick commented on #803
문제가 너무 광범위하지 않을까요?
하다못해 전체 소스코드에서 어딜 지우셨는지도 알 수 없는데요...

[2022-06-22 13:14] yennie37 opened #804 "[오류] p.38 그레이들버전 낮추려고하면 오류가 납니다"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:  플러그인낫파운드뜨길래 찾아보니 그레이들 버전이 높아서 그렇다해서 낮추려고 터미널에 명령어를 쳤는데 아래와같이 오류가 납니다. 제가 어떻게 하면 될까요?

gradlew : 'gradlew' 용어가 cmdlet, 함수, 스크립트 파일 또는 실

[2022-06-22 16:04] godzilla35 commented on #609
@jungahzzzang  .gitignore 로 제외했던 application-oauth.properties 파일을 ec2에 올려보세요

[2022-06-23 03:27] yennie37 commented on #804
여러방법도전하다가 새로깔아서 해결했습니다... 아직도 무슨 문제인지모르겠지만 재설치짱.... ㅠ

[2022-06-27 06:01] rlarudgkswkd commented on #174
ㅋㅋㅋㅋㅋ다들똑같은 ㅋㅋㅋㅋ v1이랑 vi 정말 사소하지만 중요하네요

[2022-06-28 15:48] gangdodan commented on #754
저도 template 폴더가 자동으로 생성되지 않아서 디렉토리 추가하였습니다.
당연히 package로 생성되는줄 알고 헤맸네요.

[2022-06-29 05:11] #801 closed, assigned to jojoldu

[2022-06-29 05:12] yangzzang89 commented on #801
제가.. 바보같은 실수를 했습니다 ㅠ
디렉토리 구조로 폴더를 선언했어야했는데, 사진만 참고하다보니
static/js/app 이 아닌
static.js.app 을 직접 입력하여 생긴 문제입니다.

[2022-07-05 08:19] kmh0128 opened #805 "[오류] p.62"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:Cannot resolve symbol 'Test'
Cannot resolve symbol 'runner'
Cannot resolve symbol 'RunWith'
Cannot resolve symbol 'Test'
Unused import s

[2022-07-05 09:02] sorrynthx commented on #635
혹시 시큐리티에서 제공하는 로그인 화면이 아닌 커스텀 로그인 화면을 사용하실 경우 아래 코드가 도움 되길 바랍니다.

`package com.dreammonster.ticketmayo.config.auth;

import org.springframework.context.annotation.Bean;
import org.springframework.security.config.annotation.method.configuration.EnableGlobalMethodSecurity;
import org.springframework.security.config.annotation.web.builders.HttpSecurity;
import org.springframework.security.config.anno

[2022-07-05 12:55] kmh0128 commented on #805
해결되었습니다

[2022-07-05 19:34] water-case commented on #586
저도 다른거 모두 정상인데 갱신이 안되길래 1시간 헤메다 java로 수정하니 잘되네요 감사합니다

[2022-07-10 18:34] ItsWard opened #806 "[정보] p.320 ~ 367 CodeDeploy 유료화로 변경되어 GitHubAction으로 변경해 보았습니다."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: CodeDeploy 유료화로 GitHubAction으로 무료 변경

* Github URL: https://github.com/ItsWard/aws-web-service/issues/1

이 문서는 이동욱님 저서 **스프링 부트와 AWS로 혼

[2022-07-11 05:18] buubb opened #807 "[오류] p.144 게시물 등록 오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: static/js/app 에다 index.js를 만들고 오타 없이 실행시켰는데 index.js 파일 위에 ".js files are supported in othe JetBrain IDEs"라고 뜨고 게시물 등록 실행이 안됩니다. (오류는 뜨

[2022-07-14 08:10] longBright opened #808 "[오류] p.310 Access denied for user 'sa'@' 에러"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 배포 시 SQL 에러 발생
MariaDB 사용 시 연결이 잘 안되길래 다른분들 이슈와 포스팅 참조해서 MySQL 사용으로 변경하였습니다.
그런데 아래와 같이 application.properties 에서 설정한 테스트 계정인 'sa' 계정에

[2022-07-14 12:38] longBright commented on #808
AWS 서버의 application-real-db.properties 내용 수정 중에 spring.datasource.username 을 spring.datasource.hikari 로 바꾸어주었더니 해결되었네요...

[2022-07-14 12:38] #808 closed, assigned to jojoldu

[2022-07-15 16:37] nara1030 commented on #353
2년 전 질문이네요. 저도 궁금한데 답을 찾으셨나요...

[2022-07-16 15:16] Pushpull7381 commented on #174
헐 저도 그거때문이었어요,,,, 손가락이 움직이는대로 쳤더니 vi라고 입력해놨네요ㅋㅋㅋㅋㅋㅋㅋ큐ㅠㅠㅠㅠㅠ😭

[2022-07-18 14:09] alittlenation commented on #7
교재에 나와있는대로 하니깐 죄다 그래들 빌드가 안되는데
최신 자료가 있을까요?
아니면 start-io 로 시작해도 될까요 흑

[2022-07-18 14:31] dundegi commented on #757
rds 에서 ec2 연결하느라 보안그룹으로 mysql 연결했었는데, lkc263님이 올려주신 rds 관련 블로그 참고해서  로컬ip랑 보안그룹 두 개를 인바운드 규칙에 추가하니 접속 되었습니다.

[2022-07-18 16:23] karist7 opened #809 "[오류] p.210 네이버 로그인 오류"
[]([기존에](![캡처](https://user-images.githubusercontent.com/49408613/179557214-6fe5b4c5-efbd-47dd-8cbd-5d005a2b5747.PNG))) 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:

### 프로젝트 주소
https:

[2022-07-19 12:28] wndudrla1011 opened #810 "[오류] p.287 RDS와 IntelliJ 연결 후 SQL 실행 오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:
RDS와 연결된 커넥션의 콘솔에서 SQL문 실행 시 script execution error 발생

### 프로젝트 주소

* Github URL: https://github.com/wndudrla1011/bulletinboard-webser

[2022-07-19 18:26] Pushpull7381 commented on #400
오 저도 application-oauth.properties 여기서 오타가있어서 그랬어요!! 감사합니당 :D

[2022-07-20 07:36] wndudrla1011 commented on #487
저도 'set 변수명 = 값' 으로 한 개씩 수정했더니 쿼리가 잘 반영되었어요ㅎㅎ

[2022-07-20 07:37] wndudrla1011 commented on #810
MariaDB -> MySQL 수정 후, 진행했더니 잘 해결되었습니다.

[2022-07-21 05:32] Voyager003 opened #811 "프로젝트 시작 전, gradle setting시 참고사항"
처음 gradle 세팅 시, build.gradle 파일에서 repositories 파일에서
jcenter가 지원을 종료하였기 때문에

repositories {
    mavenCentral()
    jcenter()
}

jcenter에 오류 표시가 나있습니다.

[2022-07-23 03:07] wndudrla1011 opened #812 "[오류 & 질문] p.364-365 배포 후 발생하는 문제 질문"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:
1. EC2 인스턴스 재부팅 후 톰캣이 내려가는 문제
2. 로컬 수정 내용이 즉각 반영되지 않는 문제

### 부가 설명

1. EC2 인스턴스 재부팅 후 톰캣이 내려가는 문제

EC2를 재부팅하거나 작업 장소를 옮기는 등의 이벤트 후에 퍼블

[2022-07-23 17:45] dkswnkk commented on #80
감사합니다. 저도 codedeploy-agent 부분에 로그 파일이 있는 걸 알게 되었고,
마찬가지로 "The specified key does not exist." 부분에서 오류가 났는데 해결하게 되었습니다.

[2022-07-25 08:09] wndudrla1011 commented on #561
혹시 pid 찾는 부분 어떻게 수정하셨는지 알 수 있을까요? 저도 같은 문제로 해결이 되지 않고 있습니다ㅠㅠ
로컬에서 수정했다 하면 nginx도 먹통 되고 수정 내용도 바로 반영되지 않네요..

[2022-07-25 11:15] wndudrla1011 commented on #812
수정이 바로 반영 안되는 문제는 nginx를 사용하고부터 해결된 것 같습니다.  real 배포 환경 하나만 사용할 때는 수정 후 재 배포마다 딜레이가 걸리고 그것 때문에 EC2에 재부팅을 걸다가 딜레이가 길어지는 식으로 문제가 반복됐었습니다. nginx로 배포 환경을 나누고 EC2에서 nginx 시작을 컨트롤하고부터 문제 없이 즉시 반영되는 것 같습니다.

[2022-07-25 23:31] percyfrank opened #813 "[오류] p.297 ./gradlew test 오류 관련 질문입니다!!"
### 어떤 오류인가요?

오류설명: ./gradlew test 실행 시에 다른건 다 통과되는데 WebserviceApplicationTests > initialziataionError FAILED java.lang.Exception
에러가 3번 등장하네요.. 어떤 오류가 있는지 모르겠습니다. 프로젝트의 WebServiceApplicationTests를 없애도 그대로 떠서..

### 프로젝트 주소

* Github URL: https://github.com/percyfrank/myfirst_webservice.git

### 오류 로그

![image](https://user-images.githubusercontent.com/85394884/180891605-ccbfa46a-5193-42c5-8553-4

[2022-07-27 18:45] Imadeveloperrr commented on #781
저도 이럽니다 전부다 코드 하나하나 확인했는대 틀린거 하나 없는대ㅣ

[2022-07-27 18:46] Imadeveloperrr commented on #732
어떻게 해결하셨나요 저도 이럽니다;

[2022-07-28 04:44] GitDaun commented on #6
[오타제보]
PostsService 생성위치가 다릅니다.
p104 에선  패키지가 springboot/service/posts 에 생성하라고 되어있는데
P105에선 제목에 springboot/service 라고 되어있어요

[2022-07-28 05:52] GitDaun opened #814 "[오타 제보] p.104, p.105"
기존에 올라온 제보가 아닌지 먼저 검색해주세요!
아...아이고 중복 이슈네요 죄송합니다...

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 오타
PostsService 생성 패키지 위치가 두번 나오는데  p104, p105에서 서로 다릅니다.

p104 에선 패키지가 springboot/service/posts 에 생성하라고 되어있고
P105에선 제목에 spring

[2022-07-30 06:31] percyfrank opened #815 "[오류] p.319까지 프로젝트 배포 후의 오류"
### 어떤 오류인가요?

오류설명: p.319까지 구글, 네이버 로그인 ec2 연동이후에 연동까진 잘되나, 게시글 등록을 하면 403 error가 나네요...
로컬에서 웹페이지 열었을 때도 같은 오류가 나와서 도대체 어디가 문제인지 모르겠습니다.
관련 테스트는 다 통과합니다. 코드 바꾼거라곤 스프링 부트, Gradle버전 변경 외엔 없는데 왜 안되는지 모르겠네요..
도움 부탁드립니다...

### 프로젝트 주소

* Github URL: https://github.com/percyfrank/myfirst_webservice

### 오류 로그
![image](https://user-images.githubusercontent.com/85394884/181877927-381ee880-550b-4ae8-b26

[2022-08-02 18:45] Imadeveloperrr opened #816 "혹시 못하신분 계실까봐 남겨요 ㅠㅠ(백신휴가동안 6시간 삽질했습니다..)"
진짜 감사합니다 ㅠㅠ 저도 마지막에 포트번호는 3306으로 하니까 되네요!

[2022-08-03 09:00] tlagusejr opened #817 "[오류]116p. 오류는 아니고 참고하실만 한것입니다."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

### 어떤 오류인가요?
오류설명김영한님 강의를 들으면서 따로 h2 db를 설치했었고
h2 db를 켜논 상태에서 jdbc:h2:mem:testdb를 실행했을 경우에 select * from posts;를 실행하면
db가 비어있다고 나와요
h2db를 끄면 잘 되네요. 당연히 h2 db를 실행하고 해야 된다고 생각했어요

[2022-08-03 09:01] #817 closed, assigned to jojoldu

[2022-08-04 15:54] #816 closed, assigned to nobody

[2022-08-04 16:29] Imadeveloperrr commented on #548
원래 아무ㅡ것도 안떠요 그 상태로 그냥 비밀번호치고 엔터누르시면 로그인되요

[2022-08-05 17:11] wonyongChoi05 opened #818 "[오류] p.302 배포스크립트 오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

### 어떤 오류인가요?

오류설명: Error: -jar requires jar file specification
nohup.out 파일에서 이런 에러밖에 발생하지 않습니다. 구글링을 해봐도 별 자료가 없네요;;
#### deploy.sh
<img width="400" alt="스크린샷 2022-08-06 오전 2 07 46" src="https://user-images.githubusercontent.com/94087228/183126827-caee952c-c3fd-4755-bfa0-f9ea12094392.png">

#### deploy.sh 실행
<img width="400" alt="스크린샷 2022-08-06 오전

[2022-08-05 21:30] heoj10272 opened #819 "[오류] p.190 httpSession.getAttribute가 없습니다."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 190 페이지의 `indexController`에서 `userName`을 `model`에 저장하는 코드를 추가할 때, `httpSession.getAttribute`가 사용되는데 `javax.servlet.http.HttpSession`을 i

[2022-08-05 21:38] heoj10272 commented on #819
private final HttpSession httpSession; 선언을 안해줘서 그런거였네요 ... HttpSession인줄 알고 헷갈렸습니다 ㅜㅜㅜ

[2022-08-05 21:38] #819 closed, assigned to jojoldu

[2022-08-06 08:38] heoj10272 opened #820 "[오류] p.199 세션 기능 개선 이후 구글 로그인 안되며 다시 되돌려도 안됩니다."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 갑자기 구글 로그인시 사용자 이름이 출력되지 않고 , 구글 로그인 버튼도 그대로 활성화 되어 있습니다.
글 등록 버튼을 누를시 글을 쓰는 화면으로 전환은 되나 등록하려고 하면 403 오류가 뜹니다.

이를 보았을 때 로그인 자체가 되지 않은

[2022-08-06 08:44] heoj10272 commented on #732
저도 딱 이렇습니다. 어떻게 해결하셨나요?

[2022-08-06 09:09] heoj10272 commented on #820
해결했습니다.
Logged in as: xxx에서 xxx가 로그인한 사용자 이름이 아닌 로컬 사용자 이름으로 나오는 걸 고치기 위해서
`IndexController`, `index.mustache`의 userName을 loginUserName으로 바꾸는 과정을 거쳤었는데, 세션 코드 개선 단계에서 userName 변수를 그대로 다시 기입함으로서 생긴 현상이었습니다.

역시 컴퓨터는 거짓말하지 않네요 ㅎㅎ...

[2022-08-06 13:17] SeolYoungKim commented on #806
와우 감사합니다 선생님 덕분에 진도 문제없이 진행했어요

[2022-08-07 09:06] EricHyun opened #821 "[오류] p.110 입니다 ㅜㅜ"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!
@PostMapping 달아준 상태이고 URL오타 아닌거같은데... 계속 찾아봐도 잘 모르겠어요 Object로 설정안해도 다들 잘 동작하시는거 같던데

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: JSON parse error

### 프로젝트 주소

Github에 오류가 난 프로젝트를

[2022-08-07 17:24] #820 closed, assigned to jojoldu

[2022-08-07 18:50] heoj10272 opened #822 "[오류] p.318 네이버 로그인 후 rds user 테이블에 저장되지 않습니다."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:
IntelliJ의 DBBrowser에서
[code]
![image](https://user-images.githubusercontent.com/89104369/183306560-b6476a89-0270-4494-854c-ae6743537544

[2022-08-07 19:28] heoj10272 commented on #716
해결하셨나요 ?

[2022-08-09 13:50] Imadeveloperrr commented on #729
저도요 아니 조금만 진도나가면 또 오류생기고 좀만 진도 나가면 또 오류생기고 하 ㅡㅡ;

[2022-08-09 22:37] heoj10272 commented on #822
`application-real-db.properties`에서 맨 뒤 RDS 인스턴스의 이름 중 `-`를 `_`로 바꿔야 하네요 ... 해결했습니다.

[2022-08-09 22:37] #822 closed, assigned to jojoldu

[2022-08-11 12:55] onlybj2 commented on #78
책과 동일하게 실습하기 위해서는 최초에 인텔리제이를 설치한 후에 바로 아래 명령어로 버전을 책과 동일하게 맞춰주는것이 좋을 것 같습니다.

gradlew wrapper --gradle-version 4.10.2

[2022-08-19 06:29] Gom3rye commented on #652
혹시 어떻게 해결하셨는지 알려주실 수 있나요? 저도 똑같은 에러가 나서요ㅜㅠ

[2022-08-20 05:11] gangdodan commented on #804
저도 동일한 오류 발생하는데 재설치는 어떻게 하셨나요?

[2022-08-22 12:16] SeolYoungKim opened #823 "[정보 공유] 2022년 08월 기준으로 책과 다른 점들을 정리해보았습니다."
안녕하세요. 독자 중 한명입니다.

저는 책과 다른 버전의 java와 spring boot를 사용하였으며, 버전은 다음과 같습니다.

- java 11
- spring boot 2.7.1
- gradle 7.5

책이 3년 전에 출판된 것이다 보니 다른점이 은근 많았고, 현재와 다른 부분들을 해결하여 나름 정리를 해보았습니다.

저도 코딩을 시작한지 얼마 안된 코린이다보니, 완벽하게 원리까지 정리는 할 수 없었습니다만,

혹시나 도움이 되실까 싶어서  제가 정리한 블로그 글을 공유드리며, 혹시 모르니 다른 자료들도 검색하여 함께 확인하시기를 바랍니다 ㅎㅎ;;

현재 복습을 하면서 추가로 발견되는 차이점이 있으면 꾸준히 추가하고 있습니다.

4~7장
https://velog.io/@kimsy8979/스프링-부

[2022-08-23 14:24] kdw4831 commented on #732
저도 같은 케이스이네요

[2022-08-23 15:03] head1st-github commented on #823
안녕하십니까?
2~3장 변경된 부분도 정리해주시면 따라하는데 도움이 될 것 같습니다.

[2022-08-23 15:06] #772 closed, assigned to jojoldu

[2022-08-24 08:04] kdw4831 commented on #823
혹시 192page에서 구글 로그인 창까지는 들어가는데 클릭 후에 db에도 로그인 정보가 db에도 안들어가고 똑같이 google로그인이라고 떠 있어서 혹시나 도움을 받을 수 있을까 글을 남겨 봅니다.

[2022-08-25 22:15] ktdvlp-jih opened #824 "[오류] p.191 구글로그인 오류"
### 어떤 오류인가요?

오류설명: 구글 로그인 API 작성중인데 어떤 오류 때문이지 잘 모르겠어요 버전은 똑같은 버전입니다.
4장까지는 오류없이 했는데 구글 로그연 연동 163p~191p까지 작성하고 테스트 할려고 실행할려는데
Error creating bean with name 'securityConfig' 이렇게 뜨면서 안되네요 의존성도 정확히 주입했고 구글 id,secret 코드도 정확히 입력 했습니다.

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.

* Github URL:  https://github.com/ktdvlp-jih/ggurys-springboot-webservice_dvlp

### 오류 로그

Error starting ApplicationContext.

[2022-08-26 10:21] songjaeheon commented on #786
저도 또한 같은 문제가 발생합니다.
----
(2022년 8월 27일)
[프로젝트]-webservice/src/main/java/com/jojoldu/book/springboot/config/auth/SecurityConfig.java 에서
chained method에 .and().oauth2Login().defaultSuccessUrl("/", true) 추가하면 됩니다. oauth 로그인 시 기존 마지막에 접근한 url에 리디렉트하기 때문에 발생한다고 합니다.
(참고 url: https://stackoverflow.com/questions/53221381/uncorrect-redirect-after-login-spring-boot?utm_source=pocket_mylist)

[2022-08-26 15:08] SeolYoungKim commented on #823
@head1st-github 넵 조언 감사합니다. 확인해보니 2장에 테스트 코드부분(JUnit4 vs JUnit5)만 차이가 있고 3장까지 별다른 차이점을 발견하지 못했습니다 🥲 나중에 추가적으로 확인되면 정리해보도록 하겠습니다 ^^

[2022-08-26 15:09] SeolYoungKim commented on #823
@kdw4831 도움을 드리고싶지만 소스코드나 에러코드같은 게 없으면 제가 무엇이 원인인지 확인해볼 수가 없습니다 ㅠ.ㅠ 죄송합니다 ㅠ

[2022-08-26 15:17] SeolYoungKim commented on #824
혹시 자바 버전과 스프링 시큐리티 버전이 책과 다르신가요?
버전이 책과 다르신 경우
SecurityConfig 클래스 상에서, SecurityFilterChain을 등록하는 방법이 책이랑 다릅니다. 이부분을 확인해보시면 좋을 것 같습니다!

- 책에서는 `WebSecurityConfigurerAdapter`를 상속받아 오버라이딩 방식으로 SecurityFilterChain을 등록하였습니다.
- 최근에는 `WebSecurityConfigurerAdapter`는 deprecated되어 사용하지 않으며, @Bean으로 SecurityFilterChain을 등록합니다.

그리고 소스코드가 404에러가 떠서 안들어가집니다ㅠㅠ

[2022-08-28 12:43] ktdvlp-jih commented on #824
자바 버전이 조금 다른거 같긴한데 예제코드에서 클라이언트 id와,secret값 받아서 쓰는 코드부분이 다르더라구요 처음에 버전을 다르게 해서 하느라 이부분은 교체했었는데 그후 버전 다운그레이드 한후에 변경을 안해서 코드 오류가 났던거더라구요..
감사합니다.!! 문제는 해결했습니다!

[2022-08-28 12:44] ktdvlp-jih commented on #824
자바 버전이 조금 다른거 같긴한데 예제코드에서 클라이언트 id와,secret값 받아서 쓰는 코드부분이 다르더라구요 처음에 버전을 다르게 해서 하느라 이부분은 교체했었는데 그후 버전 다운그레이드 한후에 변경을 안해서 코드 오류가 났던거더라구요..
감사합니다.!! 문제는 해결했습니다!

[2022-08-30 07:35] index79 commented on #151
CURRENT_PID=${pgrep -f ${PROJECT_NAME}.*.jar) < -- 오타 발견!!

CURRENT_PID=$(pgrep -f ${PROJECT_NAME}.*.jar)< -- 수정 후 정상 작동

[2022-08-30 07:37] index79 commented on #151
그리고 빌드 할때마다 jar 파일이 계속 생성되어서

echo "> 프로젝트Build 시작"

rm $REPOSITORY/$PROJECT_NAME/build/libs/* <-- 추가 해주시면 편합니다 ^^

[2022-08-31 20:42] chanwooo opened #826 "[오류] p.184 구글 로그인 - 로그인이 성공되지않고 로그인페이지가 반복적으로 떠요"
---
자답 : swagger를 추가했더니 생긴 문제였습니다..
---

### 어떤 오류인가요?

오류설명:

jdk 11
springboot 2.7.3
sb 2.7이상에서 WebSecurityConfigurerAdapter가 deprecated 되었지만..
일단 권한부분은 잘 동작하는듯해서 이것과는 상관 없는 문제라고 생각하고있어요.

로그인이 성공되지않고 구글 로그인페이지가 반복적으로 떠요.
db를 확인해보니 user는 insert가 잘 된 상황.
로그를 따라가다보니 CustomOAuth2UserService 클래스의
**httpSession.setAttribute** 가 있는 라인(line 43)에서 에러가 발생해요.

38, 41, 44라인의 print는 debug를 위해 추가해봤는데.
38,41라

[2022-09-01 19:42] chanwooo commented on #826
자답입니다.. 맘대로 추가해봤던 swagger와 뭔가 문제가 있었던거같아요. 혹시?하고 swagger의존성 삭제하니까 정상동작하네요..
일단은 스웨거를 지우고 동작하는걸 확인했는데
스프링시큐리티가 붙어있어도 스웨거를 붙이고싶은 상황이 분명 필요할텐데 이럴땐 어떻게해야하지? 라는 의문점과
스웨거가 왜 세션에 값을 넣는걸 안되게할까 라는 의문점이 남네요

[2022-09-02 11:54] hyecozy commented on #697
이거 원인이 도대체 뭘까요? 저도 이렇게 되는데 책을 참고하시는 분들 모두가 MySQL WorkBench를 설치해서 하고 있을 것 같진 않아서 원인이 너무 궁금하네요

[2022-09-04 03:00] Gom3rye opened #827 "[오류] p.210"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 구글 로그인까지는 잘 되었는데 네이버 로그인 기능을 추가하려고 할 때 https://velog.io/@kimsy8979/%EC%8A%A4%ED%94%84%EB%A7%81-%EB%B6%80%ED%8A%B8%EC%99%80-AWS%EB%A1%9C

[2022-09-04 06:23] SeolYoungKim commented on #827
안녕하세요!
확인해보니 제 블로그 글의 `antMatchers()` 메서드의 url주소를 그대로 복사하신 것으로 보입니다..!
제가 22.08.20에 추가한 내용의 url 주소는 제 개인 프로젝트의 url 주소입니다 ㅠ.ㅠ 이부분을 제가 신경쓰지 못했네요
일단 일차적으로 그부분 한번 확인 부탁드립니다!!

제가 제 컴퓨터로 선생님 깃허브에 올려진 코드를 클론해서 확인해본 결과, 잘 실행되는 것을 확인했습니다. (oauth 설정파일(application-oauth)은 제것을 사용했습니다.)
<img width="688" alt="image" src="https://user-images.githubusercontent.com/100072078/188300829-3dc3cad1-d36e-46b3-b7ea-506b

[2022-09-06 01:46] songjaeheon commented on #811
jcenter는 deprecated되어서 더이상 사용이 불가합니다.

[2022-09-06 06:59] Gom3rye commented on #827
앗 덕분에 antMatchers() 부분을 고쳤고 application-oauth2 파일을 확인했는데 책과 같아서 다른 곳에 문제가 있는 것 같습니다ㅜㅠ 답변 남겨주셔서 감사합니다!!

[2022-09-07 05:47] yeongseoPark opened #828 "[오류] 혹시 조회기능(Get)에 대한 테스트를 만들어 보신분 있나요??"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: "/api/v1/posts/{id}" 에 대한 테스트를 작성하고 싶은데, 자꾸 오류가 나서 테스트가 돌아가질 않네요ㅠㅠ

### 프로젝트 주소

[code]

### 오류 로그
해당 코드에 대한 오류는 다음과 같고,
org.springfram

[2022-09-07 07:12] yeongseoPark commented on #828
andDo() 로 요청을 이어보려 해도 여전히 해당 게시글이 없습니다. 오류가 뜨네요 ㅠ

[code]

[2022-09-07 09:29] SeolYoungKim commented on #828
안녕하세요!
저도 궁금해서 똑같이 테스트 해봤는데, 잘 되는것을 확인했습니다.
아무래도, url2의 String url2 = "http://localhost:" + port + "api/v1/posts/1"; <-- 글 ID 할당 부분이 잘못된 것 같습니다.

동시에 여러 테스트를 돌리실 경우, 혹은 DB가 완전히 초기화가 되지 않고 계속 값이 쌓였다 지워졌다 할 경우, 선생님이 저장하신 글의 ID가 1이 아닐수도 있기 때문일 것이라고 예측이됩니다.

![image](https://user-images.githubusercontent.com/100072078/188843202-b81db0bf-8b0d-4866-a2fe-134f613e341e.png)

위와 같이 리포지토리에서 직접 글을 가져와서 ID를 얻어

[2022-09-07 14:02] yeongseoPark commented on #828
안녕하세요! 일단 감사하다는 말씀 드리고 싶습니다. 말씀해주신 부분들이 모두 맞네요.
우선, pk값을 @GeneratedValue(strategy = GenerationType.IDENTITY)  로 설정해 두었기에 모두 삭제에도 불구하고, pk값은 1부터 시작하는 것이 아닌, 이전값 + 1부터 시작하는 것을 놓쳤습니다. 정신차리고 다시 보니 posts_수정() 테스트도 같은 메커니즘으로 id 값을 엔티티로부터 받아오고 있더군요 ㅎㅎ..
그리고 말씀주신대로 기존의 코드는 get 기능의 테스트 안에서 post까지 테스트 하고 있기에, 유닛 테스트로 적합하지 않은 듯합니다. post기능을 거치지 않고 바로 Service를 통해 저장하는 방식으로 바꾸었습니다.

제가 h2 데이터 베이스를 사용하지 않고, mysq

[2022-09-07 14:09] SeolYoungKim commented on #828
도움이 되셨다니 다행입니다!
즐코하세요!

[2022-09-15 08:25] Youngju-Jang opened #829 "[오류] p.311 nohup.out"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!
### 어떤 오류인가요?
p310페이지까지 진행후, curl localhost:808에서 부터 막히고 있습니다ㅠ
p306의 8080 포트 뜨는것까진 어찌저찌 성공했었구요
(308p)RDS테이블생성 완료,
 309p application-real.properties
![image](https://user-images.githubusercontent.com/77484084/190351563-f879aa95-7a42-4ad0-b939-24d104874644.png)

309p application-real-db.properties
![image](https://user-images.githubusercontent.com/77484084/190351771-2967ce

[2022-09-15 13:43] Hotmintchoco opened #830 "[오류] p.305페이지"
### **오류설명:**

application-oauth.properties파일을 생성하고 작성을 완료했습니다.
기존의 파일에서 가져와서 그대로 붙여넣기한 내용 입니다.
![oauth파일](https://user-images.githubusercontent.com/95326550/190415798-1f273aa6-6c41-4150-9664-315792a37cf4.png)

이후에 deploy.sh파일도 수정하였습니다.
![오류1](https://user-images.githubusercontent.com/95326550/190416350-3952bb57-5d98-4a58-9d5b-974242c41742.png)

하지만 아래의 캡쳐본처럼 마지막에
[ec2-user@springboot2-webservice

[2022-09-15 18:06] SeolYoungKim commented on #830
$JAR_NAME > $REPOSITORY/nohup.out 2>&1 &

위와 같이 jar 파일의 출력이 > $REPOSITORY/nohup.out 으로 지정되어야 하는데
스크립트 맨 마지막 부분을 책이랑 조금 다르게 작성한 것 같습니다. 한번 확인해보시면 좋을 것 같아요!

[2022-09-15 18:09] SeolYoungKim commented on #829
deploy.sh 파일의 맨 마지막줄이
$JAR_NAME > $REPOSITORY/nohup.out 2>&1 & 이렇게 작성되어야 할 것 같습니다!

[2022-09-16 00:47] Hotmintchoco commented on #830
![변경한 deploy](https://user-images.githubusercontent.com/95326550/190532072-1fc1aa98-1b96-42bc-aafc-94ef03567262.png)
와 같이 변경을 했습니다. 말씀하신 내용대로 한지는 모르겠지만.. 그래도 따라 변경했는데 오류는 발생하지 않지만,

![deploy sh 실행화면](https://user-images.githubusercontent.com/95326550/190532156-0fd9147f-e16f-4e97-936c-f8e0b35e0e67.png)

해당 화면처럼 책에서 작동해야 한다고 하는 tomcat서버 실행은 하지 않습니다.

[2022-09-16 02:38] SeolYoungKim commented on #830
그렇게 수행하시고 난 후, `vim nohup.out` 명령 을 이용해서 nohup.out 파일에 서버 실행내역이 있는지 확인해주실 수 있을까요..?!

[2022-09-16 02:45] Hotmintchoco commented on #830
![화면 캡처 2022-09-16 114347](https://user-images.githubusercontent.com/95326550/190545506-123abf0b-7577-4cdb-b8e1-d41a68697ea6.png)
이렇게 나옵니다.

[2022-09-16 02:54] SeolYoungKim commented on #830
두 번째 로그를 보니 `No active profile set...` 이라고 적혀있습니다.

이는 프로필 파일(설정 파일)이 제대로 적용이 안 된 것으로 보입니다..! 그래서 선생님께서 올려주신 deploy.sh 파일을 보니 오탈자가 약간 있는 것 같습니다.

-Dspring.config.location으로 설정 파일 옵션을 넣어준 곳에 `application.properries` -> `application.properties` 로 변경해주셔야 할 것 같고, `classpath:/application.properties,/home/ec2...` 이렇게 서로 다른 설정 파일은 `.` 이 아닌 `,(콤마)`로 바꿔보셔야 할 것 같습니다.

책이랑도 한번 비교를 해보시면 좋을 것 같아요!

[2022-09-16 03:13] Hotmintchoco commented on #830
감사합니다. 말씀하신대로 오타를 수정하니까 프로필 파일에는 적용이 되었습니다. 톰캣 서버가 실행된다는 부분 외에는 정상적으로 작동하는 듯 합니다.

[2022-09-16 03:13] #830 closed, assigned to jojoldu

[2022-09-18 10:17] Hotmintchoco commented on #806
설명을 잘해주신 덕분에 많이 해결했습니다. 혹시 마지막에 commit, push를 하면 배포 자동화가 되어야 하는데 저는 계속 Actions에서 직접 해줘야 하네요.

다른 점은 제 인텔리제이에 out폴더가 없습니다. 배포 자동화 외에는 다 되는데 뭐가 문제일까요..

[2022-09-18 10:57] SeolYoungKim commented on #806
안녕하세요! 작성자는 아니지만, 도움을 드릴 수 있을까 하여 댓글 남깁니다.
제가 선생님의 댓글만 보고는 문제를 알 수 없기때문에, 혹시 GitHub 주소를 올려주시면 저도 함께 확인이 가능할 것 같습니다.

그래도 추측으로나마(?) 확인해볼 수 있는 부분은 yml 설정 파일입니다.

제가 구성하여 테스트한 GitHub Actions 설정 파일 전문을 올려드리오니, 확인 한번 해보시면 좋을 것 같습니다.

주로 보시면 좋을 것 같은 부분은 다음과 같습니다.
- `on:` 에 소속된 부분이 push 및 push된 브랜치에 반응하여 자동 CI를 수행하는 코드입니다.
- 아마 선생님께서 수동으로 배포 시 문제가 없으시다면, jobs 부분 보다는 on: 에 설정이 잘못되어 있을 것이라고 사료됩니다.
- 혹시 수동으

[2022-09-18 11:04] Hotmintchoco commented on #806
수동 배포는 잘되고 있습니다. commit, push를 이용한 배포는 이루어지지 않고 있고요. 설정 파일은 맞게 작성한 것 같습니다..

깃허브 주소는 https://github.com/Hotmintchoco/springboot-webservice 입니다.

[2022-09-18 11:07] SeolYoungKim commented on #806
![image](https://user-images.githubusercontent.com/100072078/190898947-babf3fff-f9a5-4daa-b021-f0d1ba30ef3d.png)

선생님 안녕하세요!
선생님의 리포지토리를 확인해보니 branch가 master 브랜치입니다.

![image](https://user-images.githubusercontent.com/100072078/190898977-29c17589-5d9a-42ea-ab03-3f50fc91d5af.png)
선생님의 GitHubActions 설정 파일을 확인해보니 [main]이라고 적혀있는데요..! 혹시 해당 부분 master로 변경 후에도 문제가 있는지 확인해주실 수 있을까요??

[2022-09-18 11:12] Hotmintchoco commented on #806
오.. 됐어요 감사합니다. 제 branch에 맞게 설정했어야 했군요. 정말 감사합니다.

[2022-09-18 11:13] SeolYoungKim commented on #806
아닙니다 ㅎㅎ 도움이 되셔서 정말 다행입니다! 즐코하세요!

[2022-09-19 02:51] Youngju-Jang commented on #829
알려주신대로 했는데
![image](https://user-images.githubusercontent.com/77484084/190942492-d8d81e66-6f4f-41c6-8e65-144e76210ca4.png)
이런에러로 바뀌네요ㅠㅠ

[2022-09-19 03:12] SeolYoungKim commented on #829
혹시 깃허브 주소를 주실 수 있을까요..?!
이렇게만 봐서는 원인을 파악해보기가 어렵네요 ㅠ.ㅠ

[2022-09-20 02:46] Youngju-Jang commented on #829
Github URL:
https://github.com/Youngju-Jang/BookStudy.git
여기한번 봐주시겠어요?ㅠㅠ

[2022-09-20 03:30] SeolYoungKim commented on #829
제가 v3 스크립트랑 헷갈렸네요... 잘못된 정보를 드리게되어 죄송스럽습니다 ㅠ
일단 선생님이 작성하신 nohup관련 코드는 문제가 없어보입니다 ㅠㅠ 그리고 깃도 올리셨었네요.
좀 더 꼼꼼히 봤어야했는데 죄송합니다.

제가 알 수 있는 부분이 한정적인 상황이라 조심스레 추측밖에는 못해드린다는 점 양해부탁드립니다...!

선생님의 깃을 확인해보니,
확인하시면 좋을 것 같은 부분이 몇 가지 있습니다.

`application-real.properties`
[code]
`spring.jpa.properties.hibernate.dialect.storage_engine=innodb`을 지정해보세요. 최근들어서 storage_engine을 지정해줘야 제대로 작동하는 것으로 알고있습니다.

그리고 해당 메세지들을 검색

[2022-09-20 07:14] chicker94 commented on #174
감사합니다.. 저는 post라고 썻네요..

[2022-09-21 07:49] viaunixue opened #831 "[오류] 204p - 211p 네이버로그인 오류"
### 어떤 오류인가요?

오류설명:

네이버 로그인 설정 과정에서 자꾸 다음과 같은 화면으로 넘어갑니다.
<img width="941" alt="화면 캡처 2022-09-21 163707" src="https://user-images.githubusercontent.com/77084379/191444445-dc52f686-ff63-4651-b377-fcbe8b39c402.png">

해당 오류가 비슷하게 나신 분 이슈도 확인해 보았는데,
네이버 연결된 서비스 관리 > 네이버 로그인/인증서 페이지로 서비스 동의 철회하고 다시 시도해보아도 다음과 같은 에러가
계속 발생합니다. 원인이 뭔 지 알 수 있을까요..
### 오류 로그

네이버 로그인 페이지에서 이름, 이메일주소, 프로필사진이 필수 체크목록이라 체크

[2022-09-21 10:44] SeolYoungKim commented on #831
![image](https://user-images.githubusercontent.com/100072078/191483851-d1012f80-8471-4f59-b7cf-4e9a3265941e.png)

CustomOAuth2UserService 의 37번과 48번을 보시면 코드가 중복됩니다.

해당 문제가 발생한 이유는 아래와 같습니다.

OAuthAttributes.java의 로직 자체가 registrationId가 naver면 naverOf가 수행되고,
다른 registrationId일 경우 google로 판단되어 google.of를 수행합니다.

그래서 구글의 경우 로그인이 잘 되지만, naver는 제대로된 처리를 받지 못해 email값을 추출해내지 못해 null인 상태입니다.
그래서 User 엔티티

[2022-09-21 10:45] SeolYoungKim commented on #831
그리고 선생님 레포에 이슈를 하나 남겨두었으니 꼭 확인 부탁드립니다!

[2022-09-21 10:45] SeolYoungKim commented on #831
그리고 하나 더 말씀드리자면, 레포에 실수로 oauth관련 설정 파일을 올리신 것 같아요. 삭제 하시는 것이 좋을 것 같습니다.

[2022-09-21 11:47] viaunixue commented on #831
설명 너무 감사합니다. oauth 설정파일 문제까지 빨리 수정하겠습니다. 분명 gitignore 파일에 올렸는데 이상하네요

[2022-09-21 12:13] tato126 opened #832 "[질문] 73&76p 에서 assertThat과 JsonPath는 어떤 상황에서 사용하는지 궁금합니다."
![image](https://user-images.githubusercontent.com/73628088/191500578-deb475dd-30d1-409a-8f46-d1031811f2de.png)

![image](https://user-images.githubusercontent.com/73628088/191500864-b6c31a18-ba1d-4e65-a001-1394dbac1f10.png)

둘이 비교하고 검증하는 듯한데 사용을 달리 할 상황은 어떤 때인지 다르다면 어떻게 다른지 궁금합니다!
(질문은 이렇게 작성하면 되는걸까요?)

[2022-09-21 19:08] SeolYoungKim commented on #832
안녕하세요 선생님.
제가 아는 한도 내에서 말씀드려보고자 합니다.
제가 최대한 사실만을 적도록 노력했으나, 틀린 부분이 있을 수 있습니다. 제 의견은 선생님께서 공부하실 키워드를 얻는 용도로만 생각해주세요!

둘 다 검증을 하기 위한 도구는 맞습니다. 하지만, assertThat과 jsonPath는 각각 사용처가 다릅니다.

jsonPath는 말 그대로 "JSON"이라는 데이터 형식에 대한 검증을 하기 위한 용도입니다.
예를 들어서, 글을 조회하기 위한 GET 요청을 보내면, 아래와 같은 JSON 데이터를 응답해준다고 생각해봅시다.
[code]

우리는 "title" 이라는 필드에는 "제목입니다"가 제대로 들어갔는지,
"content"라는 필드에는 "내용입니다"가 제대로 들어갔는지를 확인해야 합니다.

그러

[2022-09-22 23:02] tato126 commented on #832
답변이 늦어 죄송합니다!
정말 상세하게 작성해주셔서 큰 도움이 되었네요
덕분에 공부하는데에 도움이 되었습니다
감사합니다 좋은 하루 보내세요🤩

[2022-09-23 08:03] kariskan opened #833 "p.213 JUnit 5 + Spring Security를 통한 테스트"
현재 Spring Security 5.7.3 + JUnit 5를 통해 로그인 기능 테스트 적용 중입니다.
그런데 책과는 약간 다르게, 213p의 **문제1. CustomOAuth2UserService을 찾을 수 없음** 이 생기지 않더군요.
IndexControllerTest의 Posts_수정된다() test와 HelloControllerTest의 hello가_리턴된다() 모두
"USER" 권한을 가지고 있어야 성공할 테스트 같은데,
hello가_리턴된다() test는 왜 @WithMockUser(roles = "USER")이 없어도 통과되는지가 궁금합니다.

git: https://github.com/kariskan/springboot2-webservice

[2022-09-25 06:46] woohyeonjoe opened #834 "[오류] p.311 Unable to start embedded Tomcat 문제"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: deploy.sh 실행후 nohup.out을 확인해 보면 tomcat이 실행이 안되는 것 같습니다.

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

[2022-09-25 13:56] yeojin1111 commented on #2
gradle 최신 7.4 버전으로 테스트 했고

dependencies {
    implementation 'org.springframework.boot:spring-boot-starter-web'
    implementation 'org.projectlombok:lombok'
    annotationProcessor('org.projectlombok:lombok')
    testImplementation 'junit:junit:4.13.2'
    testImplementation 'org.springframework.boot:spring-boot-starter-test'
}

이렇게도 동작됩니다

[2022-10-07 07:41] jinugi214 commented on #212
감사합니다!

[2022-10-07 13:56] WooHCode commented on #732
저도 같은경우였는데 우선 로그인이 화면이 나오고 로그인이 된거처럼 페이지 전환이 있었는데 로그인버튼만 나오시는 분들은
application-oauth.properties에 오타가 없는지, 그리고 application.properites에 spring.profiles.include=oauth부분도 오타확인해보세요~

[2022-10-09 05:13] chlcken2 opened #835 "[오류] p.62"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:

처음에는 RunWith를 읽지 못해서 juni5 -> juni4로 변경했습니다
이후에는  .perform 부분을 읽지 못하네요... 구글 검색해서 비슷한 조건 적용해보았는데
<img width="782" alt="2022-10-09_14-1

[2022-10-09 05:35] #835 closed, assigned to jojoldu

[2022-10-09 05:35] chlcken2 commented on #835
해결했습니다.
import org.junit.jupiter.api.Test; ->  import org.junit.Test;

[2022-10-09 05:36] chlcken2 commented on #835
<img width="230" alt="2022-10-09_14-35-56" src="https://user-images.githubusercontent.com/67785225/194739836-95e551e3-1ece-407b-9da9-b1b7607eaf66.png">
이렇게 계속 빨간줄이 생기는건 인텔리제이 버그 같습니다

[2022-10-09 07:58] chlcken2 commented on #174
_### * vi -> v1 오타가 아닌 다른 문제로 생기시는 분들 참고하세요_

저는 h2 설정에 대한 문제로 인해 발생한 에러입니다.
build.gradle과 application.properties에 아래와 같이 설정 합니다.

**-build.gradle-**
implementation 'org.springframework.boot:spring-boot-starter-jdbc'
runtimeOnly 'com.h2database:h2'

**-application.properties-**
spring.datasource.url=[h2 경로]
spring.datasource.driverClassName=org.h2.Driver
spring.datasource.username=sa
spring.dataso

[2022-10-12 16:24] WooHCode opened #837 "[오류] p.212"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)
![image](https://user-images.githubusercontent.com/112393201/195396983-707d1421-af3e-4234-8f38-d7ba9171b5c0.png)

### 어떤 오류인가요?

오류설명: 212페이지에 Tasks에서 test로

[2022-10-14 13:32] tlaehdrbs commented on #795
시간이 많이 지났지만 혹시나 같은 에러를 마주하는 분들을 위해!

*인바운드 규칙에 두 가지가 포함되야 하는 것 같습니다.
 1) RDS <-> EC2
 2) RDS <-> IP adress

즉, RDS에 EC2관련 인바운드 규칙을 추가하시고(p.281)
본인 IP 또한 추가하시면 됩니다.(EC2 인바운드 규칙에 추가하는 것과 동일한 내용)

+공유기를 쓰신다면 공인IP로!

[2022-10-20 07:27] bighit2020 commented on #715
위와 똑같은 에러 메시지이며, 몇일째 고민하고 있습니다. 급기야 저자가 만든 파일을 가져다가 Ulitimate로 실행해도 똑같이 나옵니다. 혹시 실행이 되신분이 계시면 index.js파일을 올려 주세요!
그리고 Community 버전은 js파일을 실행 못하는게 맞는지요?

[2022-10-22 03:37] Griotold commented on #520
와 감사합니다. 이게 저의 상황에서 해답이었어요. 실제로 저 또한 preview에 소스가 반영이 안되어 있네요. 등록은 잘 되는데 수정이랑 삭제는 왜 안될까 1시간 헤맸는데 님 덕분에 해결했습니다. 고맙습니다.

[2022-10-25 03:15] Griotold commented on #525
와 딱 여기서 막혀서 이슈 게시판 찾아보고 있었는데 정말 고맙습니다.

[2022-10-25 08:22] chlcken2 opened #838 "[오류] p.292 rds에서 테이블 조회가 안됩니다."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 터미널에서 조회 결과에 생성한 테이블이 보이지 않습빈다.
<img width="305" alt="2022-10-25_17-15-30" src="https://user-images.githubusercontent.com/67785225/1977

[2022-10-26 00:07] KIMHAUN commented on #772
이거 해결하셨나요? ㅠㅠ

[2022-10-26 00:09] devmizz commented on #772
아뇨.. 아쉽게도..

[2022-10-26 00:36] KIMHAUN commented on #772
classpath:/를 절대경로로 하니까 에러가 바뀌긴 했어요

[2022-10-26 05:48] KIMHAUN commented on #745
이거 혹시 해결하셨나요?

[2022-10-26 06:55] john26262626 commented on #462
@LEE-JANGWO 안녕하세요 해당 문제 해결하셨나요?? 2년이나 지났지만... ApplicationTest 파일에 @SpringbootTest를  주석 처리해주니까 실행됩니다 ㅎㅎ

[2022-10-26 07:51] keunoh commented on #482
EC2 인스턴스에서 검사가 모두 완료된 다음 putty 접속하면 활성화됩니다. 즉, EC2 리부팅하시고 좀 기다리셔야해요

[2022-10-28 08:01] SteadyKim commented on #800
드래그로 선택한 후 실행하면 된다. 가 정확히 무슨 뜻인가요?? ㅠㅠ 저도 같은 오류를 겪고 있는데 책에 그 설명이 어디있는지 모르겠습니다

[2022-10-29 03:11] chlcken2 commented on #829
posts 스키마를 생성하고 배포해보세요

[2022-10-31 08:25] SteadyKim commented on #84
gradlew test 시
test 이름을 모두 영어로 바꾸어 봤는데 여전히 문제가 발생하네요

./gradlew clean build -x test 로 빌드하면 되긴 합니다. 근데 이건 test를 안하고 빌드한다는 명령어이므로 결국 문제를 해결하지 못했습니다.

[2022-11-09 06:29] KIMTAEKJUN opened #839 "[오류] p.134 테스트 오류"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: 테스트가 돌아가지 않습니다

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL: https://github.com/KIMTAE

[2022-11-09 07:08] KIMTAEKJUN commented on #839
스프링 부트 버전을 2.7.5에서 2.6.13으로 내리니까 해결 됐습니다 !!

[2022-11-09 07:08] #839 closed, assigned to jojoldu

[2022-11-10 11:37] sangeon22 commented on #123
테스트 코드 작성하다가 저도 궁금했는데 바로 답변이 있네요 감사합니다 ㅎㅎ

[2022-11-10 14:21] leenclair opened #840 "[오류] p.305,306 nohup.out 에러"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:Error 메시지가 나오며 책과 같이 진행되지 않습니다. 동일한 에러를 보지 못해서 질문드려요. 혹시 이미 있던 질문이라면 죄송합니다.

Error: Invalid or corrupt jarfile /home/ec2-user/app/step1/

[2022-11-12 17:30] KORDayDream commented on #392
DBbrowser의 경우 바로 적용되는게 아니라 commit을 거쳐야(git으로 따지자면 update 쳐봤자 local commit이고 push를 해야 합니다) 해서 그렇습니다. Update치고 나면 UI가 바뀌는 부분이 있는데 commit하고 나면 user로 정상 변경됩니다.

[2022-11-13 07:05] seungwonB commented on #805
어떻게 해결하셨나요?

[2022-11-13 11:35] chlcken2 commented on #806
@SeolYoungKim  안녕하세요 덕분에 깃헙 액션을 하고 있는데요 ㅠㅠ

<img width="1048" alt="2022-11-13_20-33-36" src="https://user-images.githubusercontent.com/67785225/201519575-a83666e1-1a36-4479-aaed-b8241dd57856.png">

[code]
를 작성하고 나서부터 오류가 납니다..ㅠㅠㅠ 뭐가 문제일까요??

[2022-11-13 17:07] wohok commented on #586
감사합니다... 리눅스2라 그랬군요...

[2022-11-14 08:38] leemms102 opened #841 "[오류] p.309 ~ p.311 어플리케이션 구동 실패"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:

### 프로젝트 주소

Github에 오류가 난 프로젝트를 올려주세요.
**Github 주소를 작성해주지 않으시면 답변해드릴수가 없어요!**

* Github URL:

### 오류 로그

어떤 오류인지 캡쳐해주세요.

![deploysh]

[2022-11-14 08:52] SeryLee opened #842 "[오류] p.311"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:
1. db 설정 파일이 잘못되었는지 ddl-auto 를 none으로 하고, rds에 직접 posts 테이블 생성 후 실제 테이블 생성되었는지 확인도 했는데 POSTS 테이블을 찾을 수 없다는 오류가 생깁니다.

![image](https://

[2022-11-14 09:03] leemms102 commented on #841
스프링부트 최신 버전에 맞게 properties들을 아래와 같이 수정하고 다시 시도해봤지만 동일한 에러 로그가 출력됩니다.

![image](https://user-images.githubusercontent.com/24623006/201618647-f2a0e968-a9b5-43ca-87b9-2af85d75a5f3.png)
![image](https://user-images.githubusercontent.com/24623006/201619000-4d07f5ce-028a-48b1-b3d8-99c15ef0e19f.png)

[2022-11-16 15:01] KORDayDream commented on #841
application-db-real에 유저네임 비밀번호 공개하시면 안될 것 같습니다!
그리고 .properties 파일은 주석을 // 가 아니라 # 으로 다는 것으로 알고 있습니다!

[2022-11-16 15:11] KORDayDream commented on #842
rds에 테이블 생성하는걸 intellij의 dbbrowser로 하셨다면 커밋이 필요합니다! git이 local에 commit하고 remote에 push하는 것처럼 db browser도 변경사항을 커밋해야 하더라구요.

그리고 -plain 없애는 명령어가 spring boot 버전마다 다른 듯 합니다!

[2022-11-16 15:13] KORDayDream commented on #840
/home/ec2-user/app/step1/build/libs 안에 jar 파일이 뭐뭐 있는지 확인하셔야 될 것 같아요

[2022-11-17 09:34] sangeon22 commented on #803
로그인 부분 주석처리가 안되있어서 그럴거에요 저 화면은 디폴트 로그인 페이지라
application.properties나 따로 로그인 부분 주석 안되어있는지 체크해보세요

[2022-11-18 11:19] Juuuic commented on #831
혹시 해결하셨나요? 저도 이메일 부분이 자꾸 null이라고 뜨는 오류가 발생해서요

[2022-11-18 16:39] JeongJinWooSouthKorea opened #843 "[오류] p.63 테스트코드 실행 에러(HelloControllerTest.java)"
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명: HelloControllerTest.java 에서 테스트를 실행시 .andExpect(status().isOk())를 수행하는 부분에서 에러가 납니다.
계속해서 페이지 (/hello) 체크를 할 때 200이 아닌 404 에러가 나서 테스트코드

[2022-11-18 17:02] heoj10272 opened #844 "[오류] 400 오류: redirect_uri_mismatch 나시는 분 한 번 확인해보세요."
기존에 올라온 질문이 아닌지 먼저 검색해주세요!

## 가장 자주 나온 제보

* [P.105 @PutMapping("/api/v1/posts")](https://github.com/jojoldu/freelec-springboot2-webservice/issues/6)
* [P.111 Posts.update](https://github.com/jojoldu/freelec-springboot2-webservice/issues/15)

### 어떤 오류인가요?

오류설명:

### 프로젝트 주소

### 오류 로그

로컬에서는 잘 되는데, `EC2`에서만 구글 로그인 오류가 나는 분들, `EC2` 내부 `application-oauth.properties` 확인해보세요.
client-id, client-secr

[2022-11-18 17:02] #844 closed, assigned to jojoldu

[2022-11-21 16:30] #304 closed

[2022-11-22 08:23] sangeon22 opened #845 "[정보 공유] ec2 서버 hostname 변경"
책에서는 Amazon Linux 1인데 서비스 종료인것으로 압니다.
Amazon Linux 2는 Hostname rename 명령어가 달라서 공유해봅니당..

[as-is]
$ sudo vim /etc/sysconfig/network

[to-be]
$ sudo hostnamectl set-hostname springboot-webservice
$ sudo reboot

[2022-11-23 04:11] SeryLee commented on #842
@KORDayDream 말씀해주신대로 커밋후에 시도해봤는데 안되네요ㅠ  심지어 testdb h2 콘솔에 들어가서 확인했을때도 POSTS 테이블이 있는데도 자꾸 같은 오류가 생겨요...
그리고 스프링부트 버전에 맞는 -plain 파일 없애는 명령어도 찾으려 시도했는데 못찾았어요ㅠㅠ 제 스프링 버전은 2.6.7 입니다ㅠ

[2022-11-23 09:03] philE22 commented on #845
오 안그래도 찾고있었는데 바로 해결했습니다. 감사합니다~